[2021-10-06 23:38] MaxRink commented on #712
or https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/ansible/roles/setup/tasks/debian.yml#L51, which does a dist upgrade.
That should also yield 20.04.3

[2021-10-06 23:39] akutz commented on #712
Well there you go. All I know is what I see in your log from above :)

[code]

That sure looks like Cloud-Init 21.3 ~ 20.04.3 to me.

Okay, well, based on your latest response, it seems y'all are upgrading to 20.04.3 and pulling in Cloud-Init 21.3 and **not** removing the old DS logic. That ain't good :)

[2021-10-07 22:20] akutz commented on #712
Well crud, it's not the presence of both datasources. I just rebuilt the Ubuntu OVA with the following patch:

[code]

And I can verify I get the same error, and that only the new DataSourceVMware is present:

![ScreenCapture-2021 10 07-17 17 46](https://user-images.githubusercontent.com/101085/136470039-d175610a-2a08-4927-bf8a-08fcafc161a2.png)
![ScreenCapture-2021 10 07-17 17 55](https://user-im

[2021-10-07 22:33] akutz commented on #712
Ah, I believe the hostname isn't being set exactly *because* of the DNS being set correctly and the local IP unable to be resolved via that DNS server.

[2021-10-08 01:09] akutz commented on #712
This is occurring because the current value of `_iface` has the renamed interface, not the original key from `iface`. This is confirmed with the addition of some logging:

[code]

This produces the following output when running the test:

[code]

Notice the original value of `iface` is `eth1`, but the dict has the renamed `ens92`.

[2021-10-08 20:35] akutz commented on #712
@MaxRink communicated to me on Kubernetes Slack that the above patch, once applied to his system, also fixes the issue. Max, I leave it up to you if you want to close this or leave it open. I suggest closing it and opening a new issue to pin Cloud-Init at v21.1 until there's an update to it in the Ubuntu `updates` channel.

[2021-10-10 21:40] #609 closed

[2021-10-14 03:05] #613 closed

[2021-10-17 12:47] #619 closed

[2021-10-20 20:17] randomvariable opened #722 "[cloud-init] Temporarily pin Cloud-Init to v21.1"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

A bug was introduced in cloud-init that breaks networking under some circumstances #712. We should pin the version until https://github.com/canonical/cloud-init/pull/1058 comes into an update channel

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellane

[2021-10-21 08:20] jimmidyson commented on #709
@jsturtevant The additional files imported at runtime into containerd config are added in the standard way via `KubeadmConfigTemplate` `spec.template.spec.files`. This allows, among other things, for e.g. custom credentials to Docker registries (especially important when pulling from Docker Hub due to rate limiting) without baking credentials into the image at build time (which of course would be

[2021-10-21 22:02] jsturtevant opened #723 "Block wireserver for other supported Azure distros"
We added logic to block the Azure wireserver for Debian based distros. We should add it for

- centos
- flatvar

I think for centos, we could drop the file in `/etc/sysconfig/iptables` and all should be good. I have not tested this and was hesitant to add it to this PR.

On FlatCar, I think we can use iptables-restore.service, but I'm not certain. @jepio, do you have any guidance?

_Originally pos

[2021-10-29 17:14] dlipovetsky opened #727 "containerd configuration file should be readable only by superuser"
The containerd configuration can embed plugin configuration, and [in some cases that configuration contains sensitive data, such as passwords](https://github.com/containerd/containerd/blob/f9bcf4a8a4f14e5d87605595c737fa06eb895bc8/docs/cri/registry.md#configure-registry-credentials).

After #711 is merged, users will have the option of writing plugin configuration to other files, and setting the ap

[2021-10-30 23:00] #468 closed

[2021-11-02 13:28] zawachte-msft commented on #712
Yeap ... sigh `set-name` is broken for the networkd renderer. https://bugs.launchpad.net/cloud-init/+bug/1949407

[2021-11-04 11:48] jimmidyson commented on #709
@jsturtevant Yes containerd would require to be restarted unfortunately. This can be handled in prekubeadm commands though iirc.

[2021-11-04 15:26] #709 closed

[2021-11-04 18:27] akutz commented on #712
This new bug is not the same as the previous. A new Kube image builder issue should be created to track this. For example, https://github.com/kkeshavamurthy/image-builder/commit/fbb715256b7477700922d65e332d5002513a29f1 does not fix #712 as #712 is fixed. Again, this is a greenfield issue with an identical root cause.

[2021-11-04 19:13] zawachte-msft commented on #712
Yes, I agree. We don't use image-builder (although, we consult the repo regularly) so I didn't know if any of the images built with this repo are using networkd or hitting this code path and wasn't sure if it was in scope to create an issue here.

[2021-11-04 19:24] akutz commented on #712
Hi @zawachte-msft,

Well, someone _would_ hit this issue had they used the networkd renderer. @MaxRink previously hit the custom DNS issue instead. As I indicated, they both have the same root cause -- they only occur when `set-name` is used. However, the fix is different for each and both bugs have different stack traces. Regardless, thanks for bringing it to our attention. I actually saw this po

[2021-11-05 18:31] #722 closed

[2021-11-05 18:47] akutz commented on #722
Unfortunately the 21.4 release won't have the fix for the latest `set-name` bug, so unless you want to use a package built from `main`, you're stuck with the downgrade.

* v21.4 will have this fix https://github.com/canonical/cloud-init/pull/1058
* but will not have https://github.com/canonical/cloud-init/pull/1100

[2021-11-05 18:51] akutz commented on #722
You know, it's also possible to use 21.4 and simply patch in the fix from https://github.com/canonical/cloud-init/pull/1100...

[2021-11-05 18:53] codenrhoden commented on #722
The latest is the `networkd` renderer, right? I don't think of it's entirely clear whether we are hitting that or not. I believe Ubuntu is using netplan even though it runs `systemd-networkd`, but perhaps it gets hit on Photon?

[2021-11-05 18:56] akutz commented on #722
That is correct, the issue reported by this comment, https://github.com/kubernetes-sigs/image-builder/issues/712#issuecomment-954140935, is when `set-name` is used with the networkd renderer.

[2021-11-08 16:04] codenrhoden commented on #675
/remove-lifecycle stale

[2021-11-08 20:25] #676 closed

[2021-11-10 14:52] akutz commented on #722
https://github.com/canonical/cloud-init/pull/1100 was merged.

[2021-11-10 14:52] akutz commented on #712
https://github.com/canonical/cloud-init/pull/1100 was merged.

[2021-11-19 14:42] perithompson opened #737 "Windows documentation missing from the capi "book""
**What steps did you take and what happened:**
Windows documentation in the [book](https://image-builder.sigs.k8s.io/capi/windows/windows.html)  goes to a broken link, it seems the windows.md file has not made it into the "book"

[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

/kind bug
/area windows

[2021-11-19 14:42] perithompson commented on #737
/area sig-windows

[2021-11-24 13:45] jayunit100 opened #741 "Windows: Waiting for IP"
**What steps did you take and what happened:**

Tried to run image-builder like so:

[code]

# Logs

[code]

Second half of logs

[code]

[2021-11-24 16:13] jsturtevant commented on #741
Is this a packer vsphere issue or is there something missing from setup?  @perithompson

[2021-11-25 12:17] #567 closed

[2021-11-25 12:17] #568 closed

[2021-11-29 15:35] jayunit100 commented on #741
so, i think in general this can happen if you screw up a VM or have a corrupt VM reference sometimes.  its hard to track down and there are many reasons, some not related to imagebuilder, why it can happen.

closing for now as, my error was a VM path that was broken ! :)

[2021-11-29 15:35] #741 closed

[2021-11-29 21:27] SanikaGawhane opened #743 "AL-2 image builds failing"
Amazon-Linux2 image builds fail with a python dependency error.

`
amazon-2: fatal: [default]: FAILED! => {"changed": false, "changes": {"installed": ["conntrack-tools", "jq", "socat", "nftables", "python3-netifaces", "python3-requests", "open-vm-tools"]}, "msg": "Error: Package: python36-netifaces-0.10.9-1.el7.x86_64 (epel)\n           Requires: libpython3.6m.so.1.0()(64bit)\nError: Package: pyth

[2021-11-30 16:16] #743 closed

[2021-12-04 14:58] hxietkg opened #753 ""Update Windows Defender signatures" and "Install OpenSSH" fail in ipv6-preferred environment"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Windows update server does not support ipv6 well, so a VM in ipv6-preferred environment fails to run:
    - TASK [systemprep : Update Windows Defender signatures]
    - TASK [systemprep : Install OpenSSH]

we need to set ipv4-preferred before running above 2 tasks:
   netsh interface ipv6

[2021-12-06 13:36] invidian commented on #542
/remove-lifecycle stale

[2021-12-06 16:29] kkeshavamurthy commented on #649
/reopen
/remove-lifecycle rotten

[2021-12-13 22:23] jsturtevant commented on #737
@codenrhoden what are the steps for publishing a new version of the book?

[2021-12-13 22:23] jsturtevant commented on #753
/sig windows

[2021-12-13 22:27] jsturtevant commented on #702
This was mostly designed with capi and kubeadm bootstrapper as the main consumers.  With that in mind it is possible to pass additional flags to kubelet via `/var/lib/kubelet/kubeadm-flags.env` file that kubeadm writes.

https://github.com/kubernetes-sigs/image-builder/blob/196c549b8f31f890f7839cdd5681c1facd78dad2/images/capi/ansible/windows/roles/kubernetes/templates/StartKubelet.ps1#L16-L17

[2021-12-14 05:25] Pearl1594 opened #760 "Adding additional registry images fails"
**What steps did you take and what happened:**
While attempting to bake additional registry images by setting `load_additional_components` and `additional_registry_images` to true, and specifying the image(s) against `additional_registry_images_list`, encountered image build failure, with the following error:

[code]

**What did you expect to happen:**
It is expected that the ctr binary is already

[2021-12-15 02:44] Pearl1594 commented on #760
@kkeshavamurthy Yes, the solution you mentioned also works, but, I went ahead with moving symlink task to an earlier point, as, if sysusr_prefix were to be used by any other task it may cause issues. Let me know if you think changing sysusr_prefix is a better approach, I'll update the PR accordingly, Thanks!

[2021-12-15 21:29] jsturtevant opened #766 "Azure CI is flaking when installing azure cli"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

This time it was the ubuntu error
[code]

Doesn't seem to occur every time.

See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_image-builder/762/pull-azure-sigs/1471216005047914496 for full logs

**What did you expect to happen:**

**Anything else you would l

[2021-12-15 21:32] jsturtevant commented on #766
This looks like it is an issue with the pip version on the host: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/pip_module.html

The interpreter used by Ansible (see ansible_python_interpreter) requires the setuptools package, regardless of the version of pip set with the executable option.

[2021-12-15 21:37] jsturtevant commented on #766
It looks like it should be the latest pip, but maybe that package doesn't have latest versions?

https://github.com/kubernetes-sigs/image-builder/blob/6422e8321dfce09712ebd2555e13d35cd0d98fa6/images/capi/packer/azure/packer.json#L110

[2021-12-15 21:45] jsturtevant commented on #737
/sig windows

[2021-12-15 21:45] jsturtevant commented on #700
/sig windows

[2021-12-15 21:45] jsturtevant commented on #683
/remove-lifecycle stale

[2021-12-15 21:47] jsturtevant opened #767 "Need to rationalize the Windows paths across the project"
@dkoshkin Makes sense. That in combination with using capi's kubeadmconfig as mentioned in https://github.com/kubernetes-sigs/image-builder/issues/709#issuecomment-948373697 make it easy to customize.

If you can update the windows part to `/containerd` to `\\\\containerd` here https://github.com/kubernetes-sigs/image-builder/pull/711#discussion_r729910223 I think we are good to go!  @perithompson

[2021-12-17 02:03] knabben commented on #698
/remove-lifecycle stale

[2021-12-17 17:33] #653 closed

[2021-12-17 23:24] CecileRobertMichon commented on #737
/close

fixed in #769

[2021-12-17 23:24] #737 closed

[2021-12-24 13:49] #667 closed

[2021-12-28 16:40] mkjpryor commented on #705
/remove-lifecycle stale

[2021-12-29 21:12] jsturtevant commented on #640
/remove-lifecycle stale

[2022-01-06 17:09] johananl opened #773 "Galaxy collections aren't installed when Ansible already exists"
https://github.com/kubernetes-sigs/image-builder/blob/5ef1f795569bbfd2ac04be6745db1082ffff1ff2/images/capi/hack/ensure-ansible.sh#L31

Looks like we're exiting the script early when the `ansible` binary is found, which skips the Galaxy collection installation.

[2022-01-06 18:29] codenrhoden opened #775 "OVA CI consistently failing due to cluster network issues"
**What steps did you take and what happened:**
All OVA CI jobs are currently failing with the error:
[code]

This is indeed an infrastructure issue with the target vSphere cluster hosted in VMC. There are a couple of internal issues that I am aware of and am working with support to resolve. I am hoping to get this taken care of within the next 24 hours.

If we find that all PRs are blocked on this

[2022-01-06 21:36] codenrhoden commented on #775
The duplicate network issue should be fixed now. Which is one of the two problems I'm aware of, so that's progress! The remaining issue is a permission issue and I'm working to get that fixed soon. 🤞

[2022-01-07 16:40] #773 closed

[2022-01-07 18:32] #554 closed

[2022-01-07 23:25] codenrhoden commented on #775
The issue that is currently blocking things is still ongoing. I do not have administrative rights to the SDDC in question, and that's what is needed to fix the problem. Support is engaged and I had hoped to have this resolved today, but no luck. Just wanted to provide a status update.

[2022-01-07 23:44] jsturtevant commented on #766
Happened in https://github.com/kubernetes-sigs/image-builder/pull/776

[2022-01-11 15:01] kuja53 opened #779 "Problem with cloud-init version newer than 19.x on Photon 3 while using Spector cloud static-ip allocation via metal3.io IPAM solution"
**What steps did you take and what happened:**
Build OVA for Photon 3 with vmware-iso without any further customisations lead to cloud-init pre-networking failure when I'm using that builded OVA in my VSphere cluster.
<img width="1988" alt="Screenshot 2022-01-11 at 13 55 29" src="https://user-images.githubusercontent.com/33007489/148966857-7ceac117-0fe6-4611-b89e-ec0f4043ed9b.png">

**What did you

[2022-01-11 17:26] kuja53 commented on #779
And I confirm that with cloud-init 19.4.11 works. I could try which specific version starts to make troubles. Even I find that there is duplicity of installation of cloud-init for photon. So I will create PR for this.

[2022-01-14 18:23] jsturtevant opened #780 ""Unable to read config path" err="path does not exist, ignoring" path="c:\\etc\\kubernetes\\manifests""
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

The images produced for windows are missing a path causing kubelet to output an error. It is non fatal but does add noise to the logs.

[code]

**What did you expect to happen:**
No error messages because node is configured properly. We should set those paths up properly when configuring

[2022-01-15 20:32] #680 closed

[2022-01-17 13:07] knabben commented on #780
/assign

[2022-01-17 13:08] knabben commented on #780
Will take this one..

[2022-01-21 16:29] jsturtevant opened #784 "Adding an `ensure-vbox` script that makes sure that vbox is installed"
Add `ensure-vbox` scripts to install/verify vbox is available.

any interest in adding an `ensure-vbox` script that makes sure that vbox is installed? Doesn't have to install it for you, just make sure it's present? Not sure if that's an easy thing to do or not... Could be done as a follow-on. Not trying to hold this up.

_Originally posted by @codenrhoden in https://github.com/kubernetes-sigs/ima

[2022-01-21 16:29] jsturtevant commented on #784
/sig windows
/cc @knabben

[2022-01-21 16:40] knabben commented on #780
Doing a  `cat C:\var\lib\kubelet\config.yaml`

[code]

shows the default configuration pointing to `c:\etc\kubernetes\manifests`

the default ansible task has a different path creation.
https://github.com/kubernetes-sigs/image-builder/blob/4eea397ee71e0e69209db7c9a9ce8dddab99c898/images/capi/ansible/windows/roles/kubernetes/tasks/kubelet.yml#L22

Should we 1) parametrize this parameter 2) fix the

[2022-01-21 17:01] jsturtevant commented on #780
The ansible path creation should be updated to `c:\etc\kubernetes\manifests`. This should be the default (as shown by the kubelet `config.yaml`) and mimic the linux set up.

[2022-01-21 17:28] knabben commented on #698
/close

[2022-01-21 17:28] #698 closed

[2022-01-21 17:44] #702 closed

[2022-01-26 19:19] #775 closed

[2022-01-28 23:47] jsturtevant commented on #640
/remove-lifecycle rotten

[2022-01-31 18:39] #684 closed

[2022-02-01 15:46] jsturtevant commented on #688
/lifecycle rotten

[2022-02-01 15:46] jsturtevant commented on #688
/remove-lifecycle rotten

[2022-02-02 17:53] codenrhoden commented on #578
I know this can still be looked at. I don't want it to close.

/lifecycle frozen

[2022-02-02 21:26] ubhide opened #794 "Unable to create centos 7 images in vsphere (python version error)"
**What steps did you take and what happened:**
Executed build using the current latest (v0.1.11) docker image as per the [documented command](https://image-builder.sigs.k8s.io/capi/container-image.html).
`docker run -it --rm --net=host --env PACKER_VAR_FILES=/home/imagebuilder/vsphere.json -v <path of vsphere.json on my machine>:/home/imagebuilder/vsphere.json k8s.gcr.io/scl-image-builder/cluster-

[2022-02-02 22:17] codenrhoden commented on #794
Thanks for filing this, @ubhide. I saw the same thing and referenced it here: https://github.com/kubernetes-sigs/image-builder/pull/789#issue-1115315227. I had been meaning to write up an issue for it, but you've done it for me.

Haven't tried to fix it yet, just acknowledging that it's an issue for sure. :)

[2022-02-03 21:28] #794 closed

[2022-02-10 22:48] invidian opened #800 "Add build info, such as image-builder version, as a file to built image"
**Is your feature request related to a problem? Please describe.**

As part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3107, while testing newly built images, we found out, that the images were built using older version of image-builder, which did not include some important patches.

It would be great if we could easily identify what version of image-builder was used to

[2022-02-15 22:25] codenrhoden commented on #589
/remove-lifecycle rotten
I'll address the latest comments on #736 so we can get this one closed out.

[2022-02-16 15:10] randomvariable opened #803 "Security Self Assessment: [STRIDE-TAMPER-2] Produce an SBoM for machine images"
**Describe the solution you'd like**

As per the Cluster API Security Self Assessment:

Machine images used as Node OS images, can be tampered during build time, during install time and
during runtime

One mitigation:

Create SBoM of the Machine Image and verify checksum as a post build action

**Additional context**
cc @PushkarJ  for more details

/kind feature
/area security

[2022-02-16 15:10] randomvariable commented on #803
Please add an area/security label option.

[2022-02-17 20:19] #760 closed

[2022-02-18 13:10] itspngu opened #808 "Add GOSS tests to gce image(s)"
**Is your feature request related to a problem? Please describe.**
The GOSS integration for other providers is neat. I'd like to have it for the gce images too.

**Describe the solution you'd like**
Run GOSS as part of the image build process for gce.

**Describe alternatives you've considered**
n/a

**Additional context**
I've started working on this already and hope to be able to open a PR soon-

[2022-02-18 13:39] itspngu opened #809 "Consolidate naming of and references to providers"
There might be more instances of this, but here's an example of what I'm talking about:

- [X] The cluster-api provider for Google Cloud is called `cluster-api-provider-gcp`: https://github.com/kubernetes-sigs/cluster-api-provider-gcp
- [ ] The packer scripts for CAPI images in this repo reside in a folder called `gce`: https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi/packe

[2022-02-18 15:50] invidian opened #811 "Ensure ansible-galaxy is installed"
**What steps did you take and what happened:**

In an updated cloned repo, I've run `cd image-builder/images/capi && make build-azure-sig-flatcar FLATCAR_VERSION=current` and I got the following errors:
[code]

then also:
[code]

**What did you expect to happen:**
Building image to work.

**Anything else you would like to add:**

Following patch seems to be fixing it:
[code]

**Environment:**

Pro

[2022-02-22 18:39] johananl opened #814 "Migrate Packer files from JSON to HCL"
**Is your feature request related to a problem? Please describe.**

JSON doesn't support comments whereas HCL does. Being unable to comment inline makes it harder to maintain Packer code because we can't explain tricky/unusual bits, add TODOs in context etc.

**Describe the solution you'd like**

As of `1.7.0`, the recommended config format for Packer is HCL. We should consider migrating. There is

[2022-02-23 00:13] hxietkg opened #815 "Win32-OpenSSH is not abled to be connected"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

image-builder is supporting `ssh_source_url` to install external ssh server for windows image build, but it does not work for windows server 2019 because it does not set the  correct permission on the ssh folder `C:\Program Files\OpenSSH`, so we are not able to ssh to the windows node.

*

[2022-02-23 19:45] jsturtevant commented on #723
/remove-lifecycle rotten

[2022-02-24 23:02] #672 closed

[2022-02-27 23:03] #668 closed

[2022-02-28 03:04] #644 closed

[2022-03-03 13:32] dims opened #819 "Switch to cgroups v2 for all images"
The eco system is moving towards cgroups v2 instead of cgroups v1. Kubelet, containerd, runc, cadvisor etc has been updated to work with cgroups v2. Docker Desktop has switched already to cgroups v2 as well by default.

Can we please switch our default images to cgroups v2? thanks!

context: https://github.com/kubernetes/kubernetes/issues/108028

[2022-03-03 21:27] codenrhoden commented on #819
Thanks for bringing this up, @dims. Reading through the related issue, seems like changing the default is reasonable, but we definitely want people to still be able to use v1 if they want. Additionally, we'll have to actually check if *all* the OS targets we build are able to use v2.

[2022-03-03 21:29] codenrhoden commented on #814
Thanks for starting this conversation, @johananl. It's definitely worth discussion, especially since the recommendation changed with Packer 1.7 as you pointed out. I know the project had talked about it once before (well over a year ago), but I can't find any notes that were captured on the topic. One thing that's nice about the JSON files is that they are easily manipulated with tools like `jq`,

[2022-03-03 21:40] codenrhoden commented on #800
Hi @invidian,

Would you be willing to take a second look at this? The code is in place to make this happen, and has been for quite some time. It should get a tag [here](https://github.com/kubernetes-sigs/image-builder/blob/142e815b24593287025b6a53ff3f2c6625d7cfac/images/capi/packer/ami/packer.json#L53).

For reference, I just checked a (very old) AMI that I had built, and I do see the image build

[2022-03-03 21:49] invidian commented on #811
Hey, thanks for having a look.

I experienced it on my installation of Arch Linux. However, it seems I cannot reproduce it in fresh environment:
`docker run -it --entrypoint /bin/bash archlinux -c 'pacman -Sy --noconfirm git make python-pip jq && git clone https://github.com/kubernetes-sigs/image-builder.git && cd image-builder/images/capi && PATH=${PATH}:~/.local/bin/ make build-azure-sig-flatcar

[2022-03-03 21:58] dims commented on #819
@codenrhoden indeed. the title was click-bait-y :) intended to be aspirational for sure!

[2022-03-03 22:41] invidian commented on #800
Hmm, it seems most recently published CAPA images does not have it:
[code]

Neither AMI or snapshot have no tags from what I see.

@sedefsavas do you have some idea why the tags are not present? Perhaps I should move this issue to CAPA repo?

[2022-03-04 23:24] codenrhoden commented on #800
@Ankitasw @sedefsavas if you are available, let's chat about this next week. I'd like to get to the bottom of it, because taking a look again from the `describe-images` command that @invidian demonstrated, I see that none of the [recently published CAPA images](https://cluster-api-aws.sigs.k8s.io/topics/images/built-amis.html) have *any* tags on them at all. This doesn't make any sense as tags are

[2022-03-05 05:54] Ankitasw commented on #800
I am not sure if anything is changed in the main branch of image-builder.

the machine you are building from doesn't have git installed (extremely unlikely)
you are building by calling packer instead of calling make

I have published the images, and I have git installed in the machine, also I uses `make` command to build the images.

[2022-03-07 13:29] johananl commented on #436
/reopen
/remove-lifecycle rotten

[2022-03-07 16:03] Ankitasw commented on #800
I am not sure if `describe-images` command gives the tags in output or not, but I can see the tags in the AWS account where AMIs are getting published.

[2022-03-07 16:29] Ankitasw commented on #800
We cannot rely on `describe-images` output for tags as it doesn't give any tags info, I have confirmed the same for older images as well.

[2022-03-07 18:25] codenrhoden commented on #800
@Ankitasw do you know if tags are kept private to the user that built the image perhaps?

I built an AMI this weekend, and was able to see all the expected tags for my own AMI, but not for the AMI's published for CAPA. Are you able to see the tags via the AWS console perhaps?

Here's what I built:

[code]

[2022-03-07 18:32] Ankitasw commented on #800
Yes I am able to see tags in console as you can see in snapshot attached in previous comment.

I dont think tags are kept private to anyone.

[2022-03-07 21:13] codenrhoden commented on #800
Thanks @Ankitasw. Apologies that I missed your screenshot -- when I was scrolling through I thought it was mine. 🤦

It's really interesting that the tags show up in some cases and not in others. Right now I don't have an explanation for this.

[2022-03-07 22:47] invidian commented on #800
Hmm, from https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-restrictions:

[2022-03-14 15:03] johananl opened #828 "QEMU Flatcar build is broken"
**What steps did you take and what happened:**

The QEMU Flatcar build is broken.

To reproduce, run the following:

[code]

Output:

[code]

**What did you expect to happen:**

I expected the build to work.

**Anything else you would like to add:**
None

/kind bug
[One or more /area label. See https://github.com/kubernetes-sigs/cluster-api/labels?q=area for the list of labels]

/assign

[2022-03-16 00:09] jsturtevant commented on #767
/remove-lifecycle stale

[2022-03-16 17:24] ZinebElMoutia opened #833 "Add support for redirecting output to a file when running GOSS tests"
**Is your feature request related to a problem? Please describe.**
Packer provisioning invokes a packer Goss provisioner that run all the tests located in the [goss directory](https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi/packer/goss). It is possible to include custom
tests into the Goss test suite that runs at build time. However, it is not possible to opt to redirect t

[2022-03-23 22:51] jsturtevant commented on #766
/kind flake

[2022-03-24 22:21] neolit123 opened #845 "switch the default image registry in image builder to registry.k8s.io"
this is an item for the k8s 1.25 release cycle.
switch the default image registry in image builder to registry.k8s.io after kubeadm switches to it:
https://github.com/kubernetes/kubeadm/issues/2671

more info:
https://groups.google.com/g/kubernetes-sig-testing/c/U7b_im9vRrM/m/7qywJeUTBQAJ
xref https://github.com/kubernetes-sigs/image-builder/pull/844
xref https://github.com/kubernetes/k8s.io/issue

[2022-03-24 22:21] neolit123 commented on #845
/kind feature deprecation
/priority important-longterm

[2022-03-25 19:09] josh-ferrell opened #846 "Implement etcd network prioritization in images"
**Is your feature request related to a problem? Please describe.**
etcd can experience network congestion when the leader is receiving a high number of client requests.

**Describe the solution you'd like**
We should implement the recommended prioritization for peer traffic using traffic control or a similar mechanism.

**Additional context**
[etcd Network tuning recommendations](https://github.co

[2022-03-28 18:15] #727 closed

[2022-03-28 19:11] josh-ferrell commented on #846
I agree that is does seem more specific to the control planes but I'm not sure where tuning should live from a lifecycle perspective if it affects Kubernetes as a whole. Does it make more sense that this is done as a function of control plane initialization like `kubeadm init`?

Looping in @randomvariable in case there is more history or feedback needed I'm not aware of.

[2022-03-29 19:58] randomvariable commented on #846
The tuning will be for ports reserved for etcd, so it's reasonable to do in the image I think. This would be best done using udev rules on all ethernet devices.

[2022-03-29 22:56] codenrhoden commented on #846
That seems to be the case here. It's not like there are other traffic prioritization rules that it will be competing with.

So you are saying have this happen automatically for all devices, rather than just using `tc` directly. Makes sense we don't know what all the devices will be ahead of time.

I doubt this one is better with `kubeadm init`, but yeah, I was definitely thinking more broadly wond

[2022-04-01 12:51] itspngu opened #848 "Ubuntu GCE images spend 1m30s on boot waiting for Hyper-V KVP protocol daemon"
**What steps did you take and what happened:**

Spin up a CAPI cluster on Google Cloud. Grab the tty1 output of any of the machine's clusters:

[code]
In the output you will find a block of lines similar to the ones below (abbreviated for clarity):

[code]

The machine proceeds to boot into a functional state after waiting for 1:30.

**What did you expect to happen:**

As far as I know GCE does no

[2022-04-01 20:16] #848 closed

[2022-04-05 14:07] invidian commented on #542
/remove-lifecycle rotten

[2022-04-05 17:48] ubhide commented on #649
Refreshing this, as it would be useful.

/remove-lifecycle rotten

[2022-04-05 18:39] #436 closed

[2022-04-07 17:29] codenrhoden commented on #675
/reopen

I think a suitable version was recently published.

[2022-04-07 21:38] jackfrancis opened #853 "client CA file can't be found on v1.22.8 capz Windows image"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**

Since building the Kubernetes v1.22.8 image of Windows for capz, we aren't able to join nodes to the cluster. The error suggests the CA cert file location is invalid.

**Anything else you would like to add:**
[Miscellaneous information that will assist

[2022-04-07 21:41] jackfrancis commented on #853
Here are logs from a repro:

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-azure/2209/pull-cluster-api-provider-azure-e2e/1512133680686960640/artifacts/clusters/capz-e2e-xue983-ha/machines/capz-e2e-xue983-ha-md-win-ff5c5ffb9-45nnk/

The originating test:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provide

[2022-04-07 21:44] jsturtevant commented on #853
/assign

[2022-04-07 21:44] jsturtevant commented on #853
This looks related to the change in https://github.com/kubernetes-sigs/image-builder/pull/785

[2022-04-07 21:45] jsturtevant commented on #853
cc @knabben

[2022-04-07 23:38] jsturtevant commented on #853
This doesn't seem to occur on a 1.23 cluster that was built with these changes.  The validation cluster I ran against for this change was 1.22 as well https://github.com/kubernetes-sigs/image-builder/pull/785#issuecomment-1054694577

[2022-04-07 23:40] knabben commented on #853
@jackfrancis do you have an existent old config loaded for this cluster? I think this is coming from the kubelet dynamicconfig

[2022-04-08 00:04] CecileRobertMichon commented on #853
this was from a CAPZ CI test, it's repro'ing on all new 1.22.8 clusters built from CI

[2022-04-08 00:27] jsturtevant commented on #853
So it seems something changed between 1.23 and 1.22 though I haven't been able to track it down yet.

This was a known problem: something changed between 1.22 and 1.23 https://github.com/kubernetes/kubernetes/pull/77710#issuecomment-491994862

With capz `1dot23dot5-windows` built with the change on March 29th this cluster provisions.

[2022-04-08 10:51] knabben commented on #853
On 1.23 we have a `mutateStringField` function to avoid the issue.

 https://github.com/kubernetes/kubernetes/blob/v1.23.5/cmd/kubeadm/app/componentconfigs/kubelet.go#L270

[2022-04-08 12:21] johananl opened #854 "Flatcar may inadvertently update during image creation"
In https://github.com/kubernetes-sigs/image-builder/pull/701/commits/c73b6e7a28b93dd03a747a8454600838e656ff5c we've disabled Flatcar updates. However, this change leaves a time gap which still allows Flatcar to download updates and reboot **during image creation**, resulting in either a broken build or an image with an unexpected version.

Following is a high-level description of the Flatcar image

[2022-04-08 14:37] ubhide opened #855 "Azure: init-sig.sh should only create "VM Image Definition"s that pertain to the make target called"
**What steps did you take and what happened:**
Run an Azure make target for a specific OS (any OS will do).

**What did you expect to happen:**
Only the target OS' "VM Image Definition" should be created

**What happens:**
All OS "VM Image Definition"s get created needlessly.

**Environment:**

Project ([Image Builder for Cluster API](https://github.com/kubernetes-sigs/image-builder/tree/master/im

[2022-04-08 15:09] johananl commented on #854
Fixed in https://github.com/flatcar-linux/flatcar-packer-qemu/pull/5. Once merged, we need to update the following:

https://github.com/kubernetes-sigs/image-builder/blob/2e85b15e9e75f5a194eb0c4c3f21c47918281a41/images/capi/packer/qemu/qemu-flatcar.json#L3

https://github.com/kubernetes-sigs/image-builder/blob/2e85b15e9e75f5a194eb0c4c3f21c47918281a41/images/capi/packer/raw/raw-flatcar.json#L3

[2022-04-08 16:37] jsturtevant commented on #853
Great find! The fix came in early in 1.23 https://github.com/kubernetes/kubernetes/pull/105992

I propose we do the symlink on versions < 1.23 as the fix.

[2022-04-08 17:20] #853 closed

[2022-04-09 16:32] #712 closed

[2022-04-11 16:22] sinap-se opened #857 "Unencrypted communications allowed in WinRM configuration"
This file in question appears to be misconfigured to allow unencrypted connections to and from servers and clients making use of WinRM: [ansible_winrm.ps1](https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/ansible/windows/ansible_winrm.ps1). Within a given network it may not be of particular concern but when using CredSSP with a remote authentication server the credentials e

[2022-04-12 18:35] tsvirinkal-jsi opened #858 "Unable to disable WinRM service and close open ports it uses"
**Is your feature request related to a problem? Please describe.**
WinRM might not be needed in the resulting VM image but there's no easy way to disable it. This leaves the service running and  ports 5985, 5986 open, which is potentially a security risk.

**Describe the solution you'd like**
Introduce a configurable switch to enable/disable WinRM service in VM images.

**Describe alternatives you

[2022-04-13 16:44] invidian opened #859 "Building Flatcar SIG images on Azure with OpenSSH 9.0 fails"
**What steps did you take and what happened:**

Running `FLATCAR_VERSION=current make build-azure-sig-flatcar` on version a09b089b1b344d75275cf741cafdbd877050f660 currently fails with the following error:
[code]

**What did you expect to happen:**

Build do succeed.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

Proje

[2022-04-13 17:23] invidian commented on #859
Ooh, wait. It might be an issue with my local machine, I don't have `sftp-server` binary either with latest OpenSSH update to version `9.0p1-1`...

[2022-04-14 08:53] invidian commented on #859
So downgrading my local openssh to `8.9p1-1` makes it work, I'll keep investigating

[2022-04-14 11:50] invidian opened #861 "image_version is not being passed to resulting CAPI SIG images on Azure"
**What steps did you take and what happened:**
Discovered while investigating https://github.com/flatcar-linux/Flatcar/issues/719 and https://github.com/kubernetes-sigs/image-builder/issues/859. Turns out `image_version` parameter is only passed to the first builder in https://github.com/kubernetes-sigs/image-builder/blob/a09b089b1b344d75275cf741cafdbd877050f660/images/capi/packer/azure/packer.jso

[2022-04-14 14:08] invidian commented on #861
/assign @invidian

[2022-04-14 14:27] invidian opened #862 "Building Flatcar images fails due to os_family Ansible mismatch"
**What steps did you take and what happened:**

Because of https://github.com/kubernetes-sigs/image-builder/issues/861 and the regression in recent Flatcar stable release https://github.com/flatcar-linux/Flatcar/issues/719, building SIG Flatcar images is right now failing.

**What did you expect to happen:**

Ci to succeed.

/kind bug
[One or more /area label. See https://github.com/kubernetes-sig

[2022-04-14 17:59] invidian commented on #862
Created WIP fix PR: https://github.com/kubernetes-sigs/image-builder/pull/863

[2022-04-14 18:00] invidian commented on #861
Created WIP fix PR: https://github.com/kubernetes-sigs/image-builder/pull/863

[2022-04-19 16:03] #815 closed

[2022-04-21 00:20] jayunit100 opened #866 "Cut an image-builder release tag that supports the latest windows fixes"
**Is your feature request related to a problem? Please describe.**
Recent fix to  https://github.com/kubernetes-sigs/image-builder/issues/815 is required to do airgapped windows image-builder in a manner that is idiomatic to CAPV clusters.

**Describe the solution you'd like**

We'd like to cut an image-builder patch release that has this fix

[code]

/kind feature

[2022-04-21 00:23] jayunit100 commented on #866
steps TODO for anyone wanting to create this tag :
- diff the master branch commits from what is in 0.11.1
- find any bugfixes that we want to put into 0.11.2
- add those tickets to this ticket
- go to the image-builder mailing list and ask folks to cut this release - and also ask in the image-builder slack channel

[2022-04-25 12:51] invidian commented on #862
Renamed the issue as it also affects AMI builds.

[2022-04-25 13:18] invidian commented on #862
Upstream issue: https://github.com/ansible/ansible/issues/77537

[2022-04-26 18:39] jsturtevant commented on #780
fixed by https://github.com/kubernetes-sigs/image-builder/pull/785
/close

[2022-04-26 18:39] #780 closed

[2022-04-26 18:39] jsturtevant commented on #784
/remove-lifecycle stale

[2022-04-26 18:43] codenrhoden commented on #866
Once #869 and #868 get merged, I think we're in a good place to tag.

[2022-04-27 20:59] #862 closed

[2022-04-27 20:59] #861 closed

[2022-04-28 17:49] #828 closed

[2022-04-29 18:13] jsturtevant commented on #640
/remove-lifecycle stale

[2022-05-01 15:23] dims commented on #819
@codenrhoden do we want to check if this can be done in 1.25 time frame?

[2022-05-03 10:00] itspngu commented on #556
Found this GH issue after observing the same behaviour on our machines. Joining a node into a cluster with a handful of containers getting deployed to it causes more than 1 million lines of entries in syslog during startup, most of which is produced by auditd. I can't be the only one thinking that this is a little extreme for a default configuration.

[2022-05-05 16:34] #855 closed

[2022-05-05 16:59] dims commented on #819
@t-lo yes, it's going to be .... not easy!

[2022-05-09 14:34] johananl opened #879 "Raw build target is broken"
**What steps did you take and what happened:**
The raw build target is currently broken: **Two** Packer builders get triggered at the same time and the boot command is being typed into the wrong session.

To reproduce, run `make build-raw-ubuntu-2004` for example.

**What did you expect to happen:**
I expected `make build-raw-ubuntu-2004` to work.

**Anything else you would like to add:**
In https

[2022-05-10 11:14] johananl opened #881 "Ensure all targets are tested"
It seems like not all targets are tested by the CI. I assume that's the case because some targets have been broken for a long time and no one seemed to notice. Examples:

- https://github.com/kubernetes-sigs/image-builder/issues/879
- https://github.com/kubernetes-sigs/image-builder/issues/828

In addition, Flatcar (and maybe additional distros) aren't tested by the CI.

We should ensure all suppo

[2022-05-11 10:28] johananl opened #885 "qemu,raw: Ubuntu 20.04 EFI builds are broken"
**What steps did you take and what happened:**

[code]

The build fails with the following error:

[code]

~The same is theoretically true for `make build-raw-ubuntu-2004-efi`, however raw builds are currently broken due to https://github.com/kubernetes-sigs/image-builder/issues/879.~
**Update:** The issue reproduces for raw builds, too.

**What did you expect to happen:**
I expected the build to

[2022-05-12 00:38] #675 closed

[2022-05-12 12:34] johananl opened #890 "Host bootstrap Ignition files in image-builder repo"
Flatcar Container Linux uses Ignition (instead of e.g. Kickstart) as a bootstrap config format. On some platforms (e.g. QEMU, OVA) it's necessary to provide Ignition config during the image build process.

Right now we're consuming these files from https://github.com/flatcar-linux/flatcar-packer-qemu. Example:

https://github.com/kubernetes-sigs/image-builder/blob/60128fff6ce397998e58c491ac5934733

[2022-05-12 13:00] johananl commented on #854
Following https://github.com/kubernetes-sigs/image-builder/pull/873#discussion_r866007976, looks like the solution to this issue depends on https://github.com/kubernetes-sigs/image-builder/issues/890.

/hold

[2022-05-12 16:22] codenrhoden commented on #881
This is always been a question of having the resources/infra to run tests on. vSphere tests are run on VMC (paid for by VMware), a public IaaS provider. Same as Azure (paid for by MSFT I believe). AWS tests have been stalled for well over a year for integration with boskos (accounts managed by K8s/CNCF). There is currently no infra to run qemu builders. OCI hasn't offered resources for their build

[2022-05-12 16:32] johananl commented on #881
Thanks for adding context @codenrhoden. Makes sense. So I guess running QEMU VMs on Prow itself is out of the question then? 🙂
Anyway, in case I have bandwidth for improving the CI, I'll look into a solution for QEMU builds. IMO it would make a lot of sense to use QEMU for testing **all distros** and even consider making these tests blocking for PRs, since many distro-specific changes are provider

[2022-05-13 00:03] #753 closed

[2022-05-13 10:30] johananl commented on #881
I happen to have some experience with running VMs inside containers on a CI system, however it's tricky and I expect to run into Prow resource constraints. I think your suggestion about spinning up a VM with QEMU makes the most sense.

[2022-05-13 15:06] jsturtevant commented on #890
Hosting the files in the repo seems to make most sense for now. I don't have a ton of context on the how/why you would remove ignition or provide a native way to pass ignition.  I would follow your lead on that, but for now we can iterate with the files in the reposiotory.

[2022-05-13 19:05] PushkarJ commented on #803
/retitle Security Self Assessment: [STRIDE-TAMPER-2] Produce an SBoM for machine images

[2022-05-13 19:05] PushkarJ commented on #803
/area security
/sig security

[2022-05-14 23:18] #683 closed

[2022-05-14 23:18] #700 closed

[2022-05-16 09:25] johananl opened #892 "qemu,raw: Race between Flatcar installation and Packer"
**What steps did you take and what happened:**

Flatcar ships with sshd enabled by default. Installing Flatcar entails booting into Flatcar from an ISO and running the installation command (`flatcar-install`). Unlike other distros (e.g. Ubuntu), the Flatcar installation is done from a live instance of Flatcar, which means SSH is enabled on the temporary Flatcar instance from which the installation

[2022-05-16 15:53] codenrhoden opened #894 "Proposal: pre/post custom roles"
I'd like to propose the idea of having both the `node.yml` and `firstboot.yml` playbook having a pre and post custom role. What I mean by this is each playbook having the opportunity to run two custom roles -- one as early as possible, and one as late as possible (for the node playbook, latest possible would mean right before the `sysprep` role, which is the one place we allow custom roles now).

[2022-05-16 16:22] voor commented on #894
I would prefer to keep `custom_role_names` for backwards compatibility, but I don't have any strong opinions on renaming it.

custom_role_names_pre_node
custom_role_names
firstboot_custom_roles_pre
firstboot_custom_roles_post

Or similar, although I guess if you squint your eyes it does look very out of place.

[2022-05-16 18:00] kkeshavamurthy commented on #894
+1 for having backwards compatibility

-     node_custom_setup
-     node_custom_roles
-     firstboot_custom_setup
-     firstboot_custom_roles
??

[2022-05-16 22:35] codenrhoden commented on #894
I ran a couple tests, and the following works:

[code]

This would be backwards compatible, **and** would work with either the new name (`node_custom_roles_post`) or the old(`custom_role_names`).

[2022-05-16 22:59] codenrhoden commented on #589
I think this is addressed for Azure in #736, and in vSphere with #872.

/close

[2022-05-16 22:59] #589 closed

[2022-05-17 18:35] knabben commented on #894
100% agree with James +1 on having the concatenation and backward compatibility and dropping on a few releases further.

@codenrhoden should it be `split(',')` instead?

[2022-05-17 19:21] codenrhoden commented on #892
Thank you for explaining this so well. Now I understand your changes in #893.

[2022-05-17 19:29] #892 closed

[2022-05-18 17:49] johananl opened #897 "Ensure all Packer vars have a default value"
Following [this](https://github.com/kubernetes-sigs/image-builder/pull/882#discussion_r873743606) discussion, we might want to ensure all Packer vars have an explicit default even if the default value is an empty string:

From the Packer [docs](https://www.packer.io/docs/templates/legacy_json_templates/user-variables#usage):

[2022-05-20 22:06] kkeshavamurthy opened #898 "OVA: Switching to Ubuntu Server Live Installer from Legacy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The legacy installer has been deprecated from 20.04.1 and seems like the live installer is the way to go. Does our current code support this change.
I have not tested it yet, just wanted post here and see what others think.
From Ubuntu's we

[2022-05-26 10:05] anoopl opened #903 "How can we build RHEL 8 OVAs"
**Is your feature request related to a problem? Please describe.**
We are not able to find the command for building RHEL 8 OVAs
**Describe the solution you'd like**

We wanted to build a custom OVA using RHEL 8 ISO. We could not find the build command for RHEL 8
**Describe alternatives you've considered**

Can we use commands for RHEL 7 or Rocky Linux * build OVA commands for this, I am not sure a

[2022-05-26 18:03] #846 closed

[2022-05-27 10:31] himanshuz2 opened #904 "CSI-Proxy on Windows Image"
**Is your feature request related to a problem? Please describe.**
A windows vm image with csi-proxy installed on it.

**Describe the solution you'd like**
Add csi-proxy to the windows images in this project.

**Describe alternatives you've considered**
Making own image from the base image

**Additional context**
csi-proxy is required for many windows drivers such as smb driver.

/kind feature

[2022-05-27 18:43] kopiczko commented on #859
Based on: https://github.com/hashicorp/packer/issues/11783#issuecomment-1137052770

Replacing:

[code]

with

[code]

did the trick for me.

[2022-05-27 18:53] #705 closed

[2022-05-30 16:06] invidian opened #905 "Workaround SSH error "no matching host key type found. Their offer: ssh-rsa""
**What steps did you take and what happened:**

Right now, if one builds the CAPI images with OpenSSH version 8.8+ on the host system, the environment variable below is required to make provisioning work. This is because OpenSSH starting from version [8.8](https://www.openssh.com/txt/release-8.8) has disabled `ssh-rsa` algorithm from default configuration and this is what Ansible plugin for Packer

[2022-05-30 16:37] invidian commented on #859
So I think the root cause lies in the Ansible provisioner for Packer: https://github.com/hashicorp/packer-plugin-ansible/issues/100.

As a workaround, we could try disabling the proxy for provisioner, but it may break some other scenarios I guess. Or use the workaround proposed by @kopiczko above.

[2022-06-01 14:51] kopiczko opened #906 "Fix etcd-network-tuning.sh location for Flatcar"
**What steps did you take and what happened:**

After merging https://github.com/kubernetes-sigs/image-builder/pull/901 flatcar build fails because of read-only `/usr/local/bin`:

[code]

**What did you expect to happen:**

Build passing.

**Anything else you would like to add:**

N/A

**Environment:**

Project ([Image Builder for Cluster API](https://github.com/kubernetes-sigs/image-builder/tree/

[2022-06-01 14:57] invidian commented on #906
I think `/opt/bin` could be used as an alternative for Flatcar.

[2022-06-02 09:59] invidian commented on #811
/close

Let's close as I cannot reproduce it.

[2022-06-02 09:59] #811 closed

[2022-06-02 12:16] johananl commented on #814
/remove-lifecycle stale

[2022-06-03 12:44] jepio opened #908 "Follow-up concerning validate targets"
As @johananl pointed out here https://github.com/kubernetes-sigs/image-builder/pull/834#discussion_r876166796 , currently `validate-*` targets in the Makefile are out of sync with actual build targets. The makefile generates the `validate-*` targets from the build targets, but the separate entries are used when generating the `make help` output.

There are 2 points to tackle here:
- [ ] sync valid

[2022-06-03 12:56] invidian commented on #881
CC @kopiczko re: testing more targets on CI :)

[2022-06-07 09:48] invidian commented on #800
/remove-lifecycle stale

This would still be super useful.

[2022-06-09 05:45] davidjumani commented on #903
It's currently not added to the ova provider, but as a workaround, It can be built via qemu `build-qemu-rhel-8` and then converted to an ova by running `./hack/convert-cloudstack-image.sh ./output/<build-name>/<build-name> v
`

[2022-06-09 05:52] anoopl commented on #903
@davidjumani  Thank you so much for the reply!
I already created the code for building RHEL-8 and able to build the image successfully
Only tested or created code for Vsphere OVA Build
Tested this with TKG specs
I am wondering how can I write/generate Goss specs for the testing
It will be great if you can share some guide lines for sending a PR

[2022-06-09 05:58] davidjumani commented on #903
@anoopl Looks like there's already a PR for the same at https://github.com/kubernetes-sigs/image-builder/pull/870
Perhaps you can contribute to it :)

[2022-06-09 06:16] anoopl commented on #903
@davidjumani I saw that PR unfortunately when I was looking at PR test cases
It looks like it covers AMIs as well just not OVA
Will it be accepted if I send a separate PR

[2022-06-10 18:47] kkeshavamurthy opened #910 "`kubernetes_deb_version` is used in `ami_name` irrespective of k8s source"
**What steps did you take and what happened:**
[packer.json](https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/ami/packer.json#L7) & [packer-windows.json](https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/ami/packer-windows.json#L7) use `kubernetes_deb_version` in the `ami_name` irrespective of the source of k8s binaries.

If we are build

[2022-06-10 19:35] #779 closed

[2022-06-22 12:47] braghettos opened #916 "Default user for build-qemu-ubuntu-2004"
**What steps did you take and what happened:**
I've followed exactly this instructions: https://image-builder.sigs.k8s.io/capi/providers/openstack.html on an Ubuntu 22.04 machine and If I try to spin up the workload cluster the control plane has some issues during the power up of the machine.
I would like to debug the cloud-init issues but I don't know which user should I use to log in the OS and

[2022-06-24 19:56] jsturtevant commented on #767
/remove-lifecycle stale
/help

[2022-06-27 09:45] invidian opened #922 "Consistently place and name template files"
Right now files referenced by `template` module are scattered between `templates` and `files` directory and sometimes they have `j2` extension. This should be unified so it is obvious where to put new files when there is a need.

[2022-06-27 09:59] invidian commented on #906
FYI opened #923 as an alternative to #907, which addresses only this issue, so should be easier to merge. It also uses `/opt/bin` only for Flatcar.

[2022-06-27 12:10] invidian opened #924 "Speed up Flatcar QEMU builds"
**Is your feature request related to a problem? Please describe.**

Right now Flatcar QEMU build downloads ISO image via Packer, then inside the VM image is downloaded again by Flatcar installation script to install Flatcar to the disk and reboot. This is disk and network intensive and could possibly be improved.

**Describe the solution you'd like**

Perhaps it would be possible to use `"disk_ima

[2022-06-27 15:24] #906 closed

[2022-06-30 00:16] #910 closed

[2022-06-30 20:12] #890 closed

[2022-07-04 15:00] invidian commented on #542
/remove-lifecycle stale

[2022-07-05 21:55] #894 closed

[2022-07-07 17:26] jayunit100 opened #930 "Support UEFI VMX parameterizations for GPU specfic features in OVAs for CAPV clusters"
Similar to https://github.com/kubernetes-sigs/image-builder/issues/160 potentially a duplicate

# Current thinking

there are vGPU and PCI Passthrough modaliities for running GPUs in VMs.  This UEFI + GPU
- VMX parameter config may not be required for PCI Passthrough? but i think they are bc they are literally `pciPassthru.allow...` and so on.
- VMX parameter config WILL be required for vGPUs

# G

[2022-07-08 10:02] johananl opened #932 "OVA post-processor is broken"
**What steps did you take and what happened:**

Run `make build-node-ova-vsphere-ubuntu-2004` (or any other OVA build) against some vSphere environment. After the image is built on vSphere and a VMDK file is downloaded, the Packer post-processor named `vsphere` fails with the following error:

[code]

**What did you expect to happen:**

I expected the post-processor to exit cleanly.

**Anything el

[2022-07-08 10:09] johananl commented on #932
The `CUSTOM_ROLE` field was added in https://github.com/kubernetes-sigs/image-builder/commit/961d7829e3185769795e4099cb68ffe57257a048.

[2022-07-08 10:09] johananl commented on #932
/assign

[2022-07-08 10:14] johananl commented on #932
Broken by 0164ced75b0752beac6ec965d198d7c1eeb18b12.

[2022-07-08 16:11] #932 closed

[2022-07-11 06:50] manuh-L commented on #859
hello guys,

did you managed to fix this or find a solution?
are facing the same issue trying to build vmware vpshere template

 vsphere-clone.MGlobal: Setting up proxy adapter for Ansible....
==> vsphere-clone.MGlobal: Executing Ansible: ansible-playbook -e packer_build_name="MGlobal" -e packer_builder_type=vsphere-clone -e packer_http_addr=192.168.100.253:0 --ssh-extra-args '-o IdentitiesOnly=ye

[2022-07-12 10:17] invidian opened #936 "Support building arm64 CAPI images"
Both [Azure](https://azure.microsoft.com/en-us/blog/now-in-preview-azure-virtual-machines-with-ampere-altra-armbased-processors/) and [AWS](https://aws.amazon.com/ec2/graviton/) supports ARM64 VMs now, so I think it would be great if image-builder would be able producing arm64 compatible images.

I see that there are already some parameters for selecting the CPU architecture, but I don't think the

[2022-07-13 17:29] kkeshavamurthy commented on #903
@anoopl Seems like #870 has not had any updates in close to 3months. Feel free to open up your PR and we'll be happy to review it.

[2022-07-13 18:01] #879 closed

[2022-07-18 19:10] kopiczko opened #937 "Flatcar support for OpenStack"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to build a Flatcar image for OpenStack. Currently I can build a QEMU image with OEM partition empty. I need to set oem parameter manually for the image to pull ignition data from OpenStack user-data service. It looks more or less like this right now:

[code]

**Describe the solution you'd like**
Could be an extr

[2022-07-18 19:38] manuh-L commented on #859
Thanks

Thanks, I had demo to present, so for me the quick fix at the time was downgrade. I'll try asap

[2022-07-22 16:14] kopiczko opened #939 "Race between kubeadm and containerd service in Flatcar"
**What steps did you take and what happened:**
When booting a cluster with Flatcar Linux (occurred in CAPO) there can be a race between kubeadm.service and containerd.service:

[code]

**What did you expect to happen:**
containerd running before kubead starts.

**Anything else you would like to add:**
Adding this to KubeadmConfigTemplate fixes it:

[code]

**Environment:**

Project ([Image Builder

[2022-07-22 16:55] pothos commented on #939
This is fixed in the latest Flatcar release where containerd is enabled by default: https://www.flatcar.org/releases#release-3227.2.0

[2022-07-22 16:59] invidian commented on #939
I recall we've been discussing this with @jepio somewhere. Let me dig that up.

[2022-07-22 17:15] invidian commented on #939
Hmm, I can't find it, but the point was, that the `kubeadm.service` is being provided by the CABPK and image-builder CAPI images defaults to use `containerd`. So I believe image-builder should make no assumptions about the bootstrap provider which will be used. And CABPK should make no assumptions that `containerd` will be used. The place to define the binding mentioned in the issue as a workaroun

[2022-07-23 21:21] #723 closed

[2022-07-28 18:43] jsturtevant commented on #640
/remove-lifecycle stale

[2022-07-30 15:08] itspngu commented on #556
I forgot to follow up on this and just got reminded when browsing the open issues to see if another problem of mine had already been addressed.

Since we build the CAPI images in our own CI, I implemented a workaround for the audit spam by using the `custom_role_names` [Packer config key that gets passed to the Ansible provisioner ](https://github.com/kubernetes-sigs/image-builder/blob/master/imag

[2022-07-30 15:33] itspngu opened #941 "GCE: Expose advanced packer googlecompute auth options to users"
**Is your feature request related to a problem? Please describe.**
We'd like to leverage Workload Identity Federation (in our case from Github to Google Cloud) to build CAPI images. Currently we're using a secret with a static JSON service account key that is mounted into the container in CI and point `GOOGLE_APPLICATION_CREDENTIALS` at it, as outlined in the GCP section of the docs: https://image

[2022-07-30 15:36] itspngu commented on #941
/assign

[2022-08-03 19:59] ubhide commented on #649
/remove-lifecycle rotten

[2022-08-04 21:23] ameukam commented on #845
/remove-lifecycle rotten

[2022-08-06 21:27] ubhide commented on #833
/remove-lifecycle rotten

[2022-08-09 13:46] johananl commented on #885
/remove-lifecycle stale

[2022-08-11 19:47] PushkarJ commented on #803
/remove-lifecycle stale

[2022-08-15 15:34] kkeshavamurthy opened #949 "Azure SIG CI flakes"
I think the reason this Azure SIG test fail often is `windows-2019` and `windows-2019-containerd` SIG end up with the same SIG `Image Name`. Whichever of the 2 builds completes second tries to create a SIG Image in the Gallery with the image name that already exists and fails.

Windows-2019 SIG image info:
[code]

SIG Windows-2019-Containerd info:
[code]

[code]
is the same for both.

On a success

[2022-08-15 16:14] jsturtevant commented on #949
seems like a variable in the scripts isn't getting set right, the original image name ` Image Name                : 'capi-windows-2019-1660288896'` should have the `-containerd` like the sig name that is finally stored: `SIG image name                        : 'capi-windows-2019-containerd`

[2022-08-17 07:46] johananl commented on #897
/remove-lifecycle stale

[2022-08-18 18:30] #949 closed

[2022-08-22 21:15] kkeshavamurthy opened #952 "OCI build failures due to apt lock"
**What steps did you take and what happened:**
When building a Ubuntu 20.04 OCI, the build very often fails in the initial `dist-upgrade` task due to apt lock being held by another process. I think this due to some of the apt related modules in the cloud-config & cloud-final that comes in from the stock oci image.

[code]

Ansible 2.13.x has the support for a `lock_timeout` option in the apt modul

[2022-08-22 23:31] kkeshavamurthy opened #954 "OCI build issues when using custom repos"
**What steps did you take and what happened:**
When a Ubuntu image is booted up on OCI, the apt modules in cloud-final image updates the apt sources. When installing from private repos is enabled with`extra_repos`, the [task](https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/ansible/roles/setup/tasks/debian.yml#L46) to install the extra repos is run before cloud-final update

[2022-08-23 03:29] #952 closed

[2022-08-24 06:12] AverageMarcus commented on #845
I just hit this issue today trying to build the new v1.25.0 build. It's trying to pull coredns:v1.9.3 from the old registry which doesn't exist.

[2022-08-24 11:02] neolit123 commented on #845
likely related to https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images
and it depends on the kubeadm version. 1.25 will threat registry.k8s.io as the default and the coredns path differs between default and non default registry.

[2022-08-24 18:03] jsturtevant commented on #766
/reopen

[2022-08-24 18:03] jsturtevant commented on #766
/remove-lifecycle stale

[2022-08-24 18:16] kkeshavamurthy opened #957 "Support GOSS checks for OCI targets"
**Is your feature request related to a problem? Please describe.**
Similar to the goss checks that's being done for targets in AWS, Azure & vSphere, we'd like to have support for OCI build targets (ubuntu 18.04, ubuntu 20.04 & oracle-linux-8)

**Describe the solution you'd like**
Add a packer goss provisioner after the ansible roles are run.
Add `oci` as one of the providers in goss-vars
Add `orac

[2022-08-25 17:38] #766 closed

[2022-08-26 21:06] #954 closed

[2022-08-26 22:38] #957 closed

[2022-08-28 19:07] invidian commented on #905
/remove-lifecycle stale

[2022-08-30 16:36] #845 closed

[2022-08-31 13:06] johananl commented on #814
/remove-lifecycle stale

[2022-09-01 13:12] johananl commented on #881
/remove-lifecycle stale

[2022-09-01 13:12] johananl commented on #908
/remove-lifecycle stale

[2022-09-02 07:12] andyzhangx opened #960 "Provide Ubuntu 22.04 support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Currently we only supports Provide Ubuntu 20.04

**Describe alternatives you've considered**
A clear and concise description of any alternati

[2022-09-05 10:50] invidian commented on #800
/remove-lifecycle stale

[2022-09-08 06:32] sriramandev opened #967 "Ubuntu image builds fails during iptables-persistence package install"
**What steps did you take and what happened:**
Run azure Ubuntu 1804/2004 SIG/VHD image build. Process fails during installation of iptables-persistent package (providers role - azure.yaml in Ansible)

**What did you expect to happen:**
Image build process to complete successfully

**Anything else you would like to add:**
Looks like the latest version of iptables-persistent package uses updated ve

[2022-09-08 06:34] sriramandev commented on #967
/assign

[2022-09-08 09:55] kopiczko opened #969 "Flatcar OS detection failure"
**What steps did you take and what happened:**

[code]

**What did you expect to happen:**

Build an image.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

It is because of this line in `images/capi/ansible/roles/node/defaults/main.yml`

[code]

It doesn't detect Flatcar correctly.

**Environment:**

Project ([Image Builder for Cluster

[2022-09-08 18:16] #857 closed

[2022-09-08 19:07] #967 closed

[2022-09-09 16:57] #969 closed

[2022-09-09 20:31] #858 closed

[2022-09-19 17:37] #937 closed

[2022-09-23 19:25] #784 closed

[2022-09-23 20:25] #866 closed

[2022-09-27 10:47] invidian commented on #924
/remove-lifecycle stale

[2022-09-27 10:47] invidian commented on #922
/remove-lifecycle stale

[2022-09-29 15:20] Ankitasw opened #987 "CentOS 7 owner ID changed in AWS public AMIs"
**What steps did you take and what happened:**
While generating CAPA AMIs for newer kubernetes releases, we observed that there exists no AWS AMIs with the owner ID `410186602215` defined in [packer for centOS](https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/ami/centos-7.json).
When I checked the public AMIs with AMI Name as `CentOS Linux 7 x86_64 HVM EBS ENA*`, the

[2022-09-29 15:32] Ankitasw commented on #987
cc @codenrhoden @kkeshavamurthy

[2022-09-30 17:12] #987 closed

[2022-10-02 15:58] invidian commented on #542
/remove-lifecycle stale

[2022-10-02 18:55] #819 closed

[2022-10-04 17:20] Jeremy-Boyle commented on #939
This fix is no longer working.

[2022-10-05 21:49] mboersma opened #991 "cluster-node-image-builder container fails in Azure pipeline"
**What steps did you take and what happened:**

When running Azure image-builder tasks from this repository in pipelines, we want to use the container produced by `make -C images/capi docker-build` as recommended in the [Image Builder book](https://image-builder.sigs.k8s.io/capi/container-image.html#examples). But in practice it errors out, as shown in the below log.

This same startup script with

[2022-10-05 21:52] mboersma commented on #991
It's odd that the script pokes at the container, finds there is already a "cloudtest" user with UID 1001, then goes ahead and creates a "cloudtest_azpcontainer" user with the same UID.

I would think "cannot lock /etc/passwd" might be an appropriate error in this case, except that the same thing happens when backed by the deis/go-dev container, and succeeds in that case.

[2022-10-06 21:17] willie-yao commented on #991
/assign

[2022-10-07 09:06] johananl commented on #854
/remove-lifecycle stale

[2022-10-10 15:09] AverageMarcus commented on #905
Looks like this problem also prevents being able to use Ubuntu 22.04 as a base VM. Doesn't look like the env var can be used as a workaround in that situation (at least it didn't work for me).

[2022-10-10 18:41] willie-yao opened #992 "Run e2e/smoke tests against new VHDs before publishing them"
**Is your feature request related to a problem? Please describe.**
Currently, the Azure image publishing pipelines doesn't run any sort of validation to ensure the image is not broken.

**Describe the solution you'd like**
We want to add a stage to the image publishing pipeline that runs a "smoke test" to ensure the underlying image can be used to provision a CAPZ cluster successfully.

**Describe

[2022-10-10 18:41] willie-yao commented on #992
/assign
/assign mboersma

[2022-10-11 18:29] kkeshavamurthy commented on #903
/remove-lifecycle stale

[2022-10-11 18:30] kkeshavamurthy commented on #903
Fixed in https://github.com/kubernetes-sigs/image-builder/pull/943

/close

[2022-10-11 18:30] #903 closed

[2022-10-14 04:19] Meecr0b commented on #905
we successfully implemented a workaround in our environment by directly setting
[code]

[2022-10-16 22:12] invidian commented on #859
/remove-lifecycle stale

[2022-10-17 23:45] #898 closed

[2022-10-20 06:33] invidian opened #1002 "Ensure FLATCAR_VERSION is available in Azure"
The release of Flatcar images published to Azure is sometimes delayed, which creates a situation, where `hack/image-grok-latest-flatcar-version.sh` and `az vm image list --publisher kinvolk --sku stable --offer flatcar-container-linux-free --all -o json | jq -r '.[] | select( .sku == "stable") | .version' | sort | tail -n1` will return different versions, which makes CI fail for Flatcar until late

[2022-10-24 11:42] #904 closed

[2022-11-01 00:44] CecileRobertMichon opened #1011 "Azure Pipeline: use managed identity"
From

_Originally posted by @CecileRobertMichon in https://github.com/kubernetes-sigs/image-builder/pull/1005#discussion_r1009971022_

The Azure VHD publishing pipeline currently depends on a service principal client id/client secret variable to be set to create and test VHDs. We should consider making the pipeline work with managed identity and run on trusted agents instead. This is more secure a

[2022-11-01 20:28] joekr commented on #960
Sorry about that @andyzhangx I didn't mean to close the issue I should have used Ref instead of Fix in my PR.

[2022-11-05 23:40] jayunit100 commented on #930
In capv this being fixed as a runtime option so it's not required for image building.

Maybe that's good enough

[2022-11-07 18:07] BDworak opened #1071 "Support Mariner Linux as capi image base"
/kind feature

**Describe the solution you'd like**
We are being asked to move our linux base images to mariner linux. https://github.com/microsoft/CBL-Mariner
This ask is to create the Mariner Linux image to be used as the base image for both the controller and worker nodes in a Kubernetes CAPZ cluster. Ideally, this base image is built as part of the CAPI image building infrastructure and is pub

[2022-11-08 09:23] johananl commented on #885
/remove-lifecycle stale

[2022-11-15 14:49] johananl commented on #897
/remove-lifecycle stale

[2022-11-19 14:21] #916 closed

[2022-11-21 20:46] mboersma commented on #1002
@invidian this happened again today:

[code]

[2022-11-21 21:59] kkeshavamurthy opened #1016 "oci builder fails with packer 1.8.4"
**What steps did you take and what happened:**
`make build-oci-ubuntu-2004`

[code]

**What did you expect to happen:**
OCI builds should be successful

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

https://github.com/hashicorp/packer/pull/11983

**Environment:**

Project ([Image Builder for Cluster API](https://github.com/kubernetes-s

[2022-11-21 22:06] kkeshavamurthy commented on #1016
Maybe add this before the build process
[code]

[2022-11-23 10:25] okozachenko1203 opened #1018 "Flatcar images built by image-builder does not support key auth in Openstack provider"
**What steps did you take and what happened:**
- I built a qcow2 image by following https://image-builder.sigs.k8s.io/capi/providers/openstack.html#building-qcow2-image to build flatcar image for Openstack.
[code]
- Uploaded it to glance
- Spin up a VM using that image
[code]
- Trying to access via ssh and it requires password
[code]
**What did you expect to happen:**
I expect key auth.

**Anythin

[2022-11-23 13:53] mnaser commented on #1018
@okozachenko1203

https://github.com/kubernetes-sigs/image-builder/blob/03def50db05d589d409cbe9409912e1f6cdc51fe/v1/pkg/engines/packer/variables.go#L102
https://github.com/kubernetes-sigs/image-builder/blob/03def50db05d589d409cbe9409912e1f6cdc51fe/v1/pkg/engines/packer/variables.go#L105

I'm scared it might work but can you try logging in using username `builder` and password `builder` ?

[2022-11-23 14:02] okozachenko1203 commented on #1018
@mnaser it does not work

[2022-11-24 18:53] okozachenko1203 commented on #1018
Following this [doc ](https://flatcar-linux.org/docs/latest/installing/cloud/openstack/), I generated ignition JSON file from https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/files/flatcar/clc/bootstrap.yaml for openstack provider.
[code]

The result ignition file is;
[code]

To recap, `coreos-metadata-sshkeys@.service` should be running.

[2022-11-25 06:22] sbueringer commented on #960
/reopen

[2022-11-25 11:06] #1018 closed

[2022-11-28 19:22] mboersma commented on #1002
It's still erroring today, btw, which is blocking some PRs from passing. 😞

[2022-11-29 02:53] joekr commented on #1016
Yup. Looks like the oracle provider is no longer vendered as per the changelog: https://github.com/hashicorp/packer/blob/main/CHANGELOG.md#184-october-28-2022

[2022-11-29 02:55] joekr commented on #1016
/assign

[2022-11-29 14:10] rymancl commented on #814
/remove-lifecycle stale

[2022-11-29 14:11] DimpleRajaVamsi opened #1022 "Ability to configure the Packer http ports"
**Is your feature request related to a problem? Please describe.**
While building Photon OVA user needs to open ports between 8000 to 9000 on the host machine where the packer is running this is because the packer creates an HTTP server and uses a randomly unused port between 8000 and 9000. Packer HTTP server hosts the Photon kick-start file. Opening 1000 ports for building the OVA is unnecessary.

[2022-11-29 14:12] DimpleRajaVamsi commented on #1022
/assign

[2022-11-29 21:13] #1016 closed

[2022-11-29 21:13] #1002 closed

[2022-11-30 13:22] invidian commented on #881
/remove-lifecycle stale

[2022-11-30 14:46] johananl commented on #908
/remove-lifecycle stale