[2019-07-09 05:41] moshloop opened #2 "Import CAPA implementation"
@detiber Could you please import the current CAPA implementation into `images/capa` ?

/assign @detiber

[2019-07-09 05:44] moshloop opened #3 "Import CAPV implementation"
@akutz Could you please import the CAPV implementation?

/assign @akutz

[2019-07-09 05:46] moshloop opened #4 "Import kube-deploy/image-builder implementation"
@justinsb Could you please import the kube-deploy implementation into `images/kube-deploy`

If you are too busy feel free to assign it back to me

/assign @justinsb

[2019-07-09 05:47] moshloop opened #5 "Import konfigadm implementation"
/assign @moshloop
/lifecycle active

[2019-07-09 05:49] moshloop opened #6 "Setup E2E Test Infra"
See https://github.com/kubernetes/test-infra/issues/13341

[2019-07-23 17:18] #3 closed

[2019-07-23 17:19] timothysc commented on #2
CAPV implementation has been imported.  Closing this issue.

[2019-07-23 17:19] #2 closed

[2019-07-24 19:48] moshloop opened #9 "Remove dependency on privately owned konfigadm repo"

[2019-08-09 15:55] randomvariable opened #10 "logs for kubeadm cloud-init module"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Have a failed kubeadm join on a node

**What did you expect to happen:**
Expect to see kubeadm output in `/var/log/cloud-init-output.log`

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
The module doesn't capture output at the

[2019-08-09 21:02] timothysc opened #11 "Audit CAPA and wardroom"
In an effort to dedupe and reduce the number of tools being used in the ecosystem, we should do a final audit of CAPA's image builder and https://github.com/heptiolabs/wardroom as well.

/assign @codenrhoden @figo

[2019-08-09 21:03] timothysc opened #12 "Create a COPR build + instructions for cloud-init module for Centos 7"
See subject line.
/assign @codenrhoden @figo

[2019-08-09 21:41] timothysc opened #13 "Add @codenrhoden @figo as approvers."
@moshloop - @codenrhoden @figo are going to be helping pickup the load from our end here especially around the packer impl.

Any objections?

[2019-08-11 06:31] moshloop commented on #13
No objections from me - It would be great to get more help on this project

[2019-08-13 07:29] moshloop commented on #13
@figo @codenrhoden - Can you open a PR?

[2019-08-13 21:34] #13 closed

[2019-08-14 15:40] akutz opened #17 "Build/deploy cloud-init 19.1/2 for CentOS 7"
This issue tracks the work necessary to automate the build of cloud-init 19.1/2 as an RPM for CentOS 7. More information on why this is necessary may be found at https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/41.

Neither [pkgs.org](https://pkgs.org/download/cloud-init) nor rpmfind listed cloud-init 18.4+ for CentOS or RHEL. There are RPMs for other OSs, but they

[2019-08-14 15:40] akutz commented on #17
/kind feature

[2019-08-14 15:42] #12 closed

[2019-08-14 16:42] moshloop opened #18 "CAPI - Define CI & Test approach"
We need to be able to run tests on pull requests / periodically as well as provide an automated build & promotion process for images
/assign @figo @codenrhoden

[2019-08-14 22:11] figo commented on #9
/assign @moshloop

[2019-08-15 16:33] randomvariable opened #20 "Standardise on ntp on cloud-init based distros"
Many users will need to configure ntp during built. Cloud-init can do this through a single `ntp` module, but only when ntp is set up.

RHEL / CentOS 7 and Amazon Linux 2 default to chronyd instead of ntpd, so would need to be swapped out.

[2019-08-16 15:29] randomvariable commented on #17
As mentioned in #21, think we also need to track AL2 as a distribution target.

[2019-08-22 13:59] akutz commented on #17
Hi @detiber / @randomvariable,

Should we close this issue now that RHEL 7.7 and presumably CentOS 7.7 will include cloud-init 18.5? Or do we think it still makes sense to publish a fork of cloud-init?

[2019-08-22 14:05] detiber commented on #17
I think we should probably re-purpose this to track the inclusion of the new version of cloud-init in CentOS. We might still have a reason to fork depending on Amazon Linux 2 adopting a newer version of cloud-init as well.

[2019-08-22 17:21] codenrhoden commented on #17
Sounds like I can put #21 on hold for now, then. Perhaps I should just close it until we know if we need to do anything for AL2?

[2019-08-23 21:55] #4 closed

[2019-09-03 16:37] codenrhoden commented on #11
@detiber With https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/993 merged, do you feel like an audit of Wardroom is still needed? I have the cycles now to look through that if so.

[2019-09-03 17:09] detiber commented on #11
@codenrhoden yes, I found a few additional changes that we should likely make:
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/773690f16e3a783871cc1008c043f1352f9dd10e#diff-2607486c24fcfe5e058547dd451c4466
- https://github.com/kubernetes-sigs/cluster-api-provider-aws/commit/61b5feb31a94c60de352117a491f8adb62dad4b9#diff-2607486c24fcfe5e058547dd451c4466
- https://github.com/kube

[2019-09-05 17:38] codenrhoden commented on #11
@detiber Good news -- the code to handle private/encrypted AMIs is already there. That was all Packer related changes, and those were all picked up by the import of the Packer related stuff from CAPA that was made 20 days ago. So nothing was missed there.

I'm scanning back now to see if there were other changes to the Ansible roles that could have been missed, as those were imported from CAPV, no

[2019-09-05 17:52] codenrhoden commented on #11
so I'm not super familiar with wardroom, but I looked through it's ansible roles as well. The only thing that stands out in there to me is https://github.com/heptiolabs/wardroom/pull/142. I'm guessing this is functionality that is now handled by kubeadm, but I don't really know. Any idea if something similar belongs here as well?

/cc @detiber

[2019-09-05 18:00] detiber commented on #11
@codenrhoden that is correct, we don't need to muck with the systemd environment for the kubelet since kubeadm exposes configuration for it.

[2019-09-05 19:31] codenrhoden commented on #11
Awesome. I consider this complete, then.
/close

[2019-09-05 19:31] #11 closed

[2019-09-09 19:38] akutz opened #30 "Windows machine image"
Per @rhockenbury and https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/525:

[2019-09-09 19:57] timothysc opened #31 "v1alpha2 - tagging"
Once we feel v1alpha2 of CAP* is in a good state we should tag this repo and point documentation references at this repository.

/cc @ncdc @detiber @figo @codenrhoden

[2019-09-09 22:42] figo opened #32 "centos OVA capi image can be login with root and password by default"
**Issues description**
the centos-7 capi image can be login by user: `root` and `password` configured in ks.cfg file.

**Expected behavior**
login with password disabled by default for both custom user(`user` defined in ks.cfg) or `root`

**affected images**
`centos-7 OVA` has problem
`ubunutu-1804 OVA` **don't** have this problem
AMI images (amazon linux, ubuntu, centos) yet be tested

[2019-09-10 00:10] akutz commented on #32
@figo and I found the issue, and he’s correcting it. It appears unique to the CentOS OVA. The root password is set in the kickstart file at https://github.com/kubernetes-sigs/image-builder/blob/53d6bcb1db9aa95f2e5d497bd1f2b9f6fae993ad/images/capi/packer/ova/linux/centos/http/7/ks.cfg#L41.

However, the root account is *also* locked via `/etc/cloud/cloud.cfg` (@figo verified `disable_root: true` is

[2019-09-10 00:36] #32 closed

[2019-09-10 01:05] figo commented on #31
good point,  VMware can provide signal through internal testing, community feedback will also key.

[2019-09-10 13:39] detiber commented on #31
One thing that I worry about here is that with the current image naming and lookup conventions used (at least by CAPA), that even if we tag the repo for different Cluster API versions the generated images will still be picked up regardless of the Cluster API version in use. Which means if we introduce breaking changes based on consumed version of Cluster API, then there is nothing to prevent their

[2019-09-10 19:41] codenrhoden commented on #18
So I've been starting to think about this, and am interested in figuring out next steps.

From the CAPI perspective, we are currently generating images for three providers -- AWS, vSphere, and GCE. Those providers use images built from this repo to deploy their clusters.

So how do we go about doing E2E tests? The only way to really prove out tests is by using the image with its associated provide

[2019-09-10 20:03] moshloop commented on #18
I really like this approach and I think it is a good step in putting a plan in place.

In terms of testing images, there is some level of testing that should be done in this repo outside of E2E testing in CAPI/KOPS/Kubespray etc :
* Basic sanity tests to ensure `kubeadm init` produces a functional control plane
* Reproducibility and bill-of-material variance. Byte level repeatable builds are out o

[2019-09-11 14:56] codenrhoden commented on #18
Thanks for the feedback, @moshloop!

Really good point. I've been thinking so centric to CAPI lately that I failed to realize that the images built from here should work with a simple `kubeadm init`. It's obvious in hindsight, but I still didn't catch that. That would be a great way to test...

Agreed. I think this comes back to what type of BOM we want to produce, and whether we need to store it

[2019-09-11 19:23] detiber commented on #18
One test that I've done in the past for images is to validate Node Conformance on an image: https://github.com/kubernetes-sigs/image-builder/tree/master/images/capi/packer/ami#run-the-e2e-node-conformance-tests

We should be able to assume that the general binaries are functional based on the testing that is done for producing them, so I'm not sure we get much value out of `kubeadm init`, but Node

[2019-09-11 19:25] detiber commented on #18
What type of images are we talking about here? For public cloud-based images I would expect consumption in a native way rather than requiring import for use.

[2019-09-11 19:27] detiber commented on #18
We'll need AWS keys for AMI building. VMC (most likely) keys for OVA building, etc.

If we can build using prow, then we can leverage the secrets management there as well as a checkout system such as boskos. That may get a bit trickier for vSphere, OpenStack, etc, though

[2019-09-11 19:29] detiber commented on #18
Are we actually planning on having a real support statement around these images now? Previously we said this would only be a tool for users to be able to build images. For example, the CAPA images are meant for testing and demo purposes only, production users are encouraged to build and manage their own images.

[2019-09-11 19:35] moshloop commented on #18
Does this not depend on having a working go installation inside the image?

There is an argument to be made that the images should all be produced offline and then imported as AMI's / GCP / OVA / QCOW - It makes producing reproducible builds far simpler and ensuring consistency between images across cloud providers.

I think the purpose of this project is to ultimately provide production-ready ima

[2019-09-11 19:43] detiber commented on #18
No, the tests are distributed as binaries. The link I used above basically downloads a tarball, extracts it, and then executes the node conformance tests.

Sure, but that also means that we may need to do things such as modify kernels based on the targeted cloud provider, install per-provider required drivers, per-provider required agents, and also own other per-cloud tweaks needed that come for f

[2019-09-17 19:43] codenrhoden opened #39 "CAPI OVA: support starting from existing VMX"
The existing build procedure for the OVA image always starts with an ISO. Some consumers of the tool may want to start with an existing image that just needs the K8s components added to it.

This would potentially allow a user to use the `vmware-iso` builder to create an OS image from scratch, which could later be used by the `vmware-vmx` builder for additional customization.

To facilitate this,

[2019-09-17 19:44] codenrhoden opened #40 "CAPI OVA: Allow custom repos in kickstart/preseed"
The current CentOS kickstart and Debian preseed files have hardcoded references to various repos (CentOS mirror, EPEL, etc). Enterprise consumers of this tool may have internal repo mirrors that they want to use instead of reaching out to the internet.

Devise a solution for these kickstart/preseed files to reference different repos instead.

[2019-09-23 16:37] figo opened #48 "the CentOS OVA has issue to bring up nic network when power on"
The CentOS 7 ova produced by image-builder can not bring up nic when power on.

The symptom will be: the VM only has loop device "lo" up and running, no other functional network interface

cc @akutz @jiatongw

[2019-09-24 17:50] codenrhoden commented on #17
The current CentOS cloud-init package is now 18.5 (same as CentOS 8). I'll test an image using that version instead of the Copr version soon and if all goes well, we can finally remove that customization!

[2019-09-25 13:23] detiber commented on #17
@codenrhoden I'm planning on updating CAPA v1alpha1 to remove the use of the kubeadm module, which should remove the last blocker to removing the forked cloud-init version in this repo as well.

[2019-09-25 21:04] detiber commented on #17
https://github.com/kubernetes-sigs/image-builder/pull/50 resolves the initial issue of shipping a forked version of cloud-init for CentOS and uses the newest version shipped with CentOS 7.7 (which is > the minimum required version of 18.4).

That said, it does not address the AL2 issue, so there is still a chance we'll need to build/install a newer version for AL2 than is available today).

[2019-09-26 22:40] figo opened #59 "ctr can not deal with container image tagged with `vmware/kube-apiserver:###`"
Impact:
    When build ova and kubernetes_source_type = "http"

Steps:
   1. set kubernetes_source_type = "http" and kubernetes_cni_source_type = "http"
   2. start the build, in the process, it will call `ctr images import` to load image tar file from the http url, if the image tar file been tagged as `vmware/kube-apiserver` which is not a typical server address, `ctr` will add a `docker.io` as p

[2019-09-29 09:02] moshloop commented on #5
/close

[2019-09-29 09:02] #5 closed

[2019-09-30 19:17] timothysc commented on #18
/cc @dims

[2019-10-03 19:59] codenrhoden opened #66 "CAPI images: simplify steps required to use tool"
Some general feedback received, especially when building OVAs, is that there are a large number of steps involved in order to get an environment that can build an image.

Improvements can be made here, around documentation and tooling.

A `make check` step might be helpful for verifying that prereqs are in place.

The README at `packer/ova/README` is a bit out of date vs current capabilities as we

[2019-10-07 06:55] moshloop commented on #6
/remove-lifecycle stale

[2019-10-08 18:04] andrewsykim opened #70 "Should we include provider versions in image versions?"
This is mostly a follow-up issue based on a previous discussion w/ @akutz @codenrhoden @ncdc @detiber @dennisme https://github.com/kubernetes-sigs/image-builder/pull/64#discussion_r329793887

We recently added CSI support in CAPV which required an update to our machine image because the vSphere CSI driver requires a newer VMX version than what we were using previously. Since machine images are ver

[2019-10-08 18:08] detiber commented on #70
This could greatly complicate the upgrade process...  For CAPA, we specifically released v0.3.9 to use the newer version of image-builder (without custom cloud-init provider) to help avoid needing to do a similar image swap for minor version upgrades.

[2019-10-08 18:12] andrewsykim commented on #70
So for CAPA if I'm on v0.3.9, does that mean I can't use any of the machine images released in older patch versions? Also are all Kubernetes versions re-uploaded using the newer version of the image-builder or just the latest patch versions of Kubernetes?

[2019-10-08 18:16] detiber commented on #70
CAPA <= v0.3.8 can use any of the previously released images (that use the images with the kubeadm module), but not any newer released images.

CAPA  v0.3.9 can use both the previously released images and any newly released images.

CAPA v0.4.x can use either the previously released images or any newly released images.

It's not really apples to apples, but ideally we'd have some type of transitio

[2019-10-08 18:22] akutz commented on #70
FWIW, this is an odd case in that it's not the contents of the image but some metadata (the HW version) associated with the image. But the long-term issue stands -- what happens when a CVE is found that affects the machine images? We will need to spin updates for all of them. How do we then distribute those? Do we overwrite the older images? Publish new ones? If the latter, how are they versioned?

[2019-10-08 18:35] detiber commented on #70
I would hope that wouldn't require us to modify CAP* providers to consume the new images, so I would expect at least that use case to require re-publishing images with the same name (or in the case of CAPA, the same name prefix with a new timestamp).

[2019-10-10 02:40] Sn0rt opened #74 "capi image: docker image support"
for some reason, some users want to use docker as runtime.

and now I have try to use  `geerlingguy.docker` to build a new image, only AMI, for k8s runtime.

and it's working fine.

can we consider to support CAPI docker runtime?

[code]

[2019-10-10 05:00] moshloop commented on #74
According to [sig-node](https://kubernetes.slack.com/archives/C0BP8PW9G/p1561135308262200?thread_ts=1561110820.257500&cid=C0BP8PW9G), containerd is not officially supported by upstream, so more than adding support for docker, I think we should make it the default.

[2019-10-10 13:23] detiber commented on #74
sig-node has tests that they run for [containerd](https://testgrid.k8s.io/sig-node-containerd), [cri-o](https://testgrid.k8s.io/sig-node-cri-o), and [docker](https://testgrid.k8s.io/sig-node-docker)...

I hesitate to make docker the default, since there have been known issues between supported docker versions and kubelet versions, which means we'd have to track compat between the two and ensure th

[2019-10-10 13:57] moshloop commented on #74
If I look at the release notes: https://kubernetes.io/docs/setup/release/notes/#unchanged there are specific versions of docker listed, but no mention of containerd or cri-o - Maybe the release notes need to be updated?

[2019-10-10 18:51] detiber commented on #17
Closing, this should no longer be necessary.
/close

[2019-10-10 18:51] #17 closed

[2019-10-17 08:02] alexbrand opened #78 "Support running image-builder in RHEL 7"
The Makefile in images/capi/packer/ami and images/capi/packer/gce uses `shasum` to verify the downloaded packer plugins.

In some distributions, such as RHEL 7, `shasum` is actually `sha256sum`. I think we can update the Makefile to detect whether `shasum` or `sha256sum` is available on the machine. If neither are there, exit with an error.

[2019-10-17 10:30] alexbrand opened #79 "Add support for building CAPI images behind an HTTP proxy"
As a CAPI user, I want to be able to build my own images behind a corporate HTTP proxy.

At first glance, the following changes are needed:
- Flow http proxy vars into ansible
- Manually download goss
- Disable the automatic download of goss in the goss plugin

[2019-10-22 17:07] codenrhoden commented on #78
/assign

Yeah, it can definitely be added to user different variants of the same command.

hard part for me is going to be tracking down a RHEL license to test things E2E. I'll start that process. :)

[2019-10-23 17:52] figo opened #83 "update Ubuntu ISO to newer version to address security update"
please refer to canonical announcement of newer kernel patch, https://news.softpedia.com/news/canonical-outs-new-linux-kernel-security-update-for-ubuntu-18-04-and-16-04-lts-527939.shtml

[2019-10-24 22:43] akutz opened #85 "Lock default user for OVAs"
The CAPV OVAs built with the image builder have always relied on cloud-init to lock the default accounts. This worked fine in CAPV v1a1 when we created our own cloud-init userdata and used the `ssh_authorized_keys` option to add a key to the default user. That’s not an option in CAPBK -- you must explicitly add users. Well, it turns out if you explicitly specify a user in the `KubeadmConfig` resou

[2019-10-25 00:10] akutz commented on #85
Closed with #84.

[2019-10-25 00:10] #85 closed

[2019-10-25 18:02] codenrhoden commented on #83
I don't think updating the ISO is required get the newer kernel. The kernel will get upgraded at this step:

https://github.com/kubernetes-sigs/image-builder/blob/24e22ae879eda31d5f68b7a70361e4dc495f0625/images/capi/ansible/roles/common/tasks/debian.yml#L43-L46

When I run `apt-get dist-upgrade` in an Ubuntu VM right now, it tries to install `linux-image-4.15.0-66`, which is the new recommended ke

[2019-10-25 18:43] figo commented on #83
Thanks @codenrhoden for looking into it, looks like we can close the issue now.

[2019-10-25 19:23] codenrhoden commented on #83
/close

[2019-10-25 19:23] #83 closed

[2019-10-29 17:10] figo commented on #31
When should we start tagging image-builder tool (CAP* part)? it might be right now.
because we are continually making new changes to `master` that potentially can break the tool or break compatibility,  at the same time, we are expecting CAP* users start to consume this tool, then we need tags and versions that been tested.

[2019-10-29 18:07] detiber commented on #31
I have no objections to tagging the current state of the repo.

[2019-10-29 18:08] codenrhoden commented on #31
My request would be for me to resolve #78 first, which I am working on now.

[2019-11-01 19:27] codenrhoden opened #90 "CAPV images for Ubuntu have unattended upgrades enabled"
This must happen by default with Ubuntu, but he current images have the `unattended-upgrades` package installed and enabled. Furthermore, there are systemd units that are trying to do a daily apt-get update... These units are:

- `apt-daily.{service,timer}`
- `apt-daily-upgrade.{service,timer}`

Since the images are supposed by immutable, we *really* don't want any packages changing automatically,

[2019-11-03 07:55] moshloop commented on #66
/assign

[2019-11-03 07:56] moshloop commented on #40
Should we not move the installation of most of the packages to the post-boot phase?

[2019-11-03 07:59] moshloop opened #91 "CAPV images: remove disabled nginx service"

[2019-11-06 16:30] codenrhoden commented on #40
@moshloop Yes, that is exactly what we should do. I can close this issue. With #45, I made the CentOS image not rely on external repos at all, and I'm trying to do the same with Ubuntu in #47. So we went the exact opposite approach.

And there already exists a mechanism to inject custom repo definitions along with the option to disable the default system ones. So I think we are good here.

/close

[2019-11-06 16:30] #40 closed

[2019-11-06 16:33] codenrhoden commented on #90
Just to follow-up on this one, I want to pose the question: Are the images created by this tool intended to be immutable?

I believe the answer to this question is yes -- if any package update is required, the intent is to build a new image.

Other uses may not agree with this process. I know from my perspective, I have internal requirements for these images to be immutable, so at a minimum I need

[2019-11-06 16:34] codenrhoden commented on #91
/assign

[2019-11-06 16:36] detiber commented on #90
@codenrhoden based on the use cases for the tool that we've described so far, I think the best option is to default to immutable. If someone wants to have mutable behavior, we shouldn't necessarily stop them, but it should definitely be the exception.

[2019-11-06 17:23] codenrhoden commented on #90
This is my intended approach, I just wanted to get buy-in before I do it. I'll bring it up in today's community meeting as well. I know you won't be there, so thanks for sharing your input here.

[2019-11-07 04:49] prankul88 opened #92 "Template error while templating string: no filter named 'search'."
My aim is build capi ova image on my linux system.
On running `make build-ova-ubuntu1804`, I am getting an error `Build 'ubuntu-1804' errored: Error executing Ansible: Non-zero exit status: exit status 2`

On inspecting the provisioning steps, there seems to be an error with file images/capi/ansible/roles/providers/tasks/main.yml

**OUTPUT**

Last few lines of output were like this.

    ubuntu-18

[2019-11-07 15:54] detiber commented on #92
/assign @figo @codenrhoden

[2019-11-07 17:10] detiber commented on #10
I think this could be closed since we are no longer using the custom kubeadm module.

[2019-11-08 13:05] randomvariable commented on #90
FWIW, did consider adding the following, to lock the Kubernetes version but allow package updates to the rest of the system, just in case someone does do it, it shouldn't break the node.

https://github.com/randomvariable/wardroom/blob/fedora-modernization/ansible/roles/kubernetes/tasks/debian.yml#L45-L65

[2019-11-08 22:16] codenrhoden opened #93 "Create gitbook and publish to sigs.k8s.io"
As the image-builder is maturing, we need to have a coherent set of docs. Since this is a k8s-sigs sponsored project, we already can have  a doc page at image-builder.sigs.k8s.io. If we use gitbook and netlify, we can publish the gitbook to that URL automatically, as are done in other projects.

This is issue tracks setting up a `/doc` folder and the initial scaffolding to publish said docs.

[2019-11-08 22:19] codenrhoden commented on #31
One thing worth discussing -- I had it suggested to me that when we do tag, we do something akin to `v0.1.0-v1alpha2`. The relevant part here being the `v1alpha2`, which I took to signify that the images were intended for CAPI v1alpha2.

To my knowledge, the images produced today are not tied to the CAPI version. Is my understanding incorrect?

If it is, and the image *are* tied to a CAPI version,

[2019-11-08 22:21] codenrhoden opened #94 "Formalize process for rev'ing versions included in images"
In the last community meeting, the topic was brought up of how and when we bump verions of things included in the image. Namely, things like `containerd` and `cni`. We should formalize how and when these packages can be bumped up, rather than just being at the whim of someone opening a PR.

[2019-11-08 22:24] codenrhoden opened #95 "Should default images include NFS utilities"
The current images install support for making NFS mounts. As brought up in #64, this does leave open ports that some users may find undesirable. Rather than explicitly disabling those ports, should it instead be left to a user to customize their image by adding NFS support if they want it?

[2019-11-10 09:51] sbueringer opened #96 "images/capi/ova-ubuntu: cloud-init does not work in OpenStack"
Hi,

I'm using the CAPI Ubuntu image in OpenStack. My problem is that cloud-init doesn't detect OpenStack correctly (My assumption is the ova image is meant to be also used in OpenStack).

I'm building and deploying the image like this:

[code]

Then I'm just using Cluster API OpenStack to create a cluster.

I would expect that cloud-init detects OpenStack as datasource and retrieves the metadata.

[2019-11-11 15:18] detiber commented on #95
I'm okay with removing NFS support by default.

[2019-11-11 15:19] detiber commented on #94
As part of this we should probably formalize a process for routinely checking/validating that the versions we are currently deploying do not have any known security related issues

[2019-11-11 15:20] detiber commented on #31
I can't speak for the other cluster-api providers, but for AWS, we are currently using the same images for v1alpha1, v1alpha2, and (in development) v1alpha3 releases.

[2019-11-11 17:25] figo commented on #31
The OVA only works for CAPV v1alpha2, because CAPV v1alpha1 expecting cloud-init kubeadm exist in image which is not the case any more.

Although technically, we could go back and make change on CAPV v1alpha1 branch to call kubeadm command instead, i don't know whether we want to spend effort on it.

cc @akutz

[2019-11-11 17:27] figo commented on #96
cc @akutz @codenrhoden

[2019-11-11 17:37] akutz commented on #96
Hi @sbueringer,

The OVA was not meant for use with OpenStack, but I think it shouldn't be overly difficult to make it work with both vSphere and OpenStack.

We just need to update [this](https://github.com/vmware/cloud-init-vmware-guestinfo/blob/master/99-DataSourceVMwareGuestInfo.cfg#L13) file to include the datasource you want, or perhaps even just have the file include all the defaults with th

[2019-11-11 17:41] sbueringer commented on #96
Sounds good to me. The only problem seems to be that the installation of the vmware guest datasource excludes all other datasources via this config file. I'll prepare a PR to add a new file with the default datasources + `VMwareGuestInfo` and remove the `99-DataSourceVMwareGuestInfo.cfg`.

[2019-11-11 17:41] akutz commented on #96
Hi @sbueringer,

By the way, I think @figo may have been the one that organized the builders as they are now, with the `ova` directory. Do I remember that correctly @figo? The reason I highlight that is because the sensible roles actually relate explicitly to `vmware` or `vsphere`, not `ova`.

So while it may be possible to make the current OVA work with OpenStack, I'd rather do one of the followi

[2019-11-11 17:42] akutz commented on #96
Hi @sbueringer,

I'd rather you didn't. This is a bigger issue IMO, and I'd like to fix it at the root in the guest info repo - https://github.com/vmware/cloud-init-vmware-guestinfo. Can you possible make the change there? Either way we have to rebuild the OVA, so it doesn't really matter to that where the change is, but I'd like it to be in the place that creates the widest solution. Thoughts?

[2019-11-11 17:43] sbueringer commented on #96
Yup, sounds good to me.

[2019-11-11 20:26] moondev commented on #92
I have also observed this error when using the newest Ansible release `2.9.x`. Ansible `2.8.5` works with no issues for me.

[2019-11-12 04:45] prankul88 commented on #92
@moondev Thanks, I will try that version.

[2019-11-12 10:52] prankul88 commented on #92
@moondev Yes it is working as exptected with 2.8.5 . Not sure why this is happening

[2019-11-12 18:29] sbueringer commented on #96
We took a look today at different options how we're building our images in the future and it looks like we're probably migrating to qemu/kvm anyway. Because we're using multiple different OpenStacks internally (VMWare Integrated OpenStack and kvm based OpenStacks) we need `.qcow2` and `.vmdk` images. Right now we're building `.vmdk` images and converting them to `.qcow2`. But I think in the future

[2019-11-12 18:31] akutz commented on #96
Hi @sbueringer,

I don't think this is necessarily a separate requirement. I originally thought to create `qcow` or `raw` files and then convert them to `vmdk`. Truthfully an OVA is just a `tar` with a special file layout. You can inflate it to recover the `vmdk` inside and convert it. Or you can convert the `vmdk` in a post-build script.

I agree that is a good option. I'll work on a PR for that.

[2019-11-12 18:40] sbueringer commented on #96
Okay perfect. We'll work on a qemu/kvm build (based on image-builder) internally anyway during the next few weeks. I personally are not available for much longer this year. But then I think we can compare solutions and think about how/if we can merge them.

Thx :)

[2019-11-13 15:19] detiber commented on #9
/lifecycle frozen

[2019-11-14 15:03] prankul88 commented on #92
Probably best to close this issue as it is more version related.

[2019-11-14 15:03] #92 closed

[2019-11-14 20:31] detiber commented on #20
/lifecycle frozen

[2019-11-20 18:15] sbueringer commented on #96
Just fyi. We have some OpenStack specific changes here: https://github.com/c445/image-builder/

We also have a kvm based bild with the packer qemu builder. I'll try to upstream this early next year if it makes sense.

[2019-12-03 19:47] MnrGreg opened #103 "ova-photon-3 build fails with ansible cloud-init-19.1-2.ph3 update subtask"
Photon 3 has been updated with cloud-init-19.1-3.ph3.noarch.rpm

The ansible task to download and rpm install cloud-init-19.1-2.ph3 fails the playbook and is no longer required.

[code]

[2019-12-09 16:20] detiber commented on #30
/lifecycle frozen

[2019-12-12 14:47] figo opened #109 "capi image-builder broken"
Looks like due to PR https://github.com/kubernetes-sigs/image-builder/pull/68 merged

particularly
[code]

error log:
[code]

cc @aaroniscode

[2019-12-12 14:54] aaroniscode commented on #109
Hmmm.... I just built a bunch of images last night running off master.  I wonder if this is specific to an Ansible version. What version of Ansible are you using?

Last night I also ran only against Amazon Linux 2. I'll try again with Ubuntu and see if I can reproduce.

[2019-12-12 15:00] figo commented on #109
Believe we are using Ansible 2.8.3.

[2019-12-12 15:02] aaroniscode commented on #109
@figo I'm using Ansible 2.8.3 as well, so that's not it. Trying a build with Ubuntu.

[2019-12-12 15:08] ncdc commented on #109
I upgraded to 2.9.2 locally and the regex works and there are no errors with a simple playbook test:

[code]

[2019-12-12 15:09] ncdc commented on #109
It was broken on my Mac with 2.8.5

[2019-12-12 15:09] aaroniscode commented on #109
@figo Just ran an Ubuntu build and it's working.

So ... thinking about this... Ansible is running on our local build system. So perhaps this is related to the Python version?

I'm using Python 3.7.4

[2019-12-12 15:13] ncdc commented on #109
@aaroniscode I also think you could simplify the regex to `dkr\.ecr\..+\.amazonaws\.com` if that helps (although maybe it still doesn't like the slashes).

@figo if you take my small playbook above and run it like `ansible-playbook -vv test.yml`, you should see something like this (or an error):

[code]

[2019-12-12 15:30] aaroniscode commented on #109
It's not specifically Python 2.7 either. Ran this using the DockerHub `python:2.7` container:

[code]

[2019-12-12 17:56] figo commented on #109
The issue narrow down to Jenkins CI environment, i am waiting for @jiatongw reply of Jenkins credential, which will likely happen tomorrow since he is on PTO.

[2019-12-12 20:38] CecileRobertMichon commented on #109
+1 the Azure pipeline is also broken because of this

[2019-12-12 20:43] CecileRobertMichon commented on #109
Running in an Ubuntu container image

[code]

[code]

[2019-12-12 21:07] figo commented on #109
Here is the Jenkins setup:

[code]
issue is easy to reproducible in this setup, will try upgrading Ansible.

[2019-12-12 21:19] aaroniscode commented on #109
Using the DockerHub Python container.

Fails with Ansible 2.8.4 and Python 2.7.15

Works with Ansible 2.8.4 and Python 2.7.17

[2019-12-12 21:39] aaroniscode commented on #109
Reviewing the comments above and with testing Ansible 2.8.4 in the DockerHub Python container. This might be related to an issue in Python 2.7.15.  Upgrading to Python 2.7.16 or Python 2.7.17 and there isn't an error.

[2019-12-12 21:47] CecileRobertMichon commented on #109
Getting the same error with

[code]

[2019-12-12 21:56] aaroniscode commented on #109
Even if the root cause is Python 2.7.15, it's currently the default Python version in Ubuntu 18.04. Looking at alternative regex options that work with Python 2.7.15.

[2019-12-12 21:57] aaroniscode commented on #109
Note the Python 2.7.15 ... I'm thinking the Ansible version might not be the root cause.

[2019-12-12 22:01] CecileRobertMichon commented on #109
Doing `apt-get update && apt-get upgrade` on Ubuntu 18.04 still gets me `python 2.7.15+`  so we'd have to update it outside of apt... I'd prefer avoiding that and changing the regexp to work with 2.7.15 if possible.

[2019-12-12 22:14] aaroniscode commented on #109
I'm 100% in agreement. I think swapping the `"` and `'` in the Ansible command works. Going to put in a PR

[2019-12-12 22:14] figo commented on #109
btw, @CecileRobertMichon  Thank you for sharing your result.

[2019-12-12 22:24] aaroniscode commented on #109
Thanks @figo and @CecileRobertMichon for testing! Sorry for breaking the repo!

Hopefully PR above resolves the issue.

[2019-12-12 22:38] #109 closed

[2019-12-13 16:22] #91 closed

[2019-12-16 13:39] randomvariable commented on #10
This module was removed, so can

/close

[2019-12-16 13:39] #10 closed

[2019-12-18 16:38] codenrhoden commented on #78
An update on this one -- I finally have a working setup that will Kickstart a RHEL 7 image. Took me a while to get a working ISO, a subscription for testing, and a working headless Workstation Pro setup inside my corporate firewall.

Now when I kickstart RHEL, the Ansible scripts fail, so I finally can start tracking this down.

[2019-12-18 20:45] #103 closed

[2019-12-20 04:03] dims opened #112 "Protect containerd processes from getting oomkilled"
The Kubernetes kubelet's dockershim sets `oom_score_adj` for the docker processes to `-999` to protect them from getting killed:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L774-L796

However other CRIs like containerd, kubelet does not know about the names of the processes or their pid and hence does *NOT* set the oom_score_adj:
https://github.co

[2019-12-20 13:44] detiber commented on #112
We're already talking about adding a systemd drop-in file for containerd to help with issues we are seeing around bootstrapping race conditions, seems like it would be relatively simple to also add:
[code]
to that drop-in file as well.

@figo @akutz thoughts?

[2019-12-20 13:45] detiber commented on #112
kubernetes-sigs/cluster-api#1714 is the race condition issue I was referencing

[2019-12-20 13:55] dims commented on #112
@detiber works for me!

[2019-12-20 14:13] akutz commented on #112
Hi @figo,

For you convenience, here's the documentation for [`OOMScoreAdjust`](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#OOMScoreAdjust=):

[2019-12-20 14:28] akutz commented on #112
Hi all,

Please see https://github.com/kubernetes-sigs/cluster-api/issues/1714#issuecomment-567942842 for approach I suggested to @figo. I'd like to keep the two configurations defined in distinct drop-ins.

[2019-12-21 00:29] figo commented on #112
Issue should be addressed with https://github.com/kubernetes-sigs/image-builder/pull/113, thanks

/close

[2019-12-21 00:29] #112 closed

[2019-12-23 14:38] detiber commented on #48
/lifecycle frozen

[2019-12-30 15:28] detiber commented on #18
/lifecycle frozen

[2020-01-09 14:16] geira commented on #92
Filters have changed in 2.9 (you should have gotten plenty of deprecation warnings when running under 2.8). Try changing to `if packer_builder_type is search('vmware')` in roles/providers/tasks/main.yml.

[2020-01-09 18:16] figo commented on #48
/close
the issue has been fixed

[2020-01-09 18:16] #48 closed

[2020-01-09 20:32] codenrhoden commented on #93
This is in place: https://image-builder.sigs.k8s.io

/close

[2020-01-09 20:32] #93 closed

[2020-01-10 04:52] moshloop commented on #74
/remove-lifecycle stale

[2020-01-10 21:37] codenrhoden commented on #79
/assign

[2020-01-16 07:04] moshloop commented on #96
I would recommend also looking at the konfigadm based builder, as it uses kvm/qemu directly

[2020-01-17 01:35] luniHw opened #126 "Can not apply static ip to photon vm by clusterapi"
Environment as below:
1. capv is v0.5.3
2. clusterapi is v0.2.9

Question is that can not apply static ip to photon.
the log recorded in /var/log/cloud-init-output.log shows as below
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/21055782/72577098-78f60000-390c-11ea-8a0d-cc445e45a15b.png">

[2020-01-17 14:59] hakman opened #128 "Docker is enabled on boot"
At the moment, images have Docker installed and enabled by default. This is not a good idea in cases where different Docker version will be installed or some other container runtime like conainerd.

Would be a good idea to either:
1. Disable Docker auto-start on boot (will be enabled by Kops later)
2. Just copy Docker packages in the cache dir and expect Kops to install what it needs.

/cc @justin

[2020-01-19 19:08] hakman opened #130 "Dbus package is needed"
While testing the containerd runtime with Kops and the default Debian Stretch image, noticed that protokube was not starting because of missing `/var/run/dbus`. Installing the `dbus` package fixed the issue.
https://github.com/kubernetes/kops/blob/77d6d381c30ec4e6d1b8e8e9563017b39a76b7e7/nodeup/pkg/model/protokube.go#L280

/cc @justinsb

[2020-01-28 15:19] akutz commented on #90
So CAPV is hitting flakes all the time now because of the boot-time apt tasks. FWIW, this [is a known issue in Ubuntu](https://askubuntu.com/questions/1038923/do-i-really-need-apt-daily-service-and-apt-daily-upgrade-service), and apparently it's by mistake as these tasks [should be run post-boot](https://askubuntu.com/questions/800479/ubuntu-16-04-slow-boot-apt-daily-service).

From CAPV's perspec

[2020-01-29 15:09] codenrhoden commented on #90
@akutz Thanks for letting me know. I'll get a fix in for it in the next couple of days!

[2020-01-29 19:27] ncdc commented on #95
This has been open for a while - have we made any progress on a resolution?

[2020-01-30 17:20] itmecho opened #133 "Build base images from community CIS Benchmark Images"
To comply with certain compliance controls, the CIS benchmarks are required. It would be great if the kops AMIs were built from the community CIS Debian images. This would give a certain level of free system hardening out of the box.

For example:
CIS Debian Linux 9 Benchmark v1.0.0.5 - Level 1: `ami-003c5a72f53c93f63`

[2020-01-30 17:30] detiber commented on #133
This might also be something interesting to look at for the base images in the capi image builder as well, the full list of available aws images from CIS is here: https://www.cisecurity.org/cis-hardened-images/amazon/

[2020-01-30 17:31] detiber commented on #133
/cc @codenrhoden @randomvariable

[2020-01-30 21:14] randomvariable commented on #133
There's some interesting things about mounts in the CSI Benchmarks. Will need to check, but for example, I believe `/opt` is one of the read-only mounts, and that will potentially block CNI from working (I've always wished we used `/usr/libexec/cni` for them, but anyway).

In any case, a fair amount of validation work to be done.

[2020-01-31 17:08] #90 closed

[2020-01-31 21:27] codenrhoden commented on #95
yeah, I should pick this up again. Given the very little feedback received, I'll remove NFS by default. users can add it back if they like. That will also resolve the rpcbind issue (#64).

/assign

[2020-02-03 18:25] #95 closed

[2020-02-04 13:40] detiber commented on #6
/lifecycle frozen

[2020-02-06 18:11] codenrhoden commented on #39
/lifecycle frozen

[2020-02-06 18:13] codenrhoden commented on #66
/remove-lifecycle stale

A lot of this will be taken care of with #142. However, ultimately it probably requires the CLI.

[2020-02-06 19:52] codenrhoden commented on #31
Once #142 goes in, I'd like to tag the repo with `v0.1.0`. With that in place, we can then relay on `git describe` to pull the version during our builds and add it to image metadata.

As of today, images are still not tied to CAP* versions, I don't see a need to add any other version attached to the tag. I'd like to start with 0.1.0. I'm going to open a PR to get the permissions to tag the repo.

[2020-02-06 19:55] #78 closed

[2020-02-06 20:05] codenrhoden opened #143 "Verify minimum version in dependency scripts"
In the dependency scripts (`images/capi/hack/ensure-*`), we should check that if a required tool is already installed, that the version of it meets the required minimum version.

[2020-02-06 20:07] codenrhoden opened #144 "Explore upgrading installed version of GOSS"
The current version that we install of GOSS is 0.3.0, explore upgrading it to 1.0.0

[2020-02-06 20:09] codenrhoden opened #145 "Install a newer version of Packer"
Our script that installs Packer installs an older version (1.4.1), we should explore installing a newer version.

[2020-02-06 20:14] codenrhoden opened #146 "Install a newer version of Ansible"
Right now our scripts install Ansible version 2.8.0. We should look at using a later version.

Especially for Ansible, I think doing this requires more automated testing, because we've seen different behavior between different versions. So we have to be careful about setting our minimum version (see #143) and verifying that an existing installation works.

[2020-02-06 21:56] timothysc opened #148 "Docs and getting started"
Holy cow we need docs and a getting started guide and prune things we aren't using/supporting into a separate area.

[2020-02-06 23:31] codenrhoden commented on #148
There is an mdbook within `docs/book`, and this is published to https://image-builder.sigs.k8s.io.

I can definitely add a Getting Started section to it. There are tutorials for AWS and vSphere coming in https://github.com/kubernetes-sigs/image-builder/pull/102

The actively maintained portion of this repo is pretty much all under `images/capi`. I don't have much knowledge of anything happening un

[2020-02-06 23:59] codenrhoden opened #149 "Support extra repos for Photon build"
I just noticed in the code that the Photon build does not use:

- `disable_public_repos`
- `extra_repos`
- `reenable_public_repos`
- `remove_extra_repos`

It should, as these are necessary to build images from internal mirrors/repositories.

/assign

[2020-02-07 15:10] timothysc commented on #148
@codenrhoden the main github pages need links to navigate, also if we are not planning to full support some of the CLI stuff we should find a more appropriate subdir structure to denote it's state.  Right now it's front and center.

[2020-02-07 15:31] codenrhoden opened #150 "Make sure user-provided var files take precedence"
When using a command of the form `PACKER_VAR_FILES=... make build...`, the var files provided should take precedence over what is there by default. This should be a pretty easy fix, just need to reorder how we list the files.

From the [Packer documentation](https://packer.io/docs/templates/user-variables.html):

Right now, we are listing any user provided files first, but we really want to list t

[2020-02-07 17:53] timothysc commented on #148
@moshloop ^ are you planning to update the other sections?

[2020-02-08 01:59] #150 closed

[2020-02-08 17:58] moshloop commented on #148
Yes, I will update for konfigadm and try get the CLI out as well. Still need to have a discussion with @justinsb re merging kube-deploy and konfigadm

[2020-02-11 20:34] #149 closed

[2020-02-12 16:24] randomvariable opened #158 "Ensure the SSM agent is installed and running in AWS images"
To enable users to log into AWS instances without an SSH bastion, the SSM agent needs to be installed and running.

This should be in all supported base images (and believe it is ok for Amazon Linux 2 and Ubuntu 18.04 already).

Related to https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1553

[2020-02-12 16:29] detiber commented on #158
/priority important-soon

[2020-02-12 16:29] detiber commented on #158
/kind feature

[2020-02-12 20:12] moshloop commented on #146
I think it might make sense to switch to producing a docker image that bundles all the dependencies + ansible playbooks - e.g. something like https://github.com/moshloop/ansible-run and https://github.com/moshloop/ansible-dependencies.

This would also then be a good target to release and tag for downstream consumption

[2020-02-12 20:16] moshloop commented on #158
As long as this is behind a feature flag, and OFF by default it makes sense. Enabling this by default has major security implications that people may not be aware of.

[2020-02-13 16:13] codenrhoden opened #160 "CAPI ova: need ability to customize OVF metadata"
Downstream consumers of the image-builder for CAPI that building OVAs may have a need to customize the metadata included in the OVF. It's time to take a look at what is currently in the metadata, and an a generic way to customize the metadata.

This is all done in the Packer post-processing step.

/assign

[2020-02-13 23:19] codenrhoden commented on #79
A quick update on this after a bit of searching...

Packer already supports the 3 main proxy env vars:

- HTTP_PROXY
- HTTPS_PROXY
- NO_PROXY

So there is nothing to do on the Packer side -- these vars will be honored during any needed ISO downloads.

For Ansible, we'd need to [set the environment](https://docs.ansible.com/ansible/latest/user_guide/playbooks_environment.html) for the entire playbo

[2020-02-14 19:18] #79 closed

[2020-02-14 21:41] codenrhoden opened #162 "capi: photon ova build needs a tdnf distro-sync"
I noticed recently that the Ansible playbooks for Photon never do a `tdnf distro-sync`. That means that we never upgrade the packages to the latest versions --  potentially missing bugfixes, security upgrades, etc. On ubuntu we do a `dist-upgrade`, and on centOS we do a `yum update`.

This is why the Photon installs are so fast. :)

I tried to quickly add this in, but ran into **all kinds** of pro

[2020-02-18 15:40] gsadhani opened #163 "Need support to enable SELinux during image build"
To enable PSP on the cluster with [SELinux](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#selinux) options, we need to support enabling of SELinux enforcement during image build.

[2020-02-21 17:28] codenrhoden opened #165 "ova: document use of FOREGROUND env var"
When doing any of the `make build-ova-*` targets, the `FOREGROUND` env var can be set to change the behavior of the build, especially when using Fusion on Mac. On the one hand, it changes whether the VM is headless (you can watch the install in a GUI), but it *also* changes whether the resulting VMX file is registered with Fusion and you see the result in the VM library.

If you don't use `FOREGRO

[2020-02-24 00:19] #59 closed

[2020-02-25 15:53] codenrhoden commented on #162
@ppadmavilasom Is there any insight you can add here?

I'd really like to be able to do a `tdnf distro-sync` as part of the normal install process with Photon, but when I do all the other steps stop working. I don't what it is about Photon that makes this happen. I'd like to avoid doing a `reboot` after the `distro-sync` if I could (I think that would solve it), but maybe that's the only way.

[2020-02-25 18:02] ppadmavilasom commented on #162
@codenrhoden if kernel version changes, photon will require a reboot today. if we are not doing an update, we definitely should. i will look into this and update here.

[2020-02-25 19:50] ppadmavilasom commented on #162
@codenrhoden kernel upgrades will require reboot but photon's behavior is different from other distros that it does disturb current flow till reboot. photon is planning to change this. i will follow this up.
i wonder containerd not working is related to this (with kernel modules path changed) if not, we should understand why

[2020-02-27 17:10] figo commented on #126
Please file the issue under https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/
Thanks

[2020-02-27 17:15] figo commented on #126
refer from https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/756
this been fixed with capv 0.5.5, will close it right now.

/close

[2020-02-27 17:15] #126 closed

[2020-02-28 01:49] ppadmavilasom commented on #162
@codenrhoden if you copy the modules folder from the previous linux and symlink to it till you reboot, this seems to work. Not suggesting as a fix obviously.
However, the containerd startup issue you noticed might be due to this: https://github.com/kubernetes-sigs/image-builder/pull/168

[2020-02-28 19:02] codenrhoden commented on #162
Thanks for the context and the explanation @ppadmavilasom . Sounds like there are a couple of way we could go about it. :)

[2020-03-06 20:57] #70 closed

[2020-03-07 16:12] sbueringer commented on #96
@akutz I (or one of my colleagues) would open a PR for a qemu-based build for the capi images. The build looks more or less like this commit here: https://github.com/sbueringer/image-builder/commit/c5effcdb4d100d9e109c307d5ad20e1eaabf5b19

[2020-03-07 23:12] hidekazuna commented on #96
@akutz @sbueringer I already proposed PR #169 which is tested on OpenStack Stein. Please review the PR.

[2020-03-08 06:33] sbueringer commented on #96
@hidekazuna Ah cool. I wasn't aware of this PR. Looks very similar

[2020-03-11 20:56] randomvariable opened #173 "containerd - cloud-init ordering part 2"
Despite our best efforts in #113 and #114, it is possible to repeatedly get containerd start up too late for kubeadm to succeed in `cloud-final`.

This can be done with a 3-node shared storage cluster with the networking deliberately slowed to 1Gb, which may not be uncommon in home lab environments and smaller organisations.

In this situation, if the backing storage is busy, then during machine b

[2020-03-12 01:53] MnrGreg commented on #160
@codenrhoden

For the OS type and description to be correct, I had to include the `ovf:id` and `vmw:osType` before vSphere would recognize it.

For example from:
https://github.com/kubernetes-sigs/image-builder/blob/39ef2696339a8fa0a4f55030a77002a316e224e6/images/capi/hack/image-build-ova.py#L201

to:
[code]

Pass through from the `ova-<osname>.json` to `image-build-ova.py` here.
[code]

For Photo

[2020-03-12 02:53] codenrhoden opened #174 "Photon OVA build doesn't work with Packer 1.5.4"
I'm mostly putting this here as a note to myself to dig in deeper, but after using this project weekly for well over a year, I "accidentally" upgraded my local copy of Packer through brew, and I noticed that Photon builds no longer worked consistently. In fact it didn't work >90% of the time.

When downgrading to 1.4.1 (the version installed with `make deps-ova`), things worked fine.

I was able t

[2020-03-12 14:05] akutz commented on #173
So it seems like ContainerD did fix this with https://github.com/containerd/containerd/pull/4088 by adding support for [`sd_notify`](https://www.freedesktop.org/software/systemd/man/sd_notify.html#).

[2020-03-12 14:19] detiber commented on #173
Just following up here, the containerd fix landed in the master branch, which will eventually be containerd 1.4, if we want this fix for containerd 1.3.x it will need to be backported.

[2020-03-12 15:19] codenrhoden commented on #160
Ha, thanks for the pointer @MnrGreg ! You must have had a sense that I was working on that very same problem as you wrote that. I learned the same thing just a few hours before your comment. In fact, I opened a PR last night that does that very thing.

I *also* learned that for some OS's, just setting `ovf:id` and `vmw:oType` is not enough. For CentOS 7, for example, you also need to set `ovf:vers

[2020-03-12 18:34] #162 closed

[2020-03-13 04:33] MnrGreg commented on #160
Oh nice work! I didn’t know about ovf:version, that might be the reason for some of our inconsistencies.

[2020-03-17 08:24] hridayeshpawar commented on #174
Hey man I was banging my head with this problem since last night. You are right this seems to be an issue with Packer 1.5.4.
I tried with Packer 1.4.4 and it works fine.
In version 1.5.4, with each ssh failure it is trying to reconnect with the same IP address.
But, In 1.4.4 with each failure it reparses /var/db/vmware/vmnet-dhcpd-vmnet8.leases  and I think picks the latest entry before trying to

[2020-03-20 02:14] Nuru opened #185 "Which images (if any) have the CFS Quota patches?"
Which images, if any, have kernels patched to fix the CPU throttling problem (see https://github.com/kubernetes/kubernetes/issues/67577)?

How can I tell what went into building the official `kops` AMIs, for example `kope.io/k8s-1.15-debian-stretch-amd64-hvm-ebs-2020-01-17`?

[2020-03-24 08:54] #96 closed

[2020-03-30 10:56] randomvariable opened #191 "Prepare audit log with appropriate permissions"
To enable auditing in Kubernetes, ideally would have this go to `/var/log/kubernetes/audit/audit*.log`

This would be done by setting the `extraVolumes` options on kubeadm, however the default permissions are not suitable for audit logs.

By prepping the file with appropriate permissions beforehand, Kubernetes API Server keeps the audit log secure.

The following should be sufficient:

[code]

[2020-03-31 15:53] randomvariable opened #194 "Enable rngd in all distributions"
Copy of https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/880

AL2, CentOS and Photon should be equivalent.
Need to verify what the deal is for Ubuntu

[2020-03-31 15:54] randomvariable commented on #194
/assign

[2020-04-01 13:40] voor commented on #158
Even if the service is turned on, you require the necessary IAM permissions on the instance for it to work.  It *is* turned on by default for Amazon Linux 2 already.

[2020-04-01 14:17] detiber commented on #158
The Ubuntu base image we are using has the ssm agent enabled by default as well, so if there is any change it would likely only be to the CentOS image if at all.

[2020-04-03 01:01] codenrhoden opened #197 "Take over building of HAProxy OVA from CAPV"
Just putting this here as a breadcrumb in case anyone wants to chime in on it:

https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/issues/884

[2020-04-03 13:59] #158 closed

[2020-04-08 19:40] codenrhoden commented on #197
Judging from reaction from the CAPV issue, and no objections raised in the community meeting today, I'm going to take this issue and implement it.

/assign

[2020-04-09 15:43] randomvariable commented on #74
Recommend we close this? dockershim code is being removed AFAIK?

[2020-04-09 17:10] #94 closed

[2020-04-10 02:21] dims commented on #74
/close

yes!!

[2020-04-10 02:21] #74 closed

[2020-04-14 18:27] detiber opened #206 "[capi] Building images using the k8s ci artifacts fails"
The list of `kubernetes_imgs` that we have in `images/capi/ansible/roles/kubernetes/defaults.main.yml` includes `pause.tar`, `coredns.tar`, and `etcd.tar`, but they are not included in the k8s ci artifacts (since they are built, versioned and distributed separately).

If we want to automate loading of these images, we should likely use a separate variables for their source, type, versions rather t

[2020-04-14 18:27] detiber commented on #206
This is causing issues with attempting to use the k8s ci artifacts for building an image here: https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/292

/assign @codenrhoden

[2020-04-15 21:17] codenrhoden commented on #206
Discussed this topic with @detiber today.

He's going to try out adding a flag that, even when setting `kubernetes_source_type = http`, allows you to request that the images not associated with a specific K8s release ('pause', 'coredns', 'etcd') not be pre-loaded. An image built in this way would fall-back to pulling those images on-demand.

[2020-04-16 16:58] hakman commented on #128
/remove-lifecycle stale

[2020-04-16 21:13] #206 closed

[2020-04-16 21:48] fyang-pivotal commented on #191
@randomvariable Out of curiosity, why "0700" permission, granting executable permission as well for the root user? Would "0600" permission be sufficient?

[2020-04-16 21:54] codenrhoden commented on #191
/assign @fyang-pivotal

[2020-04-18 19:58] #130 closed

[2020-04-21 16:28] jiatongw opened #212 "Update containerd version to v1.3.4"
The new containerd version v1.3.4 has released. (https://storage.googleapis.com/cri-containerd-release/cri-containerd-1.3.4.linux-amd64.tar.gz) Are we going to update `containerd.json`? If so, I can make a PR for this. Thanks!

[2020-04-21 16:34] detiber commented on #212
I created a pr for this yesterday: https://github.com/kubernetes-sigs/image-builder/pull/208

[2020-04-21 16:52] jiatongw commented on #212
Cool!

[2020-04-22 03:54] jiatongw commented on #212
Fixes by #208

[2020-04-22 03:54] jiatongw commented on #212
/close

[2020-04-22 03:54] #212 closed

[2020-04-23 19:12] fyangd commented on #191
@randomvariable This issue has been resolved in PR https://github.com/kubernetes-sigs/image-builder/pull/213.   If you enable audit logging and point it to the precreated `/var/log/kubernetes/audit.log` file, you should observe the appropriate permission.

Feel free to try it out and close and the issue.

[2020-04-24 13:35] detiber opened #216 "Add link to image-builder docs to project description"
The project description should include a link to the docs hosted at https://image-builder.sigs.k8s.io/

[2020-04-24 13:36] detiber opened #217 "[capi] Consider supporting Ubuntu 20.04 for all cloud providers"
Now that Ubuntu 20.04 (Focal Fossa) is released, we should consider supporting images for all cluster-api providers supported by this tooling.

This should be optional to start, but over time we should start switching it over to the default Ubuntu distribution over time (this is likely to require changes to the cluster-api infrastructure providers themselves)

[2020-04-24 18:16] bagnaram commented on #133
To further this request, would be to break out volumes into separate STIG partitions. Other breaking hardening steps that come to mind would be mounting `/tmp` with noexecute bit set. These are some hardening steps that break kubernetes under certain circumstances that require maintaing a list of POAM, or mitigation steps

[2020-04-27 22:40] codenrhoden commented on #216
I don't have the privileges to do this. Looks the ones that do are at https://github.com/kubernetes/org/blob/f713aeaafe5bb65cd5f5fe7057d52c9a08d24170/config/kubernetes-sigs/sig-cluster-lifecycle/teams.yaml#L207-L213

I'll probably ask @justinsb

[2020-04-30 18:00] #197 closed

[2020-04-30 22:32] bagnaram opened #224 "Include NVMe Tools"
When dealing with AMIs that have EBS volumes attached, it is sometimes necessary to instrument the automatic attachment and mounting of these volumes. In order to orchestrate this, the `nvme id-ctrl` set of utilities makes it possible to match a block device with the AWS volume ID. This makes it possible to obtain the correct block device from a particular EBS volume attachment.

https://docs.aws.

[2020-05-05 14:37] bagnaram opened #227 "Include gdisk Utility for Cloud-init Disk Setup"
The cloud-init module `disk_setup` allows image disks to be partitioned. It supports MBR and GPT types. In order to support GPT, it expects the `gdisk` tools to be available. https://github.com/canonical/cloud-init/blob/master/cloudinit/config/cc_disk_setup.py#L111

Please include this tool in the Centos based image.

[2020-05-05 19:19] #224 closed

[2020-05-07 13:42] randomvariable opened #231 "Ensure AppArmor support for distros"
Have had reports of AppArmor not being available on PhotonOS.

Not 100% certain about this, but I believe the requirements to get it to work are:

* Ensure the AppArmor module is available / loaded
* Have some profiles available on disk, though this could be done via a daemonset like https://github.com/kubernetes/kubernetes/tree/master/test/images/apparmor-loader
* If GOSS is returning in some for

[2020-05-08 03:59] jessehu commented on #231
A user reported that AppArmor is not enabled.  Per K8s AppArmor doc, there should be AppArmor enabled in the node yaml, but they don’t see it:
[code]
When creating a simple “Hello AppArmor” pod with the deny-write profile https://kubernetes.io/docs/tutorials/clusters/apparmor/, the pod is in Blocked state and user see error msg "Cannot enforce AppArmor: AppArmor is not enabled on the host".

[2020-05-08 18:33] codenrhoden commented on #148
/remove-lifecycle stale

I think this issue can probably be closed, but leaving open to see if anything is coming for konfigadm.

[2020-05-12 07:59] MaxRink commented on #145
i guess this could be closed now, as its 1.5.2
https://github.com/kubernetes-sigs/image-builder/blob/817e42069bb354724764791503c6ed7a06d6d083/images/capi/hack/ensure-packer.sh#L21

[2020-05-12 16:01] codenrhoden commented on #145
Agreed -- thank you.

/close

[2020-05-12 16:01] #145 closed

[2020-05-15 18:36] randomvariable opened #235 "Enable system audit logs"
Many environments require the use of auditd, so this should be enabled in image-builder, optionally or mandatorily:

Concretely, for PhotonOS images require the `audit` package to be installed, and the `auditd` systemd unit enabled.

Additionally, drop the following in `/etc/audit/rules.d/container.rules` so containerd operations are audited:

[code]

[2020-05-15 20:39] JTarasovic opened #236 "packer 1.5.x not compatible w/ goss 0.3.0"
Packer 1.5 changed the plugin API version and goss prior to 1.0.0 is not compatible.

[code]

Here's the [changes](https://github.com/YaleUniversity/packer-provisioner-goss/compare/v0.3.0...v1.0.0) between the 2 versions.

[2020-05-15 22:17] #144 closed

[2020-05-15 22:17] #236 closed

[2020-05-18 16:52] detiber commented on #163
/lifecycle frozen

[2020-05-19 02:39] iputra opened #238 "Failed Build QEMU Image"
Hi

I'm trying to build qemu image by using image-builder for cluster-api provider openstack, but I'm getting error in provisioning with ansible. The following error is like this :

[code]

[2020-05-19 18:39] snicholas commented on #238
Hi, I'm experiencing the same problem. Tried also with older tags, but same problem.
I've tried on ubuntu 18.04. Ansible version is 2.8.0 and packer should be 1.5.2.

[2020-05-19 22:56] snicholas commented on #238
I resolved by adding my user to the kvm group
`sudo usermod -a -G kvm <yourusername>`
and (even if I'm not sure it is really usefull)
`sudo chown root:kvm /dev/kvm`
then exit and log back in to make the change take place.
After that run
`make build-qemu-ubuntu-1804`
as the normal user (non root). Hope this help out!

[2020-05-20 02:21] iputra commented on #238
Yup, I also tried with older tags, but same problem.
I have tried as make command as root and also normal user still got the same issue.

[2020-05-20 04:47] iputra commented on #238
I just tried it and this is fix the issue.
Thanks @snicholas for your help.

[2020-05-20 13:57] #238 closed

[2020-05-20 20:33] codenrhoden commented on #238
I'm glad a solution was found, but I really think that solution should be added to the docs, otherwise more people will trip over the same issue.

[2020-05-21 11:09] hidekazuna commented on #238
I will add to the docs soon!

[2020-05-29 02:04] carstenkoester commented on #238
Found this issue, naturally, *after* running into the problem described here and doing all the troubleshooting -- but then decided to put some additional analysis here anyway, just in case it turns out to be useful.

- Ansible communicates not directly with the VM, but with Packer's SSH communicator (that, by default, runs as the user which Packer is invoked as).
- Packer's SSH communicator commun

[2020-05-29 19:01] randomvariable commented on #173
Re-titling because boogaloo is now a far right term for some 4chan reason.

[2020-06-03 19:48] jiatongw opened #247 "iso_url for ubuntu 2004 is not working"
The ISO URL for ubuntu 2004 is not working anymore
[code]

Replace with this one? http://cdimage.ubuntu.com/releases/20.04/release/
I can make a PR for this.

[2020-06-03 20:06] jiatongw commented on #247
ops, this release page http://cdimage.ubuntu.com/releases/20.04/release/ doesn't have ISO for `amd64` arch..

[2020-06-16 20:48] voor opened #253 "vSphere Builder uses deprecated configuration keys for Packer 1.6"
[code]

[2020-06-16 20:48] codenrhoden commented on #253
/assign @jiatongw

[2020-06-16 22:02] jiatongw commented on #253
PR is on the way

[2020-06-17 21:36] jiatongw commented on #247
fixes by #254

[2020-06-17 21:36] #247 closed

[2020-06-18 09:39] MaxRink opened #257 ""advanced" partitioning layouts"
Currently CAPI-Images build from ISOs use a very simplistic partition layout which makes them more prone for certain failures, like an overfull /var and /var/log.
We mitigated that by adding /var and /var/log partitions, but this currently breaks the cleanup-steps in sysprep as /var/log cant be deleted at this point.
We've also build autoexpansion of the OS to the disksize specified in vmware/Open

[2020-06-18 18:15] detiber commented on #257
@MaxRink my initial thoughts are that yes, we should likely support more advanced partitioning layouts, especially as we are looking to support things like using a separate volume for etcd, and trying to take advantage of ephemeral disks where possible for performance reasons.

I suspect @voor, @codenrhoden, @randomvariable, @CecileRobertMichon, and possibly others might have additional thoughts.

[2020-06-18 18:50] voor commented on #257
So I think the idea here was that these new partitions would exist at creation time of the actual instance as provided by the underlying IAAS rather than at time of the base image being built by image-builder.  If anything, image builder should make sure those directories are ready to be mounted over.  Am I misunderstanding that approach?  This is related to an issue in CAPI already:

- https://gi

[2020-06-19 17:08] detiber commented on #185
/remove-lifecycle stale

[2020-06-22 23:11] #253 closed

[2020-06-23 11:04] moshloop commented on #257
I think this problem is cross-provider - it would be nice to have a solution (or at least interface)  that is agnostic and takes an existing image and converts it into a specific layout

[2020-06-23 20:10] codenrhoden opened #260 "Packer 1.6+ incompatible with Goss plugin 1.0.0"
There is currently no released version of the Goss provisioner for Packer that supports 1.6.0: https://github.com/YaleUniversity/packer-provisioner-goss/issues/28

[2020-06-23 20:13] detiber commented on #260
:grimacing:

[2020-06-23 20:29] codenrhoden commented on #260
/close

This was my mistake. I thought I had overwritten an older version of the plugin with the new one, but I was wrong.

[2020-06-23 20:30] #260 closed

[2020-06-24 18:06] rushyrush opened #263 "Build fails on Ansible when running as root"
Build fails when running as root
Host OS: CentOS 7.8
Environment: vSphere 6.7u3

When running as a normal user it builds without error.

Can documentation be update to inform user to not run as root, check for root during "make", or be fixed to support root user?

Ansible error: "You need to be root to perform this command. "

[code]

[2020-06-26 17:27] codenrhoden commented on #174
This does appear to be fixed with Packer 1.6.0. After first I didn't think it was, because the time it takes to pick up the updated IP address varies (see comments in above referenced Packer issues), but it does eventually work.

For that reason, I think we should bump the default Packer version in our docs and install script to 1.6.0.

[2020-07-01 11:50] randomvariable commented on #194
Think this is resolved. It was more particularly needed for Photon in nested virtualisation environments.

/close

[2020-07-01 11:50] #194 closed

[2020-07-03 05:07] hakman commented on #128
Fixed by https://github.com/kubernetes-sigs/image-builder/pull/273.

[2020-07-03 05:07] #128 closed

[2020-07-05 20:11] #66 closed

[2020-07-05 22:13] #31 closed

[2020-07-05 22:13] #143 closed

[2020-07-07 23:49] codenrhoden opened #278 "Update GOSS version"
The GOSS version referenced at https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/ami/packer.json#L23 is a very old version. Let's update it to the latest.

[2020-07-07 23:51] codenrhoden opened #279 "Move GOSS vars to common location"
Since we want to use GOSS for more cloud providers than just AWS, I think defining `goss_url` in a different var file (e.g. in `packer/config/goss.json` or similar) would make sense so it is only defined in one place, instead of each provider's `packer.json`.

Additionally, let's turn the [tests file](https://github.com/kubernetes-sigs/image-builder/blob/00377e8ea77e7ad42b29bc5853eb426fce186118/im

[2020-07-07 23:52] codenrhoden commented on #278
Latest release is 0.3.13, and we are using 0.3.2.

[2020-07-07 23:53] codenrhoden opened #280 "Enable GOSS tests for OVA builder"
We should run the same tests for the OVAs that we do for the AMIs.

[2020-07-07 23:53] codenrhoden opened #281 "Enable GOSS tests for Azure builder"
We should run the same tests for the Azure images that we do for the AMIs.

[2020-07-07 23:55] codenrhoden opened #282 "Use Goss to validate installed K8s packages and binaries"
The beginning of this is in #277, but we want to do a final pass with GOSS to verify that all the expected K8s executables are in place. The first pass at this can be looking for the expected packages, but this doesn't cover the use case were components are installed from the HTTP source. That can be done in a follow up.

[2020-07-07 23:56] codenrhoden opened #283 "Use GOSS to verify that container images are pre-pulled."
We can use GOSS to check that containerd has all the images we expect to be in the image.

[2020-07-07 23:58] codenrhoden opened #284 "Use GOSS to verify that expected kernel parameters are set"
Verify that the kernel parameters that we are setting with Ansible haven't been undone/changed by later settings or custom roles. This is mainly the settings at https://github.com/kubernetes-sigs/image-builder/blob/00377e8ea77e7ad42b29bc5853eb426fce186118/images/capi/ansible/roles/node/tasks/main.yml#L33-L75

[2020-07-08 00:01] codenrhoden opened #285 "Validate versions of components with GOSS"
Related to #282 and #283

In addition to validating packages/binaries/images, it would be great if we can validate versions of those. GOSS allows for this, but since image-builder has so many customization points, it may be challenging to know *what* version we should be checking for. My thoughts around this is to make whatever versions we want to validate are in a `manifest.json` file generated b

[2020-07-08 16:36] ykakarap commented on #282
@codenrhoden may I work on this?

[2020-07-08 16:37] ykakarap commented on #283
@codenrhoden may I work on this?

[2020-07-08 19:26] codenrhoden commented on #283
/assign @ykakarap
yep!

[2020-07-08 19:26] codenrhoden commented on #282
/assign @ykakarap

[2020-07-09 17:42] codenrhoden commented on #278
/assign @EleanorRigby

[2020-07-09 17:46] codenrhoden commented on #279
/assign @EleanorRigby

[2020-07-10 16:45] EleanorRigby commented on #235
#271

@codenrhoden : we can close this as this was merged yesterday

[2020-07-11 22:33] #146 closed

[2020-07-14 03:10] kkeshavamurthy commented on #231
/assign

[2020-07-14 03:39] #278 closed

[2020-07-14 03:53] codenrhoden commented on #279
fixed by #286
/close

[2020-07-14 03:53] #279 closed

[2020-07-14 03:53] codenrhoden commented on #280
fixed by #286
/close

[2020-07-14 03:54] #280 closed

[2020-07-15 14:05] codenrhoden opened #292 "Update ensure-goss.sh to auto-update plugin version"
Right now, the `ensure-goss.sh` plugin that verifies that the Packer provisioner plugin for GOSS is installed, does not verify the version of the GOSS plugin, only it's presence. If it's not present, it is downloaded and installed and it's checksum is verified. However, if an update is made to require a newer version (which it recently was), the script will exit successfully if the plugin is prese

[2020-07-17 16:57] voor opened #295 "Deprecate use of crictl and prefer ctr instead"
I noticed in the `goss` tests we're still testing for the presence of `crictl`, we should replace these with references to `ctr` which would remove the need to have the additional package installed.

[2020-07-17 17:51] detiber commented on #295
`crictl` is still needed by kubeadm, I don't think we can remove the dependency without changes there as well.

[2020-07-20 15:59] codenrhoden commented on #235
/close

[2020-07-20 15:59] #235 closed

[2020-07-20 16:03] voor opened #297 "Allow Applying Additional Tags to the AMI after build"
This came from a conversation where someone requires additional tags on AMI after the packer build process.  This is tricky to do, since packer expects a map of values, but our current Makefile means of passing variables creates difficulty for adding this.

[2020-07-20 16:07] detiber commented on #297
@voor Do you have an example of the types of tags that would be expected to be added. Is it information that would be generally useful to add, or information that is truly specific to a very specific use case?

I'm also wondering if it is unreasonable to expect adding additional tags to be something that is done as a post-task after creating the images.

[2020-07-20 16:36] voor commented on #297
You're probably correct, that this should be a post-task, maybe a script that reads off the AMI ID that are provided in the packer manifest and adding tags based on that.

[2020-07-20 17:21] EleanorRigby commented on #284
@codenrhoden  Can I work on this?

[2020-07-20 18:02] EleanorRigby commented on #285
/assign @EleanorRigby

[2020-07-20 18:59] #165 closed

[2020-07-22 17:35] codenrhoden commented on #160
/lifecycle frozen

This will be tackled as a converter within the CLI

[2020-07-22 17:36] codenrhoden commented on #292
/close

[2020-07-22 17:37] #292 closed

[2020-07-22 19:23] #174 closed

[2020-07-22 19:55] codenrhoden commented on #191
/remove-lifecycle stale

@randomvariable Can you confirm that this issue has been resolved?

[2020-07-23 14:12] detiber commented on #217
/lifecycle frozen

[2020-07-24 18:25] codenrhoden commented on #263
@kkeshavamurthy I think this is a simple one for you to try out.

To recreate, you would basically kick of any OVA build as root -- and the Ansible steps are going to fail. The solution is likely this one-line fix already present in the QEMU builder: https://github.com/kubernetes-sigs/image-builder/pull/250

[2020-07-26 16:45] voor commented on #297
Here's an example.  After packer runs you can take advantage of the manifest we're now generating during the build (this assumes just one AMI is created, might need to change based on use-case):

[code]

[2020-07-26 16:45] #297 closed

[2020-07-28 22:17] #285 closed

[2020-07-28 22:17] #282 closed

[2020-07-28 22:21] #263 closed

[2020-07-29 02:05] EleanorRigby commented on #284
Can be closed

[2020-07-29 02:06] EleanorRigby commented on #283
can be closed

[2020-07-29 14:20] dongsupark opened #311 "Support Ansible 2.10"
When running the image builder with Ansible 2.10 rc3, I am seeing such errors:

[code]

It seems to happen as well with other cases like `modprobe`, not only `sysctl`.
On the other hand, it works well with Ansible 2.9.11.

From a quick search, it looks like its reason is Ansible 2.10 is [migrating](https://groups.google.com/g/ansible-devel/c/oKqgCeYTs-M/m/cHrOgMw8CAAJ) many modules into other repo

[2020-07-29 14:40] detiber commented on #311
@dongsupark how are you installing Ansible? From what I can tell, this should only affect "ansible-base" and anyone installing the "Ansible Community Distribution" should still have access to the modules that are being moved out into collections...

I haven't followed this migration, so I may be missing something in the implementation of it, though.

[2020-07-29 14:58] dongsupark commented on #311
I have been using Ansible 2.9.11 installed via `dnf install` on Fedora 31.

To use Ansible 2.10, I removed the rpm package for 2.9.11. (`sudo rpm -e ansible`)
Then went to my local git repo of Ansible, checked out `v2.10.0rc3`, did `sudo make install`. Then ansible 2.10 was installed under `/usr/local/`.

[2020-07-29 15:44] detiber commented on #311
Ah, looks like that would likely result in doing the equivalent of an `ansible-base` install. You could attempt to install the rc using pip, which should be the "Ansible Community Distribution".

It looks like there is a recent release in pypy, which *should* potentially work: https://pypi.org/project/ansible/#history

[2020-07-29 16:09] detiber commented on #284
/close

[2020-07-29 16:09] detiber commented on #283
/close

[2020-07-29 16:09] #284 closed

[2020-07-29 16:10] #283 closed

[2020-07-29 21:45] EleanorRigby commented on #281
can be closed , fixed in #300

[2020-07-29 21:47] EleanorRigby commented on #295
+ also change goss commands using `crictl` to check a k8s image presence to `ctr`

[2020-07-29 23:51] voor opened #314 "Fix destroying all the folders in the /var/log directory tree"
We destroy all the folders in the logging directory structure, would much rather do something like this:

`find /var/log/ -type f  -exec rm {} \;` so that we're not trashing folders that certain packages expect to be there, in particular with certain permissions on those folders.

Would change this section, maybe run a shell command prior to it: https://github.com/kubernetes-sigs/image-builder/blo

[2020-07-30 13:07] dongsupark commented on #311
No, it still does not work with a pip-installed Ansible, like:

[code]

Tried testing on different machines. Still the same.

Time to deep dive...

[2020-07-30 13:47] dongsupark commented on #311
It works well after having installed components like below:

[code]

We should add it to `images/capi/hack/ensure-ansible.sh`.
I will soon create a PR.

[2020-07-30 14:04] detiber commented on #311
@dongsupark what if you did a `pip install --user ansible==2.10.0a6`? That should install the latest published pre-release of Ansible Community Distribution, which *should* include the community collections which were removed from "ansible-base"

[2020-07-30 14:18] codenrhoden commented on #18
This effort is finally underway, and I have a Google doc (edit perms given to SCL group) here: https://docs.google.com/document/d/10okAxlg_Z2sAQ_ocO2_dI-kYSO35oI_KtWpBEzwp5NQ/edit?usp=sharing

Basic idea is to start with "build only", not worrying about publishing images. For PRs that modify relevant code, make sure that we can still build the images. We would start with AWS, Azure, and vSphere.

[2020-07-30 14:19] dongsupark commented on #311
Aha, that does the trick. Thanks!
Interesting version schemes..

[2020-07-30 14:24] detiber commented on #18
@codenrhoden we should probably add GCE to the list as well, since there is a release-informing job that uses image-builder for cluster-api-provider-gcp

[2020-07-30 14:30] codenrhoden commented on #314
Agreed. This has been the source of several problems related to audit logging in the past. I know the previous approach was to try and have a "clean slate", but depending on what packages are installed, there could be all kinds of additional folders added and owned by various system uses. Deleting all of `/var/log` nukes all that and it's really kind of impossible to know in advance what to recrea

[2020-07-30 14:32] codenrhoden commented on #311
Yeah, I think I'd rather what and see what happens here after the release goes GA. I can't imagine them publishing a release where these things suddenly break, even if the repo locations underneath it all is changing.

[2020-07-30 20:05] detiber commented on #314
I'm a bit torn on the rm vs truncate thing. I like the idea in concept, but if a process has a file descriptor open to a file that we truncate wouldn't it continue to write to the file afterwards?

[2020-07-31 17:46] EleanorRigby commented on #173
blocking merge of #129

This is still not fixed because there is a small gap for a race condition to occur when containerd sends a `sd_notify`(SYSTEMD NOTIFY) after this call: https://github.com/containerd/containerd/blob/f7140352027927fd08d2f240c7aba4efb1969f1f/cmd/containerd/command/main.go#L228
This function calls `serve` in an async goroutine and `sd_notify` might go out before containerd actu

[2020-07-31 18:33] detiber commented on #173
This issue is the gift that keeps on giving. I am curious as to why we are seeing it on RHEL when we are not seeing it elsewhere.

If we do need to add the workaround, it might be best to add it to the default kubeadm bootstrapper output, or maybe introduce a flag similar to `UseExperimentalRetryJoin` to gate the behavior. It might also be good to put a time bound on the waiting on containerd to a

[2020-08-03 14:56] randomvariable commented on #173
could `until sudo crictl info > /dev/null 2>&1; do echo 'Waiting for container runtime to be up'; done"` not also go in a oneshot systemd unit?

[2020-08-03 17:29] EleanorRigby commented on #173
@randomvariable : I can try that `oneshot` in `cloud-final` and `cloud-config` services.
Right now, I suspect the boot order might have a problem and I am trying a combination of before and wants (not `Wanted By`).

[2020-08-10 21:47] EleanorRigby commented on #173
No need to add one shot because containerd service unit file was missing `type=notify`. Adding that with Ansible `ini` module should fix the issue. Check containerd/cri#1553 on why it is missing `type=notify`.

[2020-08-13 21:50] EleanorRigby commented on #314
[Open FD](https://stackoverflow.com/questions/2028874/what-happens-to-an-open-file-handle-on-linux-if-the-pointed-file-gets-moved-or-d)  will continue to write to file even if the file is deleted (actually, just `unlinked` in Linux).  But if the file is just truncated, I think open FD can definitely write to file.

Are we concerned with what/how much logs are left behind by image building process?

[2020-08-14 17:29] randomvariable commented on #314
I was just testing https://github.com/kubernetes-sigs/image-builder/issues/191 and noticed it's broken on Amazon Linux 2.

[2020-08-14 17:29] randomvariable commented on #191
I think this is only resolved for Photon, and maybe affected by #314 when I just went to test on Photon.

[2020-08-17 18:38] EleanorRigby opened #332 "Update Containerd to 1.4.0"
Containerd 1.4 is released.

https://github.com/containerd/containerd/releases/tag/v1.4.0

The containerd is released & packaged in a new way now and is no longer maintained at https://github.com/containerd/cri/releases

Requires changing ansible role to install containerd.

[2020-08-18 20:13] EleanorRigby commented on #173
Can be closed now.

[2020-08-18 20:31] randomvariable commented on #173
/close

[2020-08-18 20:31] #173 closed

[2020-08-24 18:47] ncdc opened #342 "hack/ensure-packer.sh installs into $repoRoot/.local/bin, which may not be writable in CI"
We are trying to fix a broken cluster-api-provider-gcp (CAPG) job in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/309, and we're now stuck because image-builder's `hack/ensure-packer.sh` script attempts to create a `.local` directory in the root of the image-builder repo, but for certain situations, like this Prow job for CAPG, we don't have write access to the image-builder di

[2020-08-26 16:47] codenrhoden commented on #216
I've opened https://github.com/kubernetes/org/pull/2138 to get the admin access to resolve this.
/assign
/remove-lifecycle rotten

[2020-08-28 19:48] codenrhoden opened #348 "Ubuntu 18.04.4 ISO no longer available at old URL"
Now that 18.04.5 is released, the old URL to reach 18.04.4 doesn't work.

We can still access 18.04.4 at `http://old-releases.ubuntu.com/releases/18.04.4/ubuntu-18.04.4-server-amd64.iso` until we update the repo to use 18.04.5.

[2020-08-31 06:13] moshloop opened #349 "Photon: Kubernetes packages are not gpg checked"
https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/ansible/roles/kubernetes/tasks/photon.yml#L22

https://github.com/vmware/photon/issues/1038

[2020-08-31 17:51] kkeshavamurthy opened #350 "Building Ubuntu image flakes out during installation of packages."
When building the Ubuntu images I'm often seeing it error out in this step:

[code]

`conntrack` package is available in all Ubuntu versions. Need to investigate why we are seeing this behavior inconsistently.

[2020-08-31 18:08] kkeshavamurthy commented on #350
Just to make sure it's not a `conntrack` issue, I removed it from the deb list and the build errored out with the next pkg on the list.

[code]

So I guess something wrt apt is not ready by the time we start installing packages.
Is retry an acceptable workaround for this?

CC: @codenrhoden @CecileRobertMichon  @EleanorRigby

[2020-08-31 19:31] CecileRobertMichon commented on #350
I'm wondering what changed, I was able to built an Azure 20.04 image successfully 4 days ago https://github.com/kubernetes-sigs/image-builder/pull/347#pullrequestreview-477095862, and now it seems that it's failing consistently. Is it possible that there was a new Canonical 20.04 image published between then and now that is causing the issue? I can try to repro later today.

[2020-09-02 21:30] ZihanJiang96 commented on #332
I am looking at this issue.

[2020-09-02 21:32] ZihanJiang96 commented on #348
I am looking at this issue.

[2020-09-02 22:31] #217 closed

[2020-09-02 22:31] #350 closed

[2020-09-03 01:59] EleanorRigby commented on #281
/close

[2020-09-03 01:59] #281 closed

[2020-09-05 23:23] codenrhoden commented on #148
/close
This has long been taken care of.

[2020-09-05 23:23] #148 closed

[2020-09-08 20:26] kkeshavamurthy commented on #348
/assign @ZihanJiang96

[2020-09-08 20:27] kkeshavamurthy commented on #332
/assign @ZihanJiang96

[2020-09-09 17:59] ZihanJiang96 commented on #348
https://github.com/kubernetes-sigs/image-builder/pull/361 solved here

[2020-09-10 08:58] moshloop commented on #348
/close

[2020-09-10 08:58] #348 closed

[2020-09-10 22:30] jsturtevant commented on #30
/assign

[2020-09-10 22:31] jsturtevant commented on #30
I have started working on this for the Windows Proposal in CAPI: https://github.com/kubernetes-sigs/cluster-api/pull/3616

[2020-09-14 22:48] jsturtevant opened #374 "Ensure functions don't check for the correct version of binaries"
Received an error during building the an image. The `ensure-ansible` checks for Ansible to be installed but doesn't check the minimum version like the [ensure-goss.sh script does](https://github.com/kubernetes-sigs/image-builder/blob/62a757e8a547b976e97f5491140a4e48e461f42a/images/capi/hack/ensure-goss.sh#L45-L50).  The output had `Right version of binary present` so I didn't initially notice that

[2020-09-21 19:33] #314 closed

[2020-09-21 20:33] #133 closed

[2020-09-21 21:00] voor opened #381 "Delete log files that end in .1 from the machine"
Recently https://github.com/kubernetes-sigs/image-builder/pull/331 went in which is a vast improvement in the log behavior, but some logs are rotated by appending a number rather than targz the files.  Just add another entry -- or get fancy with regex for numbers -- to remove anything with a `.1` after it:

[code]

[2020-09-22 00:28] jsturtevant commented on #30
I just noticed this is not just windows image but specifically for CAPV. I have added the configuration scripts which would enable CAPV in #382 but did this for Azure packer configuration first.

Should this issue be considered for Configuration or keep is specifcally for CAPV?  If so would some one familiar with CAPV be able to take a look at the PR to see if it meets needs of CAPV?  I am happy t

[2020-09-22 14:07] ncdc commented on #332
/lifecycle active

[2020-09-22 15:52] #332 closed

[2020-09-22 16:33] northrup opened #384 "Adding mounting of bpffs in OS images"
As more CNI projects are moving to support BPF (eBPF) there is a genuine need to have this mounted as a prerequisite to the CNI provider starting to eliminate traffic restarts due to mounting / unmountng of the bpffs by the CNI. I would like to propose that we craft the images with the bpffs set to mount at startup. For those not using a CNI that takes advantage of BPF it shouldn't be a problem, f

[2020-09-23 17:38] #39 closed

[2020-09-24 13:05] prankul88 opened #387 "Unable to build qemu-ubuntu-1804 image"
On running command `make build-qemu-ubuntu-1804`
There is error

[code]

This was raised originally in [comment in capo](https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/634#issue-701178952).

Link of the release needs to be updated.

[2020-09-24 13:05] prankul88 commented on #387
/assign

[2020-09-24 17:42] randomvariable opened #389 "Add issue templates to this repo"
Should have issue templates similar to other sig projects.

[2020-09-24 17:44] randomvariable opened #390 "Consistently use predictable device names"
Some Linux distributions have been configured to use eth0 devices, others use the predictable device name standard from systemd that consistently assigns the same device name per PCI slot. With the eth0 model, essentially it's dependent on the order of network card "insertion".

In multi-NIC environments, predictable device names are important in Cluster API environments, so it makes sense to stan

[2020-09-24 17:46] randomvariable opened #391 "Standardise on UEFI for VMware"
In order to enable userdata privacy in Cluster API Provider for vSphere, we would like to leverage vTPMs to encrypt userdata for delivery to the VM. This requires UEFI boot.

#377 serves as POC for UEFI boot of Fedora that the other distros could also leverage.

[2020-09-24 18:00] benmoss commented on #30
I did a spike a long while ago to get this working on AWS https://github.com/kubernetes-sigs/image-builder/compare/master...benmoss:master

[2020-09-24 22:30] randomvariable opened #393 "Revert disablement of tx HW offload in Photon once patch is merged"
Once https://github.com/vmware/photon/pull/1048 merge and kernel packages are available, https://github.com/kubernetes-sigs/image-builder/pull/385 should be reverted

[2020-10-02 16:47] #227 closed

[2020-10-05 15:17] MaxRink opened #396 "Feature Suggestion / Discussion: OVA builds: HTTP vs Floppy for kickstart/preseed"
All OVAs are currently built using the HTTP Server function of packer.
This is not the only way to pass the kickstart-files to packer and causes issues with some implimentations in CI, thus we currently maintain a fork that uses floppy disks to hand the kickstart/preseed-files.

Is there a specific reason why it currently uses HTTP and not directly serves it via floppy that 'm currently overlookin

[2020-10-06 23:13] kkeshavamurthy opened #400 "Local base ova building breaks in packer post-processor"
Due to the recent changes, the base ova building locally breaks due to packer post-processors referring to the wrong output directory.

[2020-10-07 11:51] dongsupark commented on #311
https://github.com/kubernetes-sigs/image-builder/pull/357 was merged, and image-builder seems to already work well with Ansible 2.10.
Thanks!

[2020-10-07 11:51] #311 closed

[2020-10-12 13:15] MaxRink opened #409 "OVA-builds from master are broken because of minimalized starting image"
https://github.com/kubernetes-sigs/image-builder/commit/5b6531fab642f1414db6d765eed0e888038f78a4 broke the builds of OVAs, because /usr/lib/python3/dist-packages/cloudinit isnt present in the install used by the OVA builds

/assign @randomvariable

[2020-10-12 14:54] #409 closed

[2020-10-14 16:17] #393 closed

[2020-10-14 19:27] MaxRink opened #412 "Ansible 2.10.2 will break node-role"
Ansible 2.10.2 will break the node-role as it references the RedHat_Subscription Module, which isnt bundeled in 2.10.2
Unfortunately ensure-ansible.sh left me with 2.10.2 (might be my fault)

[2020-10-14 19:33] detiber commented on #412
Hmm, from what I can tell, it looks like it should still be included (assuming ansible community is installed and not `ansible-base`), It looks like it is in the `community.general` collection, which is included in the ansible community release: https://github.com/ansible-community/ansible-build-data/blob/main/2.10/ansible.in

[2020-10-16 00:24] kkeshavamurthy opened #413 "Gallery name is hardcoded in Azure image definition"
Creation of image definition fails when GALLERY_NAME != 'ClusterAPI' as it's hardcoded.

[2020-10-16 02:03] #413 closed

[2020-10-16 18:58] kkeshavamurthy opened #417 "Azure ci flakes"
Azure ci flakes out often and one of the errors I've seen is

[pipeline1](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_image-builder/414/pull-azure-all/1316898623325212672#1:build-log.txt%3A377)
[pipeline2](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_image-builder/416/pull-azure-all/1317110189899386880#1:build-log.txt%3A456)

[code]

I

[2020-10-16 19:02] CecileRobertMichon commented on #417
/assign

I need to look into this, I've seen it before as well. What's strange is that each build should be using its own storage account so there shouldn't be any conflicts. Will investigate.

cc @jsturtevant in case you have any ideas.

[2020-10-16 19:10] CecileRobertMichon commented on #417
I think this might be because storage account name is global and the current default is
[code]

So if two e2e jobs happen to be created at the same time this would fail. I'll open a PR to add a random component in the storage account name after running some validation.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftstorage

[2020-10-18 03:00] kkeshavamurthy commented on #384
I have not checked on all OSses but on photon-3 and Ubuntu-20.04 bpf is mounted by default.

[code]

[2020-10-19 20:06] #417 closed

[2020-10-19 22:03] kkeshavamurthy commented on #384
no problem. I checked on Ubuntu 18.04 and it's not mounted by default.
I do not have any objections.

[2020-10-21 12:49] voor commented on #257
Just want to chime in on this issue if anybody finds it, with the new support for overriding where images are coming from, I highly encourage an approach that partitions the image **prior** to running it through image builder.  The requirements around partitions are vastly complex.

[2020-10-22 15:41] codenrhoden commented on #391
We discussed this a bit during today's office hours. It sounded like a reasonable approach was to add a build-time flag for enabling UEFI instead of the default of bios. There was concern that use of vTPMs is only enabled in a top-tier license enablement, so publishing images with this enabled by default would be problematic. With the flag created, I'm of the mind to continue publishing images wit

[2020-10-26 16:23] randomvariable commented on #391
I wouldn't publish the images with vTPM enabled for the same reason. CAPV downstream could potentially change the VM to enable the vTPM on creation. I think there is however value in UEFI by default given the versions of ESXi and vSphere which are supported?

[2020-10-26 20:17] medoror opened #420 "Improving failure message for local base ova build and VMware Fusion"
When running a local photon base build (i.e `make build-node-ova-local-base-photon-3`) you will see the following error IF you have not added `vmware-vdiskmanager` into your path.

[code]

`vmware-vdiskmanager` is an executable within the VMware Fusion install so it would be nice if we checked for the existence of this executable and, if not there, error out with a message indicating to modify `PA

[2020-10-27 19:35] #400 closed

[2020-10-29 07:08] moshloop commented on #384
I am not sure that the kernels included in earlier versions have enough eBPF support to fully support these CNI's, e.g. Cilium requires 4.19.57 to support all functionality while Ubuntu 18.04 only has 4.15, Calico seems to only support 20.04+

[2020-10-29 07:56] northrup commented on #384
🤔 thats a good point @moshloop

[2020-11-07 15:50] lamw opened #428 "image-build-ova.py looks to hardcode 20GB disk"
I successfully built Photon OS 3 OVA using K8s v1.17.11 and the only change I made from the defaults is increasing the disk capacity from 20GB to 30GB. When I tried to upload the OVA using the vSphere UI or OVFTool, it would throw an error at the very end 95% with Error 500:

[code]

It took me awhile to figure out why as I have never seen this error and upon inspecting the OVA, I noticed the disk

[2020-11-09 17:08] CecileRobertMichon opened #429 "Ubuntu 20.04 apt update breaks DNS"
#426 disabled ubuntu 20.04 as it started failing due to apt updates failure. This issue is to track investigating and re-enabling it.

/assign

[2020-11-16 19:23] #185 closed

[2020-11-17 12:43] rustycl0ck commented on #387
Same result for `make build-qemu-ubuntu-2004`
[code]

[2020-11-18 06:40] hidekazuna commented on #387
Maybe the reason is http://cdimage.ubuntu.com/ubuntu-legacy-server/releases/20.04/release/SHA256SUMS was updated on Oct. 20th.

[2020-11-18 08:28] prankul88 commented on #387
Thanks for pointing it out. I will update it too.

[2020-11-18 22:25] kkeshavamurthy commented on #429
After a reboot, the resolv.conf is populated with the search domain and everything works.
[code]

[2020-11-18 23:04] kkeshavamurthy commented on #429
Looking into it a bit further, the DNS entry in resolv.conf is removed after doing a dist-upgrade. Not sure what changed with Ubuntu recently. A reboot after dist-upgrade will re-populate the dns entry and things seems to work fine.

[2020-11-18 23:06] CecileRobertMichon commented on #429
@kkeshavamurthy are you able to repro the same thing on a simple Azure 20.04 VM not built through image-builder?

[2020-11-18 23:31] johnsonshi commented on #429
Confirmed @kkeshavamurthy

`apt dist-upgrade` on Ubuntu 20.04 LTS Gen 1: https://paste.ubuntu.com/p/8m5mgc8Pfc/
`apt dist-upgrade` on Ubuntu 20.04 LTS Gen 2: https://paste.ubuntu.com/p/MY37SCNGFb/

`dist-upgrade` performs an aggressive upgrade of packages in the system, and it may change dependencies, remove, or add packages along the way (see https://askubuntu.com/questions/770135/apt-full-upgrad

[2020-11-18 23:38] kkeshavamurthy commented on #429
Yup. Same issue on a vanilla Ubuntu 20.04 vm. dist-upgrade messes up resolve.conf

[2020-11-18 23:39] johnsonshi commented on #429
Confirmed @kkeshavamurthy. Just did a repro and performed `apt dist-upgrade`, and `/etc/resolv.conf` was indeed wiped on both 20.04 LTS Gen 1 and Gen 2 latest images.

`dist-upgrade` performs an aggressive upgrade of packages in the system, and it may change dependencies, remove, or add packages along the way (see https://askubuntu.com/questions/770135/apt-full-upgrade-versus-apt-get-dist-upgrade)

[2020-11-18 23:44] johnsonshi commented on #429
@CecileRobertMichon @kkeshavamurthy @anhvoms

A normal `apt upgrade` in both of the latest images for Gen 1 and Gen 2 Ubuntu 20.04 LTS *also* wipes the `/etc/resolv.conf` file.

[2020-11-19 00:21] johnsonshi commented on #429
An `apt dist-upgrade` or even a normal `apt upgrade` does not overwrite the `/etc/resolv.conf` file in Ubuntu 18.04.

[2020-11-19 00:29] johnsonshi commented on #429
Alright I've managed to isolate what circumstances `/etc/resolv.conf` gets overwritten.

On Ubuntu, `resolv.conf` and network name resolution is handled by `systemd-resolved`, which is a component service of `systemd`.

On the latest Ubuntu 20.04 images, @kkeshavamurthy reported that performing an `apt dist-upgrade` caused the `/etc/resolv.conf` file to be overwritten (causing the `search` option

[2020-11-19 01:00] johnsonshi commented on #429
I've further narrowed down the faulty upgrade. The symptom (`/etc/resolv.conf` overwritten) only exhibits itself on a very specific upgrade path.

On an older Ubuntu 20.04 LTS Gen 1 VM Image:
* Canonical:0001-com-ubuntu-server-focal:20_04-lts:**_20.04.202006270_**
* Upgrade of systemd: systemd/**_focal-updates_** **_245.4-4ubuntu3.3_** amd64 [upgradable from: **_245.4-4ubuntu3.1_**]
* `/etc/resolv

[2020-11-19 10:04] prankul88 commented on #387
@rustycl0ck Have opened PR #435 to resolve this. PTAL

[2020-11-20 03:37] jpeach opened #436 "v1/image-builder CLI doesn't build"
[code]
[code]
[code]

I poked around a bit with upgrading dependencies, but didn't find an obvious way to resolve the inconsistency.

[2020-11-20 12:51] #257 closed

[2020-11-20 17:25] eratnch opened #437 "Add CI job for GCP"
Add a CI job for testing `GCP`  compatible `CAPI` images.

[2020-11-24 14:51] cpanato commented on #437
I will work on that if no one is against
/assign

[2020-11-25 09:13] prankul88 commented on #387
/close

[2020-11-25 09:13] #387 closed

[2020-11-26 00:45] johnsonshi commented on #429
@linuxelf001 Hey Rakesh, has upstream Canonical rolled out a `systemd` fix to the Ubuntu images? `apt update` is a very common scenario that users run when bootstrapping and setting up a VM, so this bug may have a very big impact.

[2020-11-28 19:58] linuxelf001 commented on #429
Hi @johnsonshi, not yet. One workaround at this time is to reboot the VM before upgrading the systemd package. If reboot is done, then the DNS search entry is not touched in resolv.conf file.

Issue is reported/discussed here - https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1902960.

[2020-12-02 23:07] kkeshavamurthy commented on #429
The new image seems to be working fine. I was able to build Ubuntu 20.04 VHD without hitting the DNS issue. @CecileRobertMichon +1 to turn CI for Ubuntu 20.04 back on.

[2020-12-03 00:21] CecileRobertMichon commented on #429
Awesome, @kkeshavamurthy want to open the PR?

[2020-12-03 09:29] perithompson commented on #428
@lamw I have changed to be variable in my Windows [PR](https://github.com/kubernetes-sigs/image-builder/pull/402) Once that gets merged we should be able to then alter the size easily.  There may be some work to make this a variable that you can set at run time.

[2020-12-03 15:03] #429 closed

[2020-12-03 19:22] jsturtevant opened #446 "Containerd versions should be same value for windows and linux"
Follow up to  #444  to use the same containerd version configuration file as we do with Kubernetes versions.  Example: https://github.com/kubernetes-sigs/image-builder/blob/6dcd5528554a6ffb996565395c5b93e5a1843556/images/capi/Makefile#L148-L149

Some Contained configuration will be specific to Windows such as the sha for the file download and the additional settings hence the windows specific over

[2020-12-07 21:43] #446 closed

[2020-12-09 20:17] kkeshavamurthy opened #451 "Use gp3 EBS Volumes for AMIs"
https://aws.amazon.com/about-aws/whats-new/2020/12/introducing-new-amazon-ebs-general-purpose-volumes-gp3/

[2020-12-10 19:16] #451 closed

[2020-12-11 19:48] carstenkoester opened #454 "capi packer qemu build no longer builds qemu images; unconditionally builds vagrant boxes"
Steps:

[code]

The build artifact used to be (and is expected to be) a qcow2 image in the `output/` directory, but now always builds a Vagrant box:

[code]

Checking out an earlier revision, df55d6f0, restores the behavior of `make build-qemu-ubuntu-2004` actually building qemu/qcow2 artifacts.

It seems like the post-processor was recently added to `packer.json`,

[code]

with 892282320 and 6ab0

[2020-12-11 20:10] #231 closed

[2020-12-14 22:12] aram535 opened #456 "Cannot clone photon template"
I'm using CentOS 8.2 as my build server, vSphere 7.0.1 as my hypervisor and trying to deploy out the photon nodes.  I also have packer 1.6.5.

[code]
My vsphere.json file:
[code]

[2020-12-14 22:25] kkeshavamurthy commented on #456
Can you post your ansible version

[2020-12-14 22:26] aram535 commented on #456
ansible 2.9.15

.ansible.cfg:
[code]

[2020-12-14 23:37] aram535 commented on #456
I tried forcing it in ~/.ansible.cfg
```gather_facts = smart ```

rather than `explicit` and that seems to have gotten further.

[2020-12-15 00:01] aram535 commented on #456
Okay the node worked, but the haproxy is failing on checking on chronyd:

[code]

[2020-12-15 11:18] szengerle opened #458 "kernel modules for baremetal missing"
Same Ubuntu preseed.cfg file is used for OVA and QEMU builds. QEMU builders qcow2's are suitable for bare metal deployments if linux-generic would be used insted of linux-virtual. I needed for example the `hpsa` modules for my bare metal deployment. For my builds I commented out the respective line:
`d-i base-installer/kernel/override-image string linux-virtual `

Does it make sense to use linux-g

[2020-12-16 11:43] randomvariable commented on #191
/close

After we sorted out the clean up of /var/log, this problem has gone away.

[2020-12-16 11:43] #191 closed

[2020-12-20 22:54] voor commented on #381
/help
/Lifecycle frozen

[2020-12-20 22:55] voor commented on #381
/remove-lifecycle stale

[2020-12-21 14:09] farodin91 opened #464 "After growroot new build ova ubuntu 20.04, hangs in busybox."
We are build our images based on the newest commit of the head branch using vsphere.

The build went through and afterwards cluster-api clones the image. Cluster-api powers on the machine the grow happens than it hangs on following screen:
![image](https://user-images.githubusercontent.com/1159212/102785194-d8228700-439d-11eb-8327-ee98471e519b.png)

If restart the image everything works fine after

[2020-12-21 14:51] darc1 commented on #464
I got the same error using Ubuntu 20.04. If I reset the VM manually after getting to this menu, it boots as expected.

[2020-12-21 15:02] darc1 opened #465 "Question: configure private registries and dockerhub login on images"
When building the image, is there a way to set up the default container registry and/or provide the authentication for private registries and `https://index.docker.io/v1/` with `{--root-dir:-/var/lib/kubelet}/config.json` (as described [here](https://kubernetes.io/docs/concepts/containers/images/) )?

[2020-12-27 00:07] #295 closed

[2020-12-28 16:57] jsturtevant commented on #216
/remove-lifecycle rotten

[2020-12-29 12:09] farodin91 opened #468 "Add upload support for ova into vcenter"
We are using the image builder internally. We have automated the upload process into our vcenter after building a new image.

We are using govc:
[code]

[2021-01-06 00:37] #454 closed

[2021-01-06 15:57] detiber commented on #216
/lifecycle frozen

[2021-01-06 16:00] detiber commented on #458
Ideally, I think it would be great if it was configurable at build time to use either `linux-virtual` or `linux-generic`, similar with the RHEL, CentOS, and Photon alternatives

[2021-01-06 16:00] detiber commented on #374
/lifecycle frozen

[2021-01-06 16:08] detiber commented on #390
/lifecycle frozen

[2021-01-07 15:27] #389 closed

[2021-01-13 16:21] randomvariable opened #471 "containerd should be using systemd cgroup hierarchy"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

As per https://kubernetes.io/docs/setup/production-environment/container-runtimes/, there should be only be a single cgroup hiearchy running on the OS. We do not configure containerd to run using the systemd hierarchy, such that Kubernetes will have an incorrect view of resource utilisati

[2021-01-13 16:22] neolit123 commented on #471
just appending:

[code]

at the end of the config should work too.

[2021-01-13 16:30] neolit123 commented on #471
the tricky part is that, once this is done the following KubeletConfiguration must be passed to kubeadm:

[code]

@fabriziopandini @vincepri for comments on CAPI.

[2021-01-13 16:42] timothysc commented on #471
@codenrhoden - We need to fix this.

[2021-01-13 16:52] codenrhoden commented on #471
So this sounds like we have to coordinate the fix with kubeadm at the same time? Or if we have the Cgroup setup through systemd for future images, and kubeadm does *not* pass the needed KubeletConfiguration, will everything still work as before?

[2021-01-13 16:57] neolit123 commented on #471
if we add the `systemd` on the image side and the kubelet is not configured with `systemd` it will break. the default value in the kubelet is `cgroupfs` which is sane as the kubelet may not be run with systemd as the service manager.

there are a couple of options:
1. default the value to `systemd` in the KubeletConfiguration the kubeadm creates, which is a breaking change to the wider public.
2.

[2021-01-13 17:05] randomvariable commented on #471
If we configure it with Cluster API:
More likely we need to co-ordinate with Cluster API provider template authors in order to be able to passdown the cgroupDriver setting. And we don't want to default it in Cluster API Bootstrap Provider Kubeadm unless it's OS aware because of Windows?

Is there a last option in that we set the deprecated cgroup driver flag in /etc/sysconfig/kubelet ?

[2021-01-13 17:15] neolit123 commented on #471
its quite unfortunate but all users should do this setting unless kubeadm does it by default and given it runs the kubelet with systemd. which creates this period of breaking users that were using `cgroupfs` on the CR side.

cgroup drivers should be completely ignored on Windows as there is no such thing there, but we found a bug where the kubelet errors on Windows if the driver reported by `docke

[2021-01-13 17:50] neolit123 commented on #471
opening the wider discussion:
https://github.com/kubernetes/kubeadm/issues/2376

[2021-01-15 17:19] oldthreefeng commented on #471
@neolit123  for containerd .  I found default  systemd_cgroup  section is not  `[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]`
[code]

[2021-01-15 17:48] randomvariable commented on #471
the docs may be out of date.

In any case, after some discussion, we've settled on the following:

* Let's make the containerd change
* Set the cgroup driver flag for kubelet in /etc/sysconfig/kubelet. Put a TODO that we need to not set that flag in whatever version Kubernetes removes that flag.
* It is up to CAPI to sort out setting the kubelet component config for future Kubernetes versions.

[2021-01-15 22:00] neolit123 commented on #471
The field in the current docs works for me. Without it the cluster fails.

[2021-01-16 04:05] oldthreefeng commented on #471
@neolit123   Im sorry to confused you.
You are definitely  right.  I am confused by the section of .
[code]
forget it

[2021-01-19 10:06] fabriziopandini commented on #471
I'm trying to better understand what is the expected UX in CAPI after this change lands in the image builder

AFAIK currently it is not possible to change the KubeletConfiguration for the users (see https://github.com/kubernetes-sigs/cluster-api/issues/1584), so I assume we should still rely on ExtraArgs, which is not ideal.

Few options:
- The user should set the `--cgroup-driver` extra arg befor

[2021-01-19 11:43] neolit123 commented on #471
IMO, the images should be versioned with k8s.

[2021-01-19 11:48] randomvariable commented on #471
@fabriziopandini , for now, we should use /etc/sysconfig, then pivot to CAPI configuring it in v1alpha4 when we support Kubelet component config via whatever mechanism we have. Will be tracking in the node agent bits.

[2021-01-21 11:15] fabriziopandini commented on #471
This issue was discussed during CAPI office hours on the 20th of January, and the outcomes of the discussion are captured in https://github.com/kubernetes/kubeadm/issues/2376.

TL;DR; in order to coordinate the change among all the involved parties and to provide a clean upgrade path for the users, we should ensure that image builder configures containerd for using the systemd cgroup driver as a d

[2021-01-21 15:58] codenrhoden commented on #471
Thanks for the follow-up @fabriziopandini, and stating clearly what we need to do.

There are no problems with the requirement, it's definitely something we can do.

[2021-01-21 21:13] #342 closed

[2021-01-22 01:12] jsturtevant commented on #30
Vsphere and Azure have been added with aws ami in progress #442

/close

[2021-01-22 01:12] #30 closed

[2021-01-28 07:44] #349 closed

[2021-01-28 18:48] dims opened #486 "pod-infra-container-image missing from kubelet configuration (non-windows)"
On the windows side, we inject `pod-infra-container-image` when the kubelet starts:
https://cs.k8s.io/?q=pod-infra-container-image&i=nope&files=&repos=kubernetes-sigs/image-builder

The same parameter must be specified in the 10-kubeadm.conf as well:
https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/ansible/roles/kubernetes/templates/usr/lib/systemd/system/kubelet.service.d/

[2021-01-29 19:58] codenrhoden commented on #486
@dims, so if I understand correctly, we just need to add the `pod-infra-container-image` to the Kubelet config, right?

The link you pasted highlights both `KUBELET_KUBECONFIG_ARGS` and `KUBELET_CONFIG_ARGS`... Looking through the WIndows example, I think this would just be set in `KUBELET_CONFIG_ARGS`, is that right?

[2021-01-29 23:38] dims commented on #486
@codenrhoden adding `pod-infra-container-image` to `KUBELET_CONFIG_ARGS` <<< +1

[2021-01-29 23:39] dims commented on #486
you can verify if pod-infra-container-image is set properly in kubelet log files. if it is not set properly, you will see the default value for this image (hard coded in kubelet).

[2021-02-01 07:30] kkeshavamurthy commented on #486
/assign

[2021-02-01 23:50] kkeshavamurthy commented on #486
@dims @codenrhoden

for non-flatcar OSes, we do not use the kubeadm conf file that dims as linked. We just install kubelet from the k8s repo, which basically installs a vanilla kubelet conf file.
Should I just edit this config file or does it get manipulated by CAPI later on?

[code]

[2021-02-02 16:59] kkeshavamurthy commented on #396
/remove-lifecycle rotten

[2021-02-02 17:10] codenrhoden commented on #396
Max pointed me to this the other day: https://www.packer.io/docs/builders/vmware/vsphere-iso#cdrom-configuration

In conjunction with setting `ks=cdrom:/ks.cfg`. I believe he said it was an easy switch for Ubuntu 20.04, but 18.04 was a bit more difficult. Even if we only switched over 20.04, and found that it worked fine for both Fusion and vCenter based builds, I'd be happy to see that change so

[2021-02-03 06:03] moshloop commented on #396
The cloud server images provided for Ubuntu no longer support floppies so I think standardizing on cdrom instead would be better.

[2021-02-03 16:10] codenrhoden commented on #396
I'm open to whatever works. It has seemed that there is a difference between 18.04 and 20.04 around this as well.

As for cloud server images, for the OVA builds we start from an installation ISO, not an existing cloud image, so is that important @moshloop? I see them as two different things.

[2021-02-03 17:52] moshloop commented on #396
They are 2 different implementations, but there is no reason we can't build a generic mechanism for handling kickstart/preseed.cfg etc across all OS's / Mechanism - Unless there are slight variations between them. We might have a lot of work to do in introducing a more generic mechanism, we shouldn't make it harder for ourselves if it is an either-or situation.

[2021-02-05 19:23] kkeshavamurthy commented on #396
I started working on using CDROM instead of HTTP. packer mounts the ks/preseed dirs provided as an ISO image as a second cdrom. When the image is booted on the first cdrom with the OS ISO image is mounted and I was not able to figure out how to mount the second cdrom during boot. If anyone has ideas, it would be appreciated.

I swithed to floppy and was able to get it to work for Ubuntu 18.04 & 20

[2021-02-06 17:45] lamw commented on #428
@perithompson I see the PR you mentioned has been merged. How do I go about taking advantage of that with image-builder?

[2021-02-08 23:21] codenrhoden commented on #486
Hi @kkeshavamurthy. I see what you are talking about, and it took me a bit to tease it all out.

Flatcar aside, right now we have two paths to install Kubernetes (and for this conversation, kubelet). One is installing via package (RPM, DEB), and the other is a raw binary we pull from a URL. We'll need this fix to work in both cases.

When installing from a package, a vanilla systemd unit file does

[2021-02-08 23:28] dims commented on #486
Sounds like a great plan @codenrhoden . Cross my fingers!

[2021-02-09 11:27] perithompson commented on #428
Hi @lamw I hadn't put in a way to override this so I've opened a new PR, can you test this branch and let me know whether this works for your need.

[2021-02-09 19:25] MaxRink commented on #396
yeah, RHEL does still support Floppy.
For Ubuntu and cdrom: you need the new subiquity based installer to work with that (which is cloud-init-based and thus shouldnt even need boot cmds :D), the old one only mounts the first cdrom.
Regarding photon, shouldnt the Rev3 ISOs work ( https://github.com/vmware/photon/wiki/Downloading-Photon-OS )?

[2021-02-09 21:28] codenrhoden commented on #471
@fabriziopandini @randomvariable I could use a little help in understanding why my TOML changes don't appear to work...

I have the ansible worked out to only apply the changes for K8s >= v1.21.0. My resulting `/etc/containerd/config.toml` file looks like this:

[code]

But when I check to see if containerd has picked up the change, I don't see anything added to the "runc.options" section...

[cod

[2021-02-09 23:25] kkeshavamurthy opened #500 "Building AMI with packer 1.6.6. + GP3 Volumes fails"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Currently default ebs volumes is `gp3`.
packer 1.6.6 looks for `throughput` var to be set even though it's optional.
https://github.com/hashicorp/packer/issues/10420

[code]

**What did you expect to happen:**
not fail

**Anything else you would like to add:**
[Miscellaneous information th

[2021-02-10 09:47] fabriziopandini commented on #471
@neolit123 ^^

[2021-02-10 15:00] neolit123 commented on #471
@codenrhoden

as commented above, placing it at the bottom works for me:
https://github.com/kubernetes-sigs/image-builder/issues/471#issuecomment-759560454

but i got it by inlining `[plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]` before too.
could be a TOML parsing issue.

[2021-02-10 17:08] codenrhoden commented on #471
Thanks @neolit123

I don't know why, but I'm still struggling with this. Can I confirm that I *should* see the Cgroup entry be listed out when I do a `containerd config dump`? I switched to using containerd v1.4.3, and I see the `runc.options` in the default config dump. But no matter what I put in my TOML file, I don't see anything listed under that section. I'm going off the assumption that I **

[2021-02-10 17:12] neolit123 commented on #471
unless i'm mistaken, i think `containerd config dump` just dumps the default config.

if you have applied the change and restarted containerd using something like `crictl info` on the socket should give:
[code]

[2021-02-10 17:25] codenrhoden commented on #428
Thanks for working on this @perithompson. We had never really been concerned about the disk size because it really is only meant to capture what is needed to build the image/OVA. The disk then gets shrunk down to make the OVA as small as possible. The disk size in the OVF was never really meant to be used beyond getting the OVA loaded into the vCenter then turned into a template. When deploying/cl

[2021-02-10 17:37] codenrhoden commented on #471
Thanks, I'll check that out.

My understanding (and observation) is that `containerd config default` shows the default config, and `containerd config dump` shows the working config after loading all files.

[2021-02-10 17:48] neolit123 commented on #471
could be, i haven't tried it.

[2021-02-10 22:19] lamw commented on #428
@codenrhoden unfortunately, disk resize is not true currently for the TKGs offering and the disk value is indeed left hardcoded to 20GB. I was looking into this option as a way for customers to build the base image with different size disk capacity which can then be used with that service.

I've still not had success in testing the changes. Either image-builder has changed significantly from when

[2021-02-11 20:33] #486 closed

[2021-02-16 00:48] lamw commented on #428
@perithompson I was finally able to verify the new parameter w/your branch. Looks good! 👍

[2021-02-16 10:30] moshloop opened #505 "Migrate ova-build.py into CLI"
OVA building/uploading is a generic enough function that makes sense to migrate this into the CLI.

e.g. `image-builder ova build -c config.yml disk.vmdk `

[code]

/kind feature

[2021-02-16 18:45] kkeshavamurthy commented on #464
I'm seeing this issue as well.
Thanks to @EleanorRigby for debugging this. Seems like if the ova HD size is changed from 20Gb, this issue occurs. We spun up a bunch of VMs with the original 20Gb as the clone VM HD size and all VMs booted up fine.
All the VMs with HD size different from 20Gb, drops into `initramfs` on first boot.

[2021-02-17 13:57] perithompson opened #506 "Windows containerd checksum mismatch when not specifying containerd_sha256"
**What steps did you take and what happened:**
Build windows image with containerd fails when not specifying containerd_sha256 with a checksum mismatch failure

**What did you expect to happen:**
Expected image-builder to have default checksum for containerd set

**Anything else you would like to add:**
There is a containerd_sha256_windows variable available but this is not passed in as an ansible

[2021-02-17 13:57] perithompson commented on #506
/assign

[2021-02-17 13:58] perithompson commented on #506
@jsturtevant I think this is going to be another one of those, do we need two variables/files conversation but just noticed this and thought id start a discussion before fixing

[2021-02-17 14:03] perithompson commented on #428
awesome, there was an error that meant the sizes were showing incorrectly with ovftool that I've now corrected

[2021-02-17 14:12] perithompson commented on #506
containerd_url={{user `containerd_url`}} containerd_sha256={{user `containerd_sha256_windows`}} pause_image={{user `pause_image`}}

Maybe something like this is needed, I guess we need to handle the pause image a little better too as there is containerd_pause_image for Linux that we could merge to just pause image maybe?

[2021-02-17 16:45] perithompson opened #508 "OVA Windows Image Builder unable to create ovf"
**What steps did you take and what happened:**
Trying to build Windows OVA using vmware-local or vsphere builders results the following errors due to changes in the image-build-ova.py script.  I made a change on Error 1 to add the changes to the packer-windows.json file

1. Added in [PR](https://github.com/kubernetes-sigs/image-builder/pull/467)
[code]

2. This seems to have been changed by this [

[2021-02-17 16:47] jsturtevant commented on #506
This was done in #449.  I think we got burned by this long string in `ansible-args-windows.json` and the difficulties in reviewing it properly since it looks like it was changed in #442.

We had a `containerd_sha256_windows` vs overriding it in the Windows config so we could have the sha's in one file so when versions got bumped it would be obvious to the person updating. I think we should keep go

[2021-02-17 16:50] jayunit100 commented on #508
cc @kkeshavamurthy any thoughts on what we can do to fix this one?

[2021-02-17 17:08] kkeshavamurthy commented on #508
For error2:
You'll need to have `distro_name/arch/version` in your `windows-x.json` similar to this
https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/ova/ubuntu-2004.json#L3

[2021-02-17 17:16] kkeshavamurthy commented on #508
For error1:
the calling of the `image-build-ova.py` needs to change to include `--ovf-template` arg. Similar to
https://github.com/kubernetes-sigs/image-builder/blob/b72dae811bbb42d7ee03c44c942aa54865eb586e/images/capi/packer/ova/packer-windows.json#L190
for all builders

[2021-02-17 17:54] perithompson commented on #508
ok ill try and add these in, thanks @kkeshavamurthy i am about to open a PR so ill just include these changes

[2021-02-17 18:02] perithompson commented on #508
/assign

[2021-02-17 18:11] perithompson commented on #506
[code]
This makes total sense to me so I will correct the string in that long variable string and we can save overriding in a file

As for the pause image, I'm confused as to why its called `containerd_pause_image` so maybe @codenrhoden may know, it would be good to align this but I guess it may be this way for a reason.

I would still love to correct that file but I haven't come up with a way to

[2021-02-17 22:56] #464 closed

[2021-02-18 08:02] moshloop commented on #436
/remove-lifecycle stale

[2021-02-19 08:09] moshloop opened #513 "Remove dependency on ovftool"
ovftool is behind a registration wall - Govc should be able replace most of ovftool

/kind feature

[2021-02-19 17:36] MaxRink commented on #20
https://cloudinit.readthedocs.io/en/latest/topics/modules.html
According to this this now supports chrony, ntp, ntpdate, systemd-timesyncd.

[2021-02-19 22:47] voor commented on #471
[code]

[2021-02-22 16:04] cpanato commented on #437
/remove-lifecycle stale

[2021-02-22 16:43] codenrhoden commented on #513
I don't know if something changed with newer versions of Fusion and vSphere or what, but I spent hours trying to figure out why the `tar` method of creating the OVA no longer worked but `OVFtool` did. I could take "our" OVA, which no longer imports, untar it and rebuild it with OVFtool and it would work fine. No change to the OVF or the VMDK. I dug into tar format standards (POSIX vs GNU, etc) and

[2021-02-22 16:47] moshloop commented on #513
I was planning on solving this in the image-builder CLI and then using that as a gentle introduction to the CLI without significant impact or changes to existing processes.

[2021-02-22 19:00] jayunit100 opened #518 "Generic version of debug-tools for executables"
**Is your feature request related to a problem? Please describe.**

feature - for windows, we need executables for CSI, CNI, and so on that are hollow , i.e. not really aware of cni or csi, but just, copying executables installed to image

**Describe the solution you'd like**

- Add an ansible step "cni-executables-install/" OR
- Add an ansible step "additional-file-copy/"

**Describe alternatives

[2021-02-22 19:01] perithompson commented on #518
/sig windows

[2021-02-22 22:54] jsturtevant commented on #518
A little background... Since windows doesn't have privileged containers it can't easily install and run services from pods like Linux does.  sig-windows came up with some work arounds using hostnetwork for Windows and Docker but it doesn't work as well with Containerd: https://github.com/kubernetes-sigs/sig-windows-tools/issues/128#issuecomment-744840966

For now with Containerd, in the current st

[2021-02-23 10:12] perithompson commented on #518
Completely agree with this, we were thinking as a generic way to do this, we could just start with a way to download a variable list of executables into a folder for CSI/CNI etc and let cluster API do the actual installation step? Any thoughts? I think maintaining an installation routine for each cni would be to hard to maintain...

[2021-02-23 16:54] jsturtevant commented on #518
Agreed,  Linux does something similar for the base line cnis: https://github.com/kubernetes-sigs/image-builder/blob/0b97b19a856ac257c4139b16eda76d1d43b72499/images/capi/ansible/roles/kubernetes/tasks/url.yml#L36

The tricky part might be setting up the configuraiton between containerd/CNI/kubelet.

[2021-02-24 09:35] perithompson commented on #513
Just a comment on this, the dockerfile will no longer build as the ovftool isn't present.  I guess we can change the dockerfile to include this, but at the moment this does cause a problem for people who want to run image-builder without setting up all the prereqs on the agent

[2021-02-24 11:24] perithompson commented on #506
Not sure my PR gives us a direction going forward but at least it allows us to build using the defaults for now

[2021-02-25 15:27] perithompson opened #523 "Allow building windows images without wins installed"
**Is your feature request related to a problem?**
Wins is used to workaround the need for privileged containers in windows and allows for kube-proxy and other cnis to run on host.  However because this allows for scheduling workloads on the host, this can be considered insecure by some user and it would be useful to be able to skip the install of this

**Describe the solution you'd like**
Provide

[2021-02-25 15:28] perithompson commented on #523
/assign

[2021-02-25 15:28] perithompson commented on #523
cc @jayunit100 @jsturtevant

[2021-02-25 16:49] jsturtevant commented on #523
If the value of the wins url is empty it will skip installing:

https://github.com/kubernetes-sigs/image-builder/blob/f3cf15924a9dfe360437469f729d580114e62e3f/images/capi/ansible/windows/node_windows.yml#L22-L24

Intent was once Privileged containers lands to no longer require wins.exe.

[2021-02-25 20:19] neolit123 commented on #471
i've sent the PR for moving to systemd in kubeadm 1.21:
https://github.com/kubernetes/kubernetes/pull/99471

[2021-02-25 20:20] neolit123 commented on #471
@voor
is that a persisting error, or perhaps something is flaking?
using the "systemd" driver with containerd should be fine and we haven't seen user reports about it.

[2021-02-25 20:28] voor commented on #471
None of the code samples provided in this thread have set it so that containerd is using systemd cgroups, but the kubelet change definitely works, thus resulting in kubeadm not working because they're not aligned.

[2021-02-25 20:30] neolit123 commented on #471
yeah, the CR driver must == the kubelet driver.

[this](https://github.com/kubernetes-sigs/image-builder/issues/471#issuecomment-759560454) + [this](https://github.com/kubernetes-sigs/image-builder/issues/471#issuecomment-759565688) works for me.

[2021-02-26 13:44] jayunit100 commented on #518
im ok w ANY solution here, generic or CNI specific , but feel like generic gives max flexibility to vendors w/o making upstream opinionated

[2021-02-26 21:12] #508 closed

[2021-03-01 11:45] fabriziopandini commented on #471
@codenrhoden is this effort still in track for v1.21?

[2021-03-02 17:25] #428 closed

[2021-03-03 14:17] MaxRink opened #530 "[OVAs + ?] Chrony/NTP not taking over NTP Servers provided by DHCP"
**What steps did you take and what happened:**
We are running our CAPV clusters with DHCP in an airgapped environment. The OS is ubuntu 18.04.
Currently chrony doesnt pick up the NTP Servers provided by DHCP on Boot, only on manual renew of the lease. (dhclient -r)
Systemd-timesyncd is also still enabled, despite chrony being installed.

[2021-03-03 17:01] jsturtevant opened #532 "Add Windows support for goss"
**Is your feature request related to a problem? Please describe.**
Verification of Windows images using same goss tooling used on the [linux side](https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/goss/goss.yaml).

**Describe the solution you'd like**

Verification of the windows builds using goss.

**Describe alternatives you've considered**

**Additional context**
A

[2021-03-03 17:14] perithompson commented on #518
/assign

[2021-03-05 17:14] codenrhoden opened #537 "Disable systemd-timesyncd in images where that's not already the case"
**What steps did you take and what happened:**
A few images built with `image-builder` that default to `chronyd` for time syncing still have `systemd-timesyncd` enabled. This mostly just causes issues with logs and failed services at startup, but we should explicitly disable `systemd-timesyncd` to clean things up.

At a minimum, this is observed in Ubuntu 18.04 (Ubuntu 20.04 ships with `systemd-ti

[2021-03-05 19:39] #500 closed

[2021-03-08 16:58] codenrhoden commented on #471
I tried this again, using containerd 1.4.4, and I still get the same behavior. no matter what I put in the config file, it doesn't register. I think I'd like to pair up with @neolit123 when he has time to show what I'm going and figure it out. I know it's parsing the config file and applying other changes from the config file. It's very strange.

[2021-03-08 17:01] neolit123 commented on #471
@codenrhoden did you try `crictl info`?

[2021-03-08 17:03] codenrhoden commented on #471
@neolit123 I have, yes. no difference there.

[2021-03-08 17:55] neolit123 commented on #471
https://github.com/containerd/containerd/issues/4900#issuecomment-756085464

looks like both `config dump` and `crictl info` don't work for verifying this.
it can be verified with `systemd-cgls` once there are some containers running.

i'm not that familiar with containerd myself, but this looks like something that they must fix.

all we care about is adding:

[code]

at the end of the config.

[2021-03-08 17:57] codenrhoden commented on #471
Wow... Okay, that explains a lot. I'm just running around in circles. :) I can verify this with the methods in that comment. Thanks!

[2021-03-09 23:15] #471 closed

[2021-03-11 12:43] invidian opened #541 "Building AMIs does not work with Packer 1.7.0"
**What steps did you take and what happened:**
1. `cd image-builder/images/capi/ && CAPI_PROVIDER=ami ./hack/image-build-flatcar.sh stable`

Result:
[code]

Previously, I tried building using Packer `1.6.5`, which also failed, related to #538 I guess?

**What did you expect to happen:**

AMI building should work OR packer version should be checked before execution.

**Environment:**

Project ([Ima

[2021-03-11 12:46] invidian opened #542 "Packer GOSS plugin gets installed into home directory"
**What steps did you take and what happened:**
1. `cd image-builder/images/capi/ && CAPI_PROVIDER=ami ./hack/image-build-flatcar.sh stable`
2. `~/.packer.d/plugins/packer-provisioner-goss` gets created.

**What did you expect to happen:**
- Automation installing the tools install them locally to the repository, so 2 clones of the same repository do not fight over the same file.
- Automation does n

[2021-03-11 12:57] kkeshavamurthy commented on #541
Hi @invidian , Issue with `1.7.0` is known. Can you give `1.6.6` a try. It should work.

[2021-03-11 13:14] invidian commented on #541
Is it documented, reported or checked somewhere? I couldn't find anything, hence the issue.

1.6.6 indeed works :) But would be nice to get 1.7.0 working as well.

[2021-03-11 14:10] kkeshavamurthy commented on #541
Actually goss is now supported on packer 1.7.  [Link](https://github.com/YaleUniversity/packer-provisioner-goss/releases/tag/v3.0.0)

I have not tested it and seems like it's not backwards compatible. So, I'm not sure when we'll move to it.

CC: @codenrhoden

[2021-03-11 17:05] jayunit100 opened #544 "windows broken ova build"
**What steps did you take and what happened:**

windows is broke now (recent typed version additions)

[2021-03-11 17:47] perithompson commented on #544
/assign

[2021-03-11 17:47] perithompson commented on #544
/sig windows

[2021-03-11 17:50] #544 closed

[2021-03-13 21:13] #412 closed

[2021-03-16 20:17] jsturtevant opened #549 "Flaky behaviour when updating windows defender signatures"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Sometimes the following request fails during ci:

https://github.com/kubernetes-sigs/image-builder/blob/a73be46a64ee82e329838689306a4c77625ac367/images/capi/ansible/windows/roles/systemprep/tasks/main.yml#L66-L68

**What did you expect to happen:**
defender signatures update with no error

[2021-03-16 20:23] jsturtevant commented on #549
error message is:

[2021-03-17 16:47] jayunit100 opened #551 "Developer Tools on Windows images"
**Is your feature request related to a problem? Please describe.**

We need to have a baseline of administrative tools installed on machines:
- vim
- others?

**Describe the solution you'd like**

A dev-tools/ or admin-tools/ ansible directory where we can add dev tools

(at a minimum a powershell script to bootstrap this stuff would be good)

**Additional context**

/kind feature

[2021-03-17 16:49] perithompson commented on #551
/sig windows

[2021-03-17 17:04] vignesh-goutham opened #552 "Remove need for vSphere to build ova with vSphere provider"
**Is your feature request related to a problem? Please describe.**
While trying to build an ova for vSphere capi provider, it looks like it requires access to an active vSphere. I'm trying to understand this hard dependency.

**Describe the solution you'd like**
I'd like vSphere image builder to run image builds without the need for vSphere. Built images could end up in local filesystems. Or atlea

[2021-03-17 17:18] perithompson commented on #551
@jsturtevant I remember that in early commits you were using chocolatey but you stopped, was there any reason, I think this would be used to install vim with ansible, any thoughts or concerns?

[2021-03-17 17:37] perithompson commented on #552
Hi @vignesh-goutham you can also build using vmware fusion or vmware workstation using `make build-node-ova-local-base-ubuntu-2004` this will then allow you to import the OVA to vsphere after it has completed?

[2021-03-17 17:40] perithompson commented on #549
@jsturtevant could we add a retry to help with this?  I've encountered this too
[code]

or even a timeout?

[2021-03-17 17:41] perithompson commented on #549
I don't mind taking a look into this if you want

[2021-03-17 19:22] jsturtevant commented on #549
We can open a PR with the retries and see if that improves it.  I also was requested by the Defender team to grab some logs

[2021-03-17 19:25] jsturtevant commented on #549
if you reproduce it locally (i've had a hard time) could you grab the logs with `%programfiles%\Windows Defender\MpCmdRun -GetFiles`?

[2021-03-18 14:56] perithompson commented on #549
I'll sure give it a go, ive only seen this when running off my machine, I'll have to stop it from deleting, looks like you managed to repro last night though?

[2021-03-18 16:06] jsturtevant opened #554 "Improve the way kubelet restarts for windows"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
To avoid starting kubelet to early, image-builder sets the kubelet service to *manual* which you should consider changing once the node has joined a cluster.

This means on a node restart or kubelet failure the service is not restarted.

**What did you expect to happen:**

**Anything else

[2021-03-18 16:14] jsturtevant commented on #549
Yes got a repo yesterday. It looks like the Updates component https://github.com/kubernetes-sigs/image-builder/blob/df3b27b0ec0a3d58141ea59292515c5e515d9b29/images/capi/ansible/windows/roles/systemprep/tasks/main.yml#L35 is scheduling an update of the signatures asynchronously as a windows scheduled task.  Since that is already running the call to update date the signature fails (which no error me

[2021-03-18 16:19] #523 closed

[2021-03-18 17:50] perithompson commented on #549
I think moving before makes a lot of sense actually or even removing https://github.com/kubernetes-sigs/image-builder/blob/d6a2b02d28efc97c5bc2dd77e912d51998c8f0f5/images/capi/ansible/windows/roles/systemprep/tasks/main.yml#L43
 might be enough

[2021-03-19 00:04] jsturtevant opened #555 "Add support for containerd gmsa on Windows"
**What steps did you take and what happened:**
A registry key needs to be added for images that use containerd to enable the use of UNC paths.  See https://github.com/kubernetes-sigs/windows-gmsa/issues/30#event-4479102851 for more details.

/cc @perithompson

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the iss

[2021-03-19 00:18] jsturtevant commented on #549
I spoke with the Defender team and it turns out the defender service will automatically trigger updates if it needs them. This is why we see this periodically... the Azure market place images will start to go stale with old definitions based on various factors and the defender service will kick off the updates when it comes online.

Since the images are built and then deployed at a later time the

[2021-03-19 07:27] perithompson commented on #555
/assign
/sig windows

[2021-03-19 08:49] sbueringer opened #556 "[capi] Auditd produces too much logs"
**What steps did you take and what happened:**

I built the latest CAPI Ubuntu image (qemu in this case, but this should affect all) and was using
it for testing in ClusterAPI provider OpenStack. I saw that auditd produces a lot of logs. For example
a simple cluster creation with a control plane node and 5 worker nodes produces about 200 MB of
logs on the control plane node alone. I wasn't even ru

[2021-03-19 11:43] perithompson commented on #549
I think you may be right on the money, as the windows defender updates will most likely happen automatically when the node boots up at runtime I don't think we need the explicit step. I'm happy for the step to go as well

[2021-03-22 16:00] jsturtevant opened #559 "Add Windows containerd CI for Azure"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Continuous Integration for containerd images on azure in the script https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/azure/scripts/ci-azure-e2e.sh

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that wi

[2021-03-23 18:00] kbreit opened #560 "goss version incompatible with Packer"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
I expected it to complete the build as it installed the packer-goss version.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

Project ([Image Builder for Cluster API](https://github.com/kubernetes-sigs/image-builder/tree/master/ima

[2021-03-24 00:16] #555 closed

[2021-03-24 07:22] yiwenh opened #561 "VM created from ubuntu 20.04 qemu image hangs in busybox on first bootup"
This issue is the same as #464, but for qemu ubuntu 20.04 image.

After running `make build-qemu-ibmcloud-ubuntu-2004` to create a qcow2 image and use it to create a VM, the VM will hung in busybox, same [screen](https://user-images.githubusercontent.com/1159212/102785194-d8228700-439d-11eb-8327-ee98471e519b.png) as reported in #464.

The problem goes away after the VM is rebooted.

[2021-03-24 07:24] yiwenh commented on #561
/assign

[2021-03-24 21:57] #561 closed

[2021-03-24 23:02] perithompson commented on #560
I found this as well, I bumped the packer version in my WIP PR  [#563](https://github.com/kubernetes-sigs/image-builder/pull/563) to 1.7 and that worked ok

[2021-03-25 18:49] vignesh-goutham commented on #552
Thank you for that information. That helps!

[2021-03-25 18:49] #552 closed

[2021-03-25 18:51] #391 closed

[2021-03-25 19:05] vignesh-goutham opened #565 "Image builder for ami amazon 2 fails with need to be root on tasks"
**What steps did you take and what happened:**
While trying to build an ami for amazon 2, I ran the make targets
`make deps-ami` and `make build-amazon-2`
make deps successfully installs ansible and all the other dependencies.
make build-amazon-2 fails while trying to execute the "TASK [setup : add epel repo]"

Logs:
[code]

**What did you expect to happen:**
The expectation was to complete execut

[2021-03-25 21:54] #420 closed

[2021-03-26 18:12] kbreit opened #567 "CAPI VMware image builder doesn't acknowledge resource_pool"
**What steps did you take and what happened:**
[code]

**What did you expect to happen:**
I expected it to use cluster/ClusterAPI.

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]
I was able to resolve this by adding `resource_pool` keys in `packer-node.json` wherever `vcenter_server` was referenced. `"resource_pool": "{{user `resource_po

[2021-03-26 21:06] #549 closed

[2021-03-27 11:57] kbreit opened #568 "Documentation should specify default username and password"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
While developing a custom image I spent a while looking for the right username and password for an Ubuntu box. This should be documented as it won't work without the correct credentials.

**Anything else you would like to add:**
[Miscellaneous informatio

[2021-03-28 09:53] #384 closed

[2021-03-29 12:28] farodin91 commented on #468
@codenrhoden What do you think about this tooling?

[2021-03-29 17:18] jayunit100 opened #571 "imgpkg / bundle / http facade awareness for image builds"
**Is your feature request related to a problem? Please describe.**

For windows nodes, you need to build an OVA from scratch - and can't borrow OVAs from elsewhere.    Thus anyone using CAPI w/ windows need to use image builder to create their images, for their nodes.

This means that the UX around how binaries are pulled into image builder needs to be dumbed down a little, since its not just clou

[2021-03-29 18:33] jayunit100 commented on #571
so as an alternative i filed https://github.com/ansible/ansible/issues/74059 , just as an idea - make it so that note that `get_file` and `win_get_file` are ultimately same underlying module in ansible, so modifying the semantics of the main one implies updating the windows specific use case as well,

hence, i only filed this for the `get_file` since that is good enough to cascade the solution to

[2021-03-30 19:56] codenrhoden commented on #571
I'm thinking about this with three different lenses/use-cases...

1. Users are building pure upstream-only images
  - In this case, I don't think we want to introduce any dependence on anything other than what is published by the K8s project itself.
2. Uses are are building pure upstream, but want to add some additional customization (really, the heart of what image-builder enables)
  - I think th

[2021-03-31 12:04] perithompson commented on #532
/assign

[2021-03-31 20:20] dims opened #572 "Containerd 1.4.4 fails with new SystemdCgroup changes with k8s master/1.21"
See WIP https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/355

config.toml looks like [this](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_cluster-api-provider-gcp/355/pull-cluster-api-provider-gcp-make-conformance/1377317459563909120/artifacts/logs/test1-control-plane-dvlpg/containerd-config.toml):
[code]

Errors in kubelet looks like this:
[code]

[2021-03-31 20:53] #572 closed

[2021-04-05 00:32] jayunit100 opened #575 "Image builder on Windows Evaluation ISOs, version selection + programdata/ssh/sshd_config setup"
It seems like there is an issue wherein the windows evaluation ISO has 4 different choices as for the OS:

1) There are four different versions of windows server 2019 ~ so one has to be selected ~ which ones the `sane` default (and should that be put in autoattend.xml ?

- Windows Server 2019 Standard,
- Windows Server 2019 Standard (Desktop Experience),
- Windows Server 2019 Datacenter,
- Windows

[2021-04-05 02:34] yiwenh opened #576 "Add image-builder support for IBM Cloud VPC"
**Is your feature request related to a problem? Please describe.**
Add image-builder support to build qcow2 images for IBM Cloud VPC

**Describe the solution you'd like**
The [Cluster API Provider IBM Cloud project](https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud) requires an image that can be deployed to IBM Cloud VPC.  The images is of qcow2 format, similar to the qemu image tha

[2021-04-05 02:34] yiwenh commented on #576
/assign

[2021-04-05 07:07] perithompson commented on #575
/sig windows
/kind bug
/assign

[2021-04-05 07:21] perithompson commented on #575
Thanks for logging this @jayunit100  can you confirm which eval media you were using and which option you select, currently I've only tested licenced media for non desktop experience versions of 2019 LTSC and 2004 SAC. It is going to be difficult to keep up with all versions for on prem so we originally only selected these two.

It's strange that the .ssh folder was missing from programdata, it's

[2021-04-05 22:52] vignesh-goutham commented on #565
This bug went away when ran image-builder as non-root user. Closing the issue.

[2021-04-05 22:52] #565 closed

[2021-04-06 03:36] jayunit100 commented on #575
ok cool . ill just screen share w/ you tomorrowwwwww

[2021-04-06 03:52] jpeach opened #578 "Remove python2 from CAPi Photon images"
The Photon 3 CAPI images install both Python2 and Python3. AFAICT cloud-init is OK with Python3, so we should be able to remove Python2 and save a bit of disk space.

[2021-04-06 04:09] jpeach opened #579 "Remove Perl from CAPI Photon images"
The Photon CAPI base image pulls in Perl as a dependency of ebtables and of openssl (for c_rehash). If we can break these dependencies, then we can remove Perl and save some disk space.

It looks like various other distributions have approaches to remove these Perl dependencies:

[Bugzilla 746040](https://bugzilla.redhat.com/show_bug.cgi?id=746040) - ebtables-save needn't be perl
[Arch Linux 54887

[2021-04-06 05:39] jpeach commented on #579
It looks like PhotonOS 4 has a newer OpenSSL that includes `openssl rehash`, and separates c_rehash into an `openssl-c_rehash` package that depends on Perl (not sure why you would need this).

[2021-04-06 16:51] perithompson commented on #575
/help

[2021-04-06 16:51] perithompson commented on #575
@jsturtevant

[2021-04-06 16:54] perithompson commented on #575
sounds like we decided on eval skus

[2021-04-06 19:42] codenrhoden commented on #578
I think with a bit of validation this is definitely possible. Photon 3 uses Python 3 as it's default, and i'm not even positive why Python 2 is there.

Our tooling installs two RPMs that would certainly pull it in -- `python-netifaces` and `python-requests`, and it has long been something I wondered about what was requiring these (they've been there since I've been on the project). But, we can fir

[2021-04-06 22:31] jpeach commented on #579
Verified that PhotonOS 3 comes with OpenSSL 1.0.2y, which doesn't have the `rehash` subcommand (needs OpenSSL 1.1.1).

[2021-04-07 14:39] detiber commented on #458
@szengerle You should be able to use the newly introduced "raw" images for this purpose now, It's a separate target for now, since I wasn't sure if we'd need to add additional changes, but we can always consolidate it down later if we don't need it.
/close

[2021-04-07 14:39] #458 closed

[2021-04-11 19:08] stuartpreston opened #587 "(OVA/Windows) IP address not reported by VMware Tools in vSphere due to timezone mismatch"
**What steps did you take and what happened:**

- Using a vSphere server that is **not** on "Pacific Standard Time"
- Follow the usual steps to build a Windows Server 2019 node on vSphere i.e. `make build-node-ova-vsphere-windows-2019`
- Packer waits at the following message, while the temporary VM awaits instruction:
[code]
- vSphere console indicates the "VMware Tools is not installed on this vi

[2021-04-12 09:31] jayunit100 opened #588 "windows: add a 'failed_when' hook into the openssh task"
**What steps did you take and what happened:**

OpenSSH installation can fail for example in some cases ( i think this happened to me when i had a product key or internet acces error, but dont remember the exact details)
[code]
Later steps then fail for other obvious reasons, for example,

**What did you expect to happen:**

If openssh install failed , that would be detected explicitly by image bu

[2021-04-12 09:47] jayunit100 commented on #587
interesting ```When troubleshooting, I noticed that one time when it had worked, the Time Service had managed to get out to sync with time.windows.com - which made me wonder if vmtoolsd wasn't installing due some kind of wierd time / authentication issue  / race condition where occasionally it was able to sync time and not error.```  from the above article stuart linked.

Does that mean that, depe

[2021-04-12 11:25] stuartpreston commented on #587
As far as I understand the problem, this is simply about the clock on the temporary VM you are building being in the same time zone as the vCenter server you are building it on and nothing to do with CDNs or windows services. Having time sync is a given here too.

[2021-04-12 12:47] perithompson commented on #588
Usually, this fails if you are missing required windows updates? did you run windows update in your image?

[2021-04-12 15:58] perithompson commented on #587
/assign

[2021-04-12 16:44] CecileRobertMichon opened #589 "Improve UX for PR tests"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It's currently hard to tell which test failed and why when looking at the logs for azure PR tests, eg. https://prow.k8s.io/view/gs/kubernetes

[2021-04-14 16:05] jayunit100 opened #593 "burrito server: support json output"
Follow on to #582 ,  support json output... other iterations

[code]

@perithompson

[2021-04-15 10:15] perithompson commented on #588
maybe there is some check we could put in that will fail with a graceful error if the windows version doesn't meet the minimum by this step, I don't support /cc @jsturtevant  knows what the min version of 2019 supports this feature?  that would be a good check?

[2021-04-16 08:11] vrabbi opened #595 "Add retry logic for kubernetes binary url based downloads"
**Is your feature request related to a problem? Please describe.**
When using the url.yaml method for installijg k8s binaries on images no retry logic is present. It can be very common to have sporadic network or server issues which make a download fail. Adding retry logic similar to that in k8s component containers task would be very helpful and would limit the failed builds which i have encounte

[2021-04-16 08:14] perithompson commented on #595
Thanks for submitting this! I think this is a good spot! how has your testing gone with adding the retry logic?

[2021-04-16 08:59] perithompson commented on #595
/assign

[2021-04-16 09:21] vrabbi commented on #595
I have been using it with no issues at all however i have only used it for capv ubuntu 20.04 and 4 k8s versions. It probably meeds to be validated against other providers,os and k8s versions to make sure. Next wrek when i am back in the office i can share the changes i made and create a pr if that would be helpful

[2021-04-16 17:18] #571 closed

[2021-04-19 13:37] kkeshavamurthy opened #596 "`ansible_extra_vars` & `ansible_common_vars` usages should be flipped?"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/packer/ova/packer-node.json#L415-L416
Here I see `ansible_extra_vars` populated with some vars from `packer-common.json` and `ansible_common_vars` set to empty.

Shouldn't it be the otherway? That way users can pass

[2021-04-19 22:30] codenrhoden commented on #596
I do believe this is structured as intended, but there is room for improvement.

`ansible_common_args` is meant to be the complete set of all Ansible args that all builders are required to pass to the Ansible roles -- thus they are "common" to all builders. That's why they are defined in one single place, at `images/capi/packer/config/ansible-args.json`. Builders should not be overriding this -- s

[2021-04-22 08:17] kkeshavamurthy commented on #596
I understand.
If I want to pass additional vars to ansible, then I need to append to `ansible_extra_vars` instead of just defining `ansible_extra_vars: foo=bar` which seems a bit hacky.

What do you think of defining `ansible_user_vars` and pass it like this:
"extra_arguments": [
        "--extra-vars",
        "{{user `ansible_common_vars`}}",
        "--extra-vars",
        "{{user `ansible_extr

[2021-04-22 14:32] codenrhoden commented on #560
/close

The latest commits are using Packer v1.7.2, and a compatible version of the GOSS provisioner. Fixed with #570

[2021-04-22 14:32] #560 closed

[2021-04-22 14:40] codenrhoden commented on #468
/remove-lifecycle stale

I'd definitely like to keep this issue around...
Ultimately I'd like it if this step wasn't necessary -- if we are just putting the OVA back into the same vCenter that built the machine image anyways, is there a way to create the template without having to download the disk, and then re-upload the final OVA?

It seems the answer is yes, but not sure at this point how easy

[2021-04-22 14:50] codenrhoden commented on #541
With the GOSS provisioner and Packer both updated to latest, I believe this is taken care of?
Came in with #570

[2021-04-22 18:06] randomvariable opened #598 "Improve Photon IPv6 Support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We'd like to improve Photon IPv6 support for Kubernetes via the following mechanisms:

- Ensure defaults are consistent with other distributions, e.g. SLAAC and router advertisment sysctls
- Improve network v2 config support in cloud-init.

[2021-04-22 18:11] jsturtevant commented on #588
Is there an error message that it failes with?  I think that would be need to for the `failed_when` clause.

I have not seen this failure before.  The support for SSH goes way back several years for support in WS 2019, so not sure if that would be an issue...

[2021-04-22 18:18] jsturtevant opened #599 "Automatic updates for Windows are running even though we disabled them"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
Windows updates are disabled: https://github.com/kubernetes-sigs/image-builder/blob/212059706cb1b319c5dcdc39752048fb41e2cb54/images/capi/ansible/windows/roles/systemprep/tasks/main.yml#L15-L21

but on a cluster that has been up for awhile they are still updating:

Creation date:
[code]

Up

[2021-04-22 18:18] jsturtevant commented on #599
/sig windows
/assign

[2021-04-22 18:23] jsturtevant commented on #599
Checking the registry values I see an extra parameter which indicates that they are scheduled in the background:

[code]

From https://docs.microsoft.com/en-us/windows/deployment/update/waas-wu-settings#configuring-automatic-updates-by-editing-the-registry:

    1: Keep my computer up to date is disabled in Automatic Updates.

    2: Notify of download and installation.

    3: Automatically downl

[2021-04-22 20:01] jsturtevant commented on #588
interestingly this failed in [CI](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_image-builder/600/pull-azure-vhds/1385302383067664384) today but it wasn't a silent failure:

[code]

[2021-04-23 23:48] jayunit100 opened #601 "Buidling OS X OVAs fails due to concurrency issue"
**What steps did you take and what happened:**

built a windows iso using `make build-node-ova-local-windows-2019`  I got an error:

[code]

**What did you expect to happen:**

ova was built w/o a weird objc error :)

**Anything else you would like to add:**

Workaround i think is to do

[code]

Maybe we should add that somehow to the ansible stuff if theres an os x specific excution path ?

**Env

[2021-04-24 00:23] jsturtevant commented on #601
Does this only happen on OS X? There are things in the code to handle special cases: https://github.com/kubernetes-sigs/image-builder/blob/212059706cb1b319c5dcdc39752048fb41e2cb54/images/capi/hack/ensure-ansible-windows.sh#L27

Is this limited to only the Windows builds or also Linux vms?

[2021-04-24 01:32] jayunit100 opened #602 "windowz: print url during downloads"
**Is your feature request related to a problem? Please describe.**

Right now we download windows assets, but we

- dont show the url we're using
- dont show the size of the final assets

Would be nice if we had some metadata about the downlaoded assets....

[code]
doesnt show the download urls for windows bits

**Describe the solution you'd like**

print the full url of the download so we now whe

[2021-04-24 05:15] jayunit100 commented on #602
so, `win_get_url` is a canned ansible task i guess?
not sure how to approach this but, the pertinent file i think is

maybe somethin like....?
[code]

[2021-04-26 07:48] invidian commented on #541
@dongsupark could you check that please?

[2021-04-27 08:51] #465 closed

[2021-04-29 16:36] #532 closed

[2021-04-30 09:25] dongsupark commented on #541
I tested with Packer 1.7.2, and can confirm it works well.
You can close the issue. :-)

[2021-04-30 09:56] invidian commented on #541
Resolved in #570 then.

[2021-04-30 16:55] perithompson commented on #599
I just started to see errors setting up OpenSSH Server this with the Feb2021 window 2019 media, this has only just started happening and was working fine before?

TASK [systemprep : Install OpenSSH] ********************************************
fatal: [default]: FAILED! => {"changed": true, "cmd": "Get-WindowsCapability -Online -Name OpenSSH.Server* | Add-WindowsCapability -Online", "delta": "0:00:

[2021-05-04 10:53] perithompson commented on #602
@jayunit100 you can see all the urls in the print at the start of the ansible run
[code]

K8s for instance is `kubernetes_base_url=https://kubernetesreleases.blob.core.windows.net/kubernetes/v1.20.5/binaries/node/windows/amd64`

[2021-05-04 10:54] perithompson commented on #602
/assign

[2021-05-13 15:09] perithompson commented on #602
Closing this as it will tell you the download path at the start of the ansible run, reopen if this isn't enough

[2021-05-13 20:04] codenrhoden opened #608 "Disable GOSS inspect mode by default"
Right now, our GOSS tests have GOSS inspect mode [enabled](https://github.com/kubernetes-sigs/image-builder/blob/5c9ccea21d1a32b0bfbcd2bff8bdbe17e6fbce2d/images/capi/packer/config/goss-args.json#L6). This means that failed GOSS tests won't fail the build.

This made sense early on in the project, as there were often failures to be worked out. Failed tests (depending on provider) often lead to the

[2021-05-13 20:21] codenrhoden opened #609 "Refactor Debian Preseed files to remove duplication"
With the introduction of EFI support for Ubuntu OVAs, it became even more clear that there was a lot overlap in our existing Debian preseed files. I believe the majority of the files are duplicative, and this holds true for OVA, RAW, and QEMU builders.

Using [chainloading](https://www.debian.org/releases/jessie/amd64/apbs05.html.en), I think it should be possible to break up these files into logi

[2021-05-13 21:16] perithompson commented on #608
I'd be slightly concerned with the windows tests being able to fail the build as they have some timeout issues on slow hardware that I've not had chance to chase down that I think is caused by the expensive API calls getting windows features, but I think the upstream tests are ok to have it enabled im more concerned that the windows users will have an hour wait only to be failed by a time out in a

[2021-05-13 21:57] jsturtevant commented on #608
Sounds like the Azure CI jobs are ok? I would be concerned if those started flaking.  Should we make recommendation on minimal VM specs?

Is there  a way to increase the timeout for those calls?

[2021-05-14 01:30] #456 closed

[2021-05-14 17:27] #599 closed

[2021-05-14 22:32] jaxesn opened #613 "capi Ubuntu 20.04 ami launch issue"
**What steps did you take and what happened:**
I tried to create a capi cluster using the `capa-ami-ubuntu-20.04-1.19.8-00-1613848167` ami on AWS.  The kube-apiserver and kube-controller-manager pods fail to launch.  The following exists in the containerd logs:

[code]
The issues appears to be the existence of an "incomplete" `/etc/pki` folder in the Ubuntu 2004 ami.  As a side note, this folder d

[2021-05-17 07:55] kkeshavamurthy opened #615 "`python_path` error when building Azure images"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

On some machines when building Azure images, I see
[code]

**What did you expect to happen:**
builds to not fail

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

Adding `python_path: ""` to azure/packer.json fixed the issue.

**

[2021-05-18 16:01] codenrhoden commented on #615
That's very strange, and somewhat inconsistent... Looking at how/where/when `python_path` is defined (and ignoring where it is passed to Ansible):

[code]

It's only defined when Flatcar needed to pass a specific path. Everywhere else, it is left as `""`, and if *is* undefined (like for Azure, OVA), Packer's behavior has always been to evaluate it as an empty string. What you are describing is as

[2021-05-18 16:04] codenrhoden commented on #608
I think on path forward here would be the intermediate ground -- leaving it off, but explicitly enabling it for CI. I think that would give us the benefit of the tests while leaving people able to build/debug as needed (and they can turn it on if they want).

[2021-05-19 08:36] #437 closed

[2021-05-20 11:42] kkeshavamurthy opened #619 "Firmware type of Ubuntu EFI ova is reported as bios on vCenter"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
- Create a ubuntu-2004-efi ova
- Deploy the create OVA into vCenter thru URL.
- Deployed template -> edit settings -> vm options -> boot options -> firmware.
- Shows `bios` instead of `efi`

**What did you expect to happen:**
firmware type of ubuntu-2004-efi ova should show `efi`

**Anythi

[2021-05-24 18:35] #518 closed

[2021-05-25 14:31] codenrhoden commented on #513
FWIW, there is no longer any dependency on ovftool, and the Dockerfile doesn't try to install it. It's an option to use if present, enabled with env vars. I think it's still worth keeping this issue around, though.

/lifecycle frozen

[2021-05-25 14:35] codenrhoden commented on #506
With the fixes that have gone in around the containerd checksum and renaming the pause_image variable, I think this can be closed?

[2021-05-25 15:21] codenrhoden commented on #596
@kkeshavamurthy yeah, I think that would make sense. What is there right now doesn't give users a way to pass custom variables to Ansible at all. The only way to do it would be to do append to `ansible_extra_vars`, which is in direct opposition to the "don't edit the JSON files" goal.

[2021-05-28 13:05] perithompson opened #621 "OpenSSH install fails after windows defender definition failures"
**What steps did you take and what happened:**

Since we have allowed the windows updates to fail I am periodically seeing the ssh install fail immediately after,  I believe these may be related but unsure what is causing this at the moment, it is almost like the command leaves the host in an errored state meaning installing features fails.
[code]

    vsphere: ...ignoring

    vsphere:

    vsphe

[2021-05-28 17:08] jsturtevant commented on #621
this would be good to try.  I wonder if the update is running and openssh fails because the update is in progress.

I will have to ask around.  @immuzz would you be able to help figure this out?

[2021-05-28 17:58] perithompson commented on #621
I think it's just a cab file but as it's pulling from the internet this step has been unreliable when the internet seems bad...

[2021-06-01 06:56] perithompson commented on #621
interestingly, I've run a couple of tests with

[code]

Commented out and it seems to fix whatever intermittence I have, although needs more testing, something in these reg keys must be helping the OpenSSH command to succeed?  I will do some more digging

[2021-06-01 06:57] perithompson commented on #621
/assign

[2021-06-02 13:31] cprivite commented on #468
Yeah, for our use case, we don't even need new code, just some readjustment of the config file structuring so you can have packer create the template on vSphere and be done. No further downloading, uploading, or anything else with ova files needed.

[2021-06-02 21:13] codenrhoden commented on #468
@cprivite Do you see a way to restructure the Packer config file to accomplish this? I haven't seen a way so far.

The problem as I see it is that the `export` section for a `vsphere-iso` Packer builder doesn't have a flag to enable/disable. So long as the `export` section is there, it will download the VM disk. Ideally I would want to be able to toggle this section off in the scenario where we ar

[2021-06-03 17:43] #596 closed

[2021-06-03 20:10] perithompson commented on #506
Yep I think you're right, we can close this out!

[2021-06-03 20:45] jayunit100 opened #626 "one-liner ! parameterize docker.io for non docker base image builds"
**Is your feature request related to a problem? Please describe.**
Cant build from docker.io behind a corporate network (src/capi) in the Dockerfile

**Describe the solution you'd like**
I'd like to build from an alternative base registry

Can we parameterize the value of the `FROM` in the `Dockerfile` ? That way we dont have to do `sed s/g` style hacks in downstream tools that want to build from

[2021-06-03 21:02] codenrhoden commented on #506
/close

[2021-06-03 21:02] #506 closed

[2021-06-09 12:56] invidian commented on #542
/remove-lifecycle stale

[2021-06-15 20:43] kbreit opened #630 "Python not found"
**What steps did you take and what happened:**
I'm developing a CICD pipeline to use image-builder and receiving an error:

[code]

**What did you expect to happen:**
I didn't expect the error as I do install python3 as part of the pipeline.

**Anything else you would like to add:**
Pipeline is run in gitlab-runner and is as follows:

[code]

**Environment:**

Project ([Image Builder for Cluster A

[2021-06-15 21:32] hem2 opened #631 "Qemu image build for Ubuntu 20.04 fails with RedHat error"
/kind bug

What steps did you take and what happened:
Followed the steps documented @ https://image-builder.sigs.k8s.io/capi/providers/openstack.html to build images for OpenStack provider on Ubuntu 20.04 and hit the below error.

[code]

What did you expect to happen:
Successfully build images

Anything else you would like to add:
[Miscellaneous information that will assist in solving the issue.]

[2021-06-16 06:17] kkeshavamurthy opened #632 "[photon-3] iptables rules get over written"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
- Configure custom iptables rules in `custom_role`. Ex
[code]
- Sysprep alters the rules by replacing `INPUT DROP` with `INPUT ACCEPT` which defeats the purpose of configuring the strict rule.

- I suggest we move these 2 [tasks](https://github.com/kubernetes-sigs/image-builder/blob/master

[2021-06-16 20:04] codenrhoden commented on #632
@kkeshavamurthy Yeah, I see what you are saying. I think relocating those two tasks into `setup/tasks/photon.yml` is a good solution.

[2021-06-21 16:24] #632 closed

[2021-06-28 11:22] kbreit commented on #567
Bump

[2021-06-28 11:23] kbreit commented on #567
/remove-lifecycle stale

[2021-06-28 11:24] kbreit commented on #568
/remove-lifecycle stale

[2021-06-28 14:44] Soren90 commented on #630
Did you solve this issue? I have the same on Ubuntu 20.04

[2021-06-28 15:47] kbreit commented on #630
@Soren90 It's still a problem and I'm actually troubleshooting it right now.

Does your approach do an apt install, save off an image, then login again?

[2021-06-28 15:53] Soren90 commented on #630
@kbreit Right after i did the apt install, i just did a logout, logged in again and then i think i also needed to do:

`PATH=/home/$USER/image-builder/images/capi/.local/bin:$PATH`

Not sure if that was required tho.

[2021-06-28 15:55] kbreit commented on #630
@Soren90 Slightly off topic but do you know how to build a container and image and upload it somewhere in Gitlab CICD? Or should I just make manually and use that as a base?

[2021-06-28 15:58] Soren90 commented on #630
@kbreit I guess we are talking docker images here? If so, I'm pretty sure they have a good example when you add the gitlab-ci.yaml to your repo

[2021-06-28 16:03] kbreit commented on #630
Correct, Docker images. When I'm setting up the `gitlab-ci.yaml` file it's blank. But trying a few things to see if I can get it working.

[2021-06-28 16:29] kbreit commented on #630
I resolved the problem. It's a PATH issue and no need to re-login.

[code]

[2021-06-28 16:30] #630 closed

[2021-06-30 15:45] jsturtevant opened #640 "Windows containerd should crictl to pull image to ensure unused files are cleaned up in containerd"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
Right now Windows containerd uses ctr.exe to pull images. This results in large footprint additional files left behind on containerd.

containerd config should have `discard_unpacked_layers=true` and we should use crictl (which respects that value) to cl

[2021-07-02 15:03] perithompson commented on #640
I don't think we download crictl.exe at the moment do we, although we should! good catch @jsturtevant

[2021-07-02 16:48] jsturtevant opened #644 "Powershell boottime improvement for Windows VMs"
Need to investigate what the requirements for ngen with powershell for golden images.  If the cpu type means amd64 we might be able to increase perf across the board.

Otherwise we could provide an optional optimization that customers could opt into if they are creating there own Golden images.

See: https://docs.ansible.com/ansible/latest/user_guide/windows_performance.html#fix-high-cpu-on-boot-f

[2021-07-02 17:41] jsturtevant commented on #640
credit to @mainred and @dcantah

[2021-07-06 16:15] codenrhoden commented on #578
/remove-lifecycle stale

[2021-07-07 14:08] ChrisMacNaughton commented on #631
I had success building this image on an Ubuntu machine by ignoring the versions of ansible and packer in distro, and using pip to install ansible (`pip install ansible`) and the `make deps-qemu` script

[2021-07-08 18:50] MnrGreg opened #649 "Add Image-builder support for Photon OS 4"
**Describe the solution you'd like**
Ability to build Photon OS 4 images so that the new features such as `Wireguard` can be leveraged

**Additional context**
https://www.tigera.io/blog/introducing-wireguard-encryption-with-calico/
https://github.com/vmware/photon/blob/c361dcc0c20934f6c1bd075864e425a53dc7dc94/SPECS/linux/linux.spec#L738

/kind feature

[2021-07-09 21:45] #396 closed

[2021-07-10 11:32] #626 closed

[2021-07-12 08:23] perithompson commented on #587
/remove-lifecycle stale

[2021-07-12 08:24] perithompson commented on #587
@codenrhoden this is waiting on #592 are we able to revisit merging that as a workaround for now while we look at alternatives to manage the unattend files

[2021-07-13 16:50] lastcoolnameleft opened #653 "Make deps on OSX and Linux fails"
**What steps did you take and what happened:**
I am going through the Quickstart on OSX and encounter the same error, if I try the tarball or git clone steps:

[code]

**What did you expect to happen:**
I expected the process to complete successfully, without error.

**Anything else you would like to add:**
This is on OSX

[code]

**Environment:**

Project ([Image Builder for Cluster API](https://

[2021-07-13 17:00] lastcoolnameleft commented on #653
I have also just tried this on a fresh VM in Azure and had similar issues.

Here's the commands I ran on this VM to get setup:
[code]

Here's the `make deps` command run:

[code]

[2021-07-16 17:48] #595 closed

[2021-07-17 00:05] #505 closed

[2021-07-19 16:05] CecileRobertMichon commented on #589
/remove-lifecycle stale

[2021-07-20 16:05] CecileRobertMichon commented on #653
@lastcoolnameleft in order to use Python3 this is what we do in Azure CI: https://github.com/kubernetes-sigs/image-builder/blob/master/images/capi/scripts/ci-azure-e2e.sh#L46

you have to make sure your Python3 binary is in path. We should improve the docs at https://image-builder.sigs.k8s.io/capi/quickstart.html#dependencies to make that clear.

[2021-07-20 16:06] CecileRobertMichon commented on #653
alternatively you can do everything in a container: https://image-builder.sigs.k8s.io/capi/container-image.html

[2021-07-21 22:59] jsturtevant commented on #559
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-07-26 18:55] hem2 commented on #631
Not sure, how I hit this issue. I'm unable to reproduce this anymore. We can close this.

[2021-07-26 18:55] #631 closed

[2021-07-27 11:48] randomvariable opened #667 "[Cluster API] Amazon Linux 2 formats and mounts volumes after containerd starts"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

After reviewing the various cloud.cfgs in the distros again in https://github.com/kubernetes-sigs/image-builder/pull/114#issuecomment-571252270 , it looks like for Amazon Linux 2, disk_setup and mounts modules are executed in the `cloud-config` systemd unit. Unfortunately, this means for

[2021-07-29 02:45] outofmem0ry commented on #575
Not sure what the final resolution to this issue was? Ran into this while building windows image using [evaluation iso](https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2019). As a workaround updated the `image-builder/images/capi/ansible/windows/roles/systemprep/tasks/main.yml` with the check below. Although not sure how the impact will be across the versions mentioned in the in

[2021-07-29 03:06] outofmem0ry opened #668 "Windows image build fails as ansible win_template module fails with FileNotFoundError"
**What steps did you take and what happened:**
Followed the instructions to create a Windows image but the image building process failed with an error
[code]

**Anything else you would like to add:**
After some research on the issue looks like this was first fixed by https://github.com/kubernetes-sigs/image-builder/pull/624 and later reverted by https://github.com/kubernetes-sigs/image-builder/pul

[2021-07-29 15:04] perithompson commented on #668
/sig windows

[2021-07-31 16:20] #530 closed

[2021-08-02 10:11] perithompson commented on #668
@jsturtevant I guess the ansible-galaxy update hasn't worked for everyone?  I've had a couple of reports so I wonder if this is OS-dependent or something

[2021-08-02 15:52] jsturtevant commented on #668
@outofmem0ry could you check that you have the correct windows package by running: `ansible-galaxy collection list ansible.windows`?

[2021-08-02 19:38] #537 closed

[2021-08-03 17:05] jayunit100 opened #672 ""graduate" hack/burrito.go to sig-windows-tools/"
**What steps did you take and what happened:**

Sig-windows is going to start hosting a more full featured version of the burrito server for windows-dev-tools and for cluster-api testing. So this issue is a semaphore to delete the burrito.go once https://github.com/kubernetes-sigs/sig-windows-tools/pull/153 is completed.

[2021-08-05 16:55] mboersma commented on #668
I ran into the same problem, and after a lot of thrashing around found that updating ansible to 4.2.0 and installing ansible.windows explicitly seemed to work. YMMV of course, but here's the change I made in case it helps: https://github.com/deis/docker-go-dev/pull/307/files

[2021-08-10 13:23] randomvariable opened #675 "Remove install of vsphere guestinfo metadata source for cloud-init after v0.21.3"
**Is your feature request related to a problem? Please describe.**

https://github.com/canonical/cloud-init/pull/953 (thanks @akutz ) adds a new vSphere metadata source into cloud-init, which means we should remove the custom install in image builder at such a time that distro provided cloud-init packages include the new datasource by default. This should be v21.3 (@akutz  will confirm), but with

[2021-08-12 13:18] randomvariable opened #676 "DHCP Option 42 doesn't working on Ubuntu 20.04"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

**What did you expect to happen:**
Chrony will only have its time source configured via DHCP using dhclient, for which there is a script in /etc/dhcp/dhclient-exit-hooks.d/chrony

The dhclient script for DHCP on Ubuntu is incompatible with chrony and only supports timesyncd.

Attempting t

[2021-08-12 13:19] randomvariable commented on #676
@MaxRink , have you seen this one?

[2021-08-12 13:39] MaxRink commented on #676
and iirc we should still be able to hook a script to dhcp events in ubuntu 2004

[2021-08-12 16:55] randomvariable commented on #676
that script is already there in exit scripts, but the problem is that systemd-networkd doesn't use dhclient.

[2021-08-16 01:27] #551 closed

[2021-08-16 09:15] mlichvar commented on #676
There is a networkd-dispatcher [package](https://packages.ubuntu.com/focal-updates/networkd-dispatcher) in Ubuntu to call scripts when the connection status changes with networkd. The chrony package already has a script called by the dispatcher, but it handles just the online/offline state. A new dispatcher script could be added to parse NTP servers from the `networkctl status` output and add them

[2021-08-16 16:20] jsturtevant commented on #554
/reopen

[2021-08-16 16:21] jsturtevant commented on #554
/remove-lifecycle rotten

[2021-08-17 10:39] jayunit100 commented on #672
i think we can now delete this code , as its in sig-windows-tools

[2021-08-18 16:00] jayunit100 commented on #575
just saw this again
[code]

[2021-08-18 16:08] jayunit100 commented on #575
@outofmem0ry do you want to make a PR with that ? i'd love to have that as a fix to this issue !

[2021-08-18 18:38] jayunit100 opened #680 "vmware-diskmanager, final steps, fail are they required though ?"
**What steps did you take and what happened:**

Seems like its easy to not have the `/Applications/VMware\ Fusion.app/Contents/Library/vmware-vdiskmanager` setup properly.

[code]

This results in a catastrophic failure - if this step is really required (is it just optimizing the vmdk size)???
- can we make it optional ?
- or can we-pre-check for this installation on image-builder startup ?

**Wha

[2021-08-19 12:47] perithompson commented on #575
i think we could do this in an ansible step couldn't we?

- name: Enable ssh login without a password
  win_shell: |
    $PATH = "$env:ProgramData\ssh\sshd_config"
    $PATH |% {
           If (Test-Path -Path $_) { Get-Item $_ }
           Else { New-Item -Path $_ -Force }
    } | Add-Content -Value "PasswordAuthentication no`nPubkeyAuthentication yes"

i think there could be an ensure file or so

[2021-08-19 14:54] jsturtevant commented on #575
If I understand correctly, the evaluation copies of windows is missing the file `$env:ProgramData\ssh\sshd_config`?

[2021-08-19 22:05] #559 closed

[2021-08-23 18:59] outofmem0ry commented on #575
@jayunit100 sounds good. I've done a test recently but will love some extra eyes.
@jsturtevant yes, I encountered this issue on an evaluation copy as well.

[2021-08-26 14:21] jayunit100 opened #683 "Upstream Documentation for Airgapped imagebuilder on Windows"
**Is your feature request related to a problem? Please describe.**

We need to document all the artifacts required to build windows OS's

**Describe the solution you'd like**

Annotation of the existing windows artifacts we pull

[2021-08-27 18:56] dwannamaker-onr opened #684 "Packer Build does not start on CentOS7 and CentOS8"
Two different CentOS systems had this issue in our lab:  Trying to build the windows image with Packer, targeting a vCenter host cluster.  No logs our output from Packer, no tasks happening in vCenter.  SELINUX is disabled, Firewall is disabled.  Running as root.

Here's the output:
[code]
(no output after this point, waited overnight.. also nothing in packer.log)

Here's my windows.json:
[code]

[2021-08-28 18:26] jayunit100 commented on #684
big thanks for filing this ....

.... @perithompson do you think the fact that `packer build` literally, hangs forever, is a bug on the packer side that we should track in this issue ?

I do, at the very least, so others can see this image as a reference.

[2021-09-01 01:46] dwannamaker-onr commented on #684
Hey I, I don't know if this helps, but when I press <Enter> while waiting for packer, I get this output from the console:

[code]

[2021-09-02 03:45] #576 closed

[2021-09-03 13:12] perithompson commented on #602
/close
I think this is ok to close now as we print the URLs that were requested

[2021-09-03 13:12] #602 closed

[2021-09-03 13:12] perithompson commented on #593
as this has moved to sig-windows-tools this issue can be closed
/close

[2021-09-03 13:12] #593 closed

[2021-09-03 14:28] jsturtevant opened #688 "goss is failing regularly on Azure gen2 images"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

We have seen this flake on ubuntu 1804 and 2004 multiple times.  As an example:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_image-builder/652/pull-azure-sigs/1433463530325020672

[code]

If looks like the issue is with the kublet check:

[code]

**What did

[2021-09-03 15:18] perithompson commented on #684
Thanks @jayunit100, someone else mentioned this to me the other day but I think this is a packer issue and not image-builder, the only question mark is whether it is something to do with how the ensure scripts configures packer

[2021-09-03 15:24] perithompson commented on #684
I saw https://github.com/hashicorp/packer/issues/5113 and wondered if this was the same issue but the other person seeing this hasn't got past the error yet either

@dwannamaker-onr  could you use the docker image instead of installing all the pre-reqs to unblock you? https://github.com/kubernetes-sigs/image-builder/blob/master/docs/book/src/capi/container-image.md

[2021-09-03 17:55] dwannamaker-onr commented on #684
@perithompson Thanks.  I was able to get past being stuck by just using an Ubuntu VM.  I think Docker would have worked also since it's using Ubuntu as the base.

[2021-09-04 00:07] #579 closed

[2021-09-07 13:07] invidian commented on #542
/remove-lifecycle stale

[2021-09-13 17:25] perithompson commented on #621
/remove-lifecycle stale

[2021-09-14 10:08] randomvariable commented on #556
/reopen
/lifecycle frozen

[2021-09-14 10:41] randomvariable commented on #556
We have the same issue in CAPA. We should be following the Fedora/RH convention of siphoning audit logs into /var/log/audit.log instead of spamming the systemd journal.

[2021-09-14 13:40] randomvariable commented on #556
Looking into this I think there are two options:
* Make the containerd audit rules opt-in for CIS compliance
* Default to masking the systemd-journald-audit.socket so audit logs only go to /var/log/audit/audit.*

[2021-09-14 14:22] sbueringer commented on #556
2nd option would be the same as on other operating systems?

Might be could to try to keep it consistent.

[2021-09-14 17:21] randomvariable commented on #556
I checked, and in fact, Fedora / RH do still log to journald, the spamming is caused by the extra rules we added for containerd due to the CIS benchmark.

[2021-09-14 18:03] sbueringer commented on #556
And we have the spam on all OS or are they Ubuntu-specific?

[2021-09-14 21:05] knabben opened #693 "Error running SSH login w/o password step for Windows"
**What steps did you take and what happened:**

Making the ova local windows target with ISO - `17763.737.190906-2324.rs5_release_svc_refresh_SERVER_EVAL_x64FRE_en-us_1.iso`

[code]

**What did you expect to happen:**

Fix the ssh login patching the configuration file to accept only PubKey setup, and removing the password access.

**Anything else you would like to add:**

`ProgramData\ssh` does no

[2021-09-15 09:16] randomvariable commented on #556
Spam is on everything except Flatcar by the looks of the Ansible.

[2021-09-15 09:46] #693 closed

[2021-09-18 01:13] knabben opened #698 "Local VirtualBox hypervisor build"
**Is your feature request related to a problem? Please describe.**
OVA and local images supports are not fully compatible with Vagrant or can be built with free hypervisor without converting steps, to overcome it and integrate with the build pipeline, a make target needs to be created using this vbox.

**Describe the solution you'd like**
Have the output of a Vagrant `.box` image, using an open-so

[2021-09-19 19:48] #598 closed

[2021-09-19 21:48] #588 closed

[2021-09-21 00:13] jsturtevant commented on #621
I am wondering if would help if we add an additional reboot to ensure the updates are processed before installing ssh?

[2021-09-21 02:02] #601 closed

[2021-09-21 09:10] perithompson commented on #621
I've tried that too @jsturtevant, once it fails, no matter what I do as the packer user it ALWAYS fails, if I manually log on as another account it works though, if that triggers any thoughts?

[2021-09-22 16:02] jsturtevant opened #700 "Evaluate standardizing sysprep scripts for Windows deployements"
We have a sysprep scripts for ami, Azure, VMware, and Virtual Box.  Mostly these scripts are the same.  We should evaluate and look into how much they are the same and if there is any value in consolidating the sysprep scripts to be the same across providers.

_Originally posted by @knabben in https://github.com/kubernetes-sigs/image-builder/pull/699#discussion_r713401052_

[2021-09-27 13:02] knabben opened #702 "Parametrize Windows kubelet Ansible role"
**Is your feature request related to a problem? Please describe.**
Not all Kubelet parameters are migrated to Kubelet configuration file (i.e. instance specifics ones), one example is the `--node-ip`, this way there's no way to add an IP to kubelet

**Describe the solution you'd like**
Let windows kubelet pickup the interface can be tricky (https://github.com/kubernetes/kubernetes/issues/104269),

[2021-09-27 15:22] jsturtevant commented on #702
/sig windows

[2021-09-28 18:48] jsturtevant opened #703 "Azure Windows containerd make targe pass blank pause image"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]
run `make build-azure-vhd-windows-2019-containerd`

the ansible output has a blank pause image:

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

Project ([Image Builde

[2021-09-28 18:48] jsturtevant commented on #703
/assign

[2021-09-28 19:44] jsturtevant commented on #703
this looks like it is now working properly in docker either:

[code]

[2021-09-29 16:06] mkjpryor opened #705 "Use HWE kernel in Ubuntu images"
**Is your feature request related to a problem? Please describe.**

I am trying to use advanced networking features in the Cilium CLI and the default kernel version in Ubuntu 20.04 is too old. I expect many other advanced features suffer from the same problem.

**Describe the solution you'd like**

For Ubuntu-based images, use the [HWE kernel](https://wiki.ubuntu.com/Kernel/LTSEnablementStack).

/

[2021-09-30 16:43] SanikaGawhane commented on #676
/assign @SanikaGawhane

/lifecycle active

[2021-09-30 16:45] SanikaGawhane commented on #676
I am currently looking into this issue. Trying to recreate it to explore possible approaches and solutions.

[2021-09-30 19:58] jsturtevant commented on #640
/remove-lifecycle stale

cc: @knabben

[2021-09-30 20:22] knabben commented on #640
/assign

[2021-09-30 21:15] knabben commented on #668
If you have ansible installed in the path, it will bypass the `ansible-windows` installation, and unexpected process can happen. Maybe we need to check if ansible-windows exists after `ansible check`

[2021-10-01 01:23] knabben commented on #672
/sig windows

[2021-10-01 01:26] knabben commented on #554
/sig windows

[2021-10-01 01:27] knabben commented on #644
/sig windows

[2021-10-04 13:48] jepio commented on #688
I think its ubuntu images in general, not gen2, and I hit the same on my PR #701. I believe its related to `kubelet.service` being started and being in a restart-loop, so occasionally its running when goss looks. I've added a commit that ensures the service is stopped (but stays enabled), so that the test should not fail any more.

[2021-10-05 08:03] perithompson commented on #703
Strange, I haven't seen this happening but perhaps I missed it? I see you have a PR open though so I will give it a try!

[2021-10-05 15:44] dkoshkin opened #709 "Well defined Containerd imports directory"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We would like to use the [CAPA AMIs](https://cluster-api-aws.sigs.k8s.io/amis.html) generated by image-builder with some modifications to the Containerd configuration (enabling metrics, adding mirrors). Containerd has an `imports` [config]

[2021-10-05 16:25] codenrhoden commented on #578
/remove-lifecycle stale

[2021-10-05 16:57] dlipovetsky commented on #709
For reference, [this is the containerd code](https://github.com/containerd/containerd/blob/c23f52af30b4461dd6ae8224ceb553040e79d4d3/services/server/config/config.go#L288-L314) that resolves the `imports` list entries. Something like `imports = ["/etc/containerd/imports/*.toml"]` would capture all the files matched by the glob.

[2021-10-05 22:29] jsturtevant commented on #709
I think this is a cleaner solution to what we have now.  What steps are you preforming for adding the additional containerd toml files to the images?

[2021-10-06 00:00] #703 closed

[2021-10-06 15:25] dkoshkin commented on #709
We've modified the Containerd config template that always includes an `imports` field, but would like to contribute it back into here.

[2021-10-06 17:31] MaxRink opened #712 "[Ubuntu] Cloud-init failing with KeyError: id0"
**What steps did you take and what happened:**
with new ubuntu builds i am seeing cloud-init failing to assign networking with `KeyError: id0`

[code]

metadata:
[code]

**What did you expect to happen:**
Cloud init is working properly

**Environment:**

Project: CAPI

Additional info for Image Builder for Cluster API related issues:

- OS (e.g. from `/etc/os-release`, or `cmd /c ver`): Ubuntu 200

[2021-10-06 19:03] randomvariable commented on #712
The metadata looks correct, so not sure what's happening. @akutz has the most context about cloud-init bits.

[2021-10-06 22:42] akutz commented on #712
I just posted this to the Cloud-Init IRC channel:

Basically, I agree, the following looks correct:

[code]

It's even what the [docs say](https://cloudinit.readthedocs.io/en/latest/topics/network-config-format-v2.html). But I'll be damned if [the code](https://github.com/canonical/cloud-init/blob/de166ec3e796c842330865d56c39962f0db45aac/cloudinit/net/network_state.py#L133-L146) for the stack trac

[2021-10-06 23:17] MaxRink commented on #712
it got introduced somewhere between 20.1 and 203.
Given that we use a patch release iso it actually might be caused by the new vmware datasource which is enabled for new installs.

[2021-10-06 23:24] akutz commented on #712
I will look at this when I have time. The thing passes all the provided unit tests, so if this is a bug (which it appears to be), it's an odd one. I tested e2e by using Impish as well as upgrading a 21.04 install to Cloud-Init v21.3. I did not validate the older releases update channels.

[2021-10-06 23:37] MaxRink commented on #712
hmm, we still use the 20.04.1-legacy iso and are nowhere pinning the version of cloud-init.
We have a few extra roles that for example install the HWE Kernel, maybe that brings v21.3 with it